Repository hashicorp/nomad, pull requests merged in 2019-11, with the labels that each got.

#6654 Added firecracker-task-driver to community docs
  website/source/docs/drivers/external/firecracker-task-driver.html.md
  website/source/docs/drivers/external/index.html.md
  website/source/layouts/docs.erb
Labels: docs, driver

#6640 doc: add missing fields to LXC driver documentation
  website/source/docs/drivers/external/lxc.html.md
Labels: docs, driver

#6680 vault: check token_explicit_max_ttl as well
  nomad/vault.go
  nomad/vault_test.go
Labels: vault

#6685 remove accidental project leakage in api/ package
  GNUmakefile
  api/allocations_test.go
  api/api_test.go
  api/go.mod
  api/go.sum
  api/util_test.go
Labels: api

#6726 doc: clarify that gcc-go is not supported
  README.md
Labels: docs

#6729 Docs: correct that exec task flag is not optional
  website/source/docs/commands/alloc/exec.html.md.erb
Labels: bug, docs

#6684 nomad exec: check stdout for tty as well
  command/alloc_exec.go
Labels: cli

#6730 Docs: add missing exec command to alloc listing
  website/source/docs/commands/alloc.html.md
Labels: bug, docs

#6731 Docs: fix broken alloc signal link
  website/source/docs/commands/alloc.html.md
Labels: bug, docs

#6738 CLI: Remove duplicated error output
  command/alloc_exec.go
  command/alloc_logs.go
Labels: bug, cli

#6562 UI: Update ivy-codemirror to unreleased commit
  ui/config/deprecation-workflow.js
  ui/package.json
  ui/yarn.lock
Labels: bug, ui

#6370 command: add -tls-server-name flag
  api/api.go
  command/meta.go
  command/meta_test.go
  website/source/docs/commands/_general_options.html.md
Labels: tls

#6669 Allow UI to query client directly for task logs/state
  command/agent/http.go
Labels: allocation API, api, ui

#6763 drivers: always initialize taskHandle.logger
  CHANGELOG.md
  drivers/exec/driver.go
  drivers/exec/driver_pre09.go
  drivers/java/driver.go
  drivers/java/driver_pre09.go
  drivers/qemu/driver.go
  drivers/qemu/driver_pre09.go
  drivers/rkt/driver.go
  drivers/rkt/driver_pre09.go
Labels: client, client-restart

#6762 document docker dangling container reaper
  website/source/docs/drivers/docker.html.md
  website/source/guides/upgrade/upgrade-specific.html.md
Labels: docs, driver/docker

#6766 docs: address more GH-6762 review comments
  website/source/docs/drivers/docker.html.md
  website/source/guides/upgrade/upgrade-specific.html.md
Labels: docs

#6735 Add a Windows machine to e2e test runner
  e2e/affinities/input/anti_affinities.nomad
  e2e/affinities/input/multiple_affinities.nomad
  e2e/affinities/input/single_affinity.nomad
  e2e/allocstats/input/raw_exec.nomad
  e2e/clientstate/restarter.nomad
  e2e/clientstate/sleeper.nomad
  e2e/connect/input/demo.nomad
  e2e/consul/input/canary_tags.nomad
  e2e/consul/input/checks_group.nomad
  e2e/consul/input/checks_group_update.nomad
  e2e/consul/input/checks_task.nomad
  e2e/consul/input/checks_task_update.nomad
  e2e/consul/input/consul_example.nomad
  e2e/consultemplate/input/docker.nomad
  e2e/deployment/input/deployment_auto0.nomad
  e2e/deployment/input/deployment_auto1.nomad
  e2e/fabio/fabio.nomad
  e2e/hostvolumes/input/single_mount.nomad
  e2e/metrics/input/cpustress.nomad
  e2e/metrics/input/diskstress.nomad
  e2e/metrics/input/helloworld.nomad
  e2e/metrics/input/memstress.nomad
  e2e/metrics/input/redis.nomad
  e2e/metrics/input/simpleweb.nomad
  e2e/nomad09upgrade/docker.nomad
  e2e/nomad09upgrade/exec.nomad
  e2e/nomad09upgrade/rawexec.nomad
  e2e/nomadexec/testdata/docker.nomad
  e2e/prometheus/prometheus.nomad
  e2e/spread/input/even_spread.nomad
  e2e/spread/input/multiple_spread.nomad
  e2e/taskevents/input/completed_leader.nomad
  e2e/taskevents/input/failed_batch.nomad
  e2e/taskevents/input/failed_sibling.nomad
  e2e/taskevents/input/simple_batch.nomad
  e2e/terraform/compute.tf
  e2e/terraform/main.tf
  e2e/terraform/shared/config/provision-windows-client.ps1
  e2e/terraform/shared/nomad/client-windows.hcl
  e2e/terraform/terraform.tfvars
Labels: platform-windows

#6769 docs: show /etc/passwd in minimal chroot
  website/source/docs/configuration/client.html.md
Labels: docs, driver/exec

#6590 Plugins device: remove trace level containing config contents
  plugins/shared/cmd/launcher/command/device.go
Labels: logging

#6761 acl_endpoint: permission denied for unauthenticated requests
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/state/state_store.go
Labels: acl, api, bug
