Repository hashicorp/nomad, pull requests merged in 2019-01, with the labels that each got.

#5200 UI: Multi-select dropdown component
  ui/app/components/freestyle/sg-multi-select-dropdown.js
  ui/app/components/multi-select-dropdown.js
  ui/app/styles/components/dropdown.scss
  ui/app/styles/core/tag.scss
  ui/app/templates/components/freestyle/sg-multi-select-dropdown.hbs
  ui/app/templates/components/multi-select-dropdown.hbs
  ui/app/templates/freestyle.hbs
  ui/tests/integration/multi-select-dropdown-test.js
Labels: ui

#5223 Add Datacenters to the JobListStub struct
  api/jobs.go
  nomad/structs/structs.go
Labels: api

#5273 docs: Update affinity stanza in device
  website/source/docs/devices/nvidia.html.md
Labels: docs
