Repository hashicorp/nomad, pull requests merged in 2020-12, with the labels that each got.

#9393 docs: warn about Docker auth_soft_fail behavior
  website/pages/docs/drivers/docker.mdx
Labels: theme/docs

#9411 docs: move agent lifecycle doc under Operations heading
  website/data/docs-navigation.js
  website/pages/docs/operations/index.mdx
  website/pages/docs/operations/nomad-agent.mdx
  website/redirects.js
Labels: theme/docs

#9449 docs: using interpolation for volumes
  website/pages/docs/job-specification/volume.mdx
  website/pages/docs/job-specification/volume_mount.mdx
Labels: theme/docs, theme/storage

#9504 Small website updates
  website/pages/api-docs/agent.mdx
  website/pages/api-docs/json-jobs.mdx
  website/pages/docs/autoscaling/plugins/strategy.mdx
  website/pages/docs/commands/node/eligibility.mdx
  website/pages/docs/configuration/audit.mdx
  website/pages/docs/drivers/docker.mdx
  website/pages/docs/drivers/external/containerd.mdx
  website/pages/docs/drivers/external/index.mdx
  website/pages/docs/drivers/external/nspawn.mdx
  website/pages/docs/drivers/qemu.mdx
  website/pages/docs/index.mdx
  website/pages/docs/internals/architecture.mdx
  website/pages/docs/internals/security.mdx
  website/pages/docs/job-specification/service.mdx
  website/pages/docs/upgrade/index.mdx
  website/pages/docs/upgrade/upgrade-specific.mdx
  website/pages/intro/index.mdx
  website/pages/intro/use-cases.mdx
  website/pages/use-cases/non-containerized-application-orchestration.jsx
Labels: theme/docs

#9523 CHANGELOG: amend consul-template dep update to ref correct version.
  CHANGELOG.md
Labels: theme/docs

#9520 core: fix typo msg used when job ID/name contains a null char.
  nomad/structs/structs.go
Labels: stage/accepted, theme/core, type/bug

#9471 UI: Migrate preview deployments from Netlify to Vercel
  .netlify/ui-redirects
  ui/.vercel/build.sh
  ui/README.md
  ui/app/components/global-header.js
  ui/app/templates/components/global-header.hbs
  ui/config/environment.js
  ui/vercel.json
Labels: theme/cleanup, theme/ui

#9515 UI: Fix allocation count in CSI volumes table
  ui/app/models/volume.js
  ui/app/templates/csi/volumes/index.hbs
  ui/mirage/serializers/csi-volume.js
Labels: theme/ui, type/bug

#8917 docs: update autoscaling docs for the new query interface
  website/pages/docs/autoscaling/plugins/apm.mdx
  website/pages/docs/autoscaling/policy.mdx
Labels: stage/accepted, theme/autoscaling, theme/docs, type/enhancement

#9553 UI: Guard against null Meta on scale events
  ui/app/serializers/application.js
  ui/app/serializers/scale-event.js
  ui/tests/unit/serializers/scale-event-test.js
Labels: theme/ui

#9540 Upgrade links to guides
  website/pages/docs/install/quickstart.mdx
Labels: theme/docs, type/bug

#9536 Update golang version table
  contributing/golang.md
  scripts/update_golang_version.sh
Labels: theme/docs

#9591 UI: Fix job recommendation test flakiness
  ui/tests/acceptance/job-detail-test.js
Labels: theme/flaky-tests, theme/ui, type/bug

#9576 UI: Move breadcrumbs objects into shared layout object
  ui/tests/acceptance/client-detail-test.js
  ui/tests/acceptance/client-monitor-test.js
  ui/tests/acceptance/optimize-test.js
  ui/tests/acceptance/plugin-detail-test.js
  ui/tests/acceptance/regions-test.js
  ui/tests/acceptance/search-test.js
  ui/tests/acceptance/server-monitor-test.js
  ui/tests/acceptance/task-detail-test.js
  ui/tests/acceptance/task-group-detail-test.js
  ui/tests/acceptance/volume-detail-test.js
  ui/tests/pages/allocations/task/detail.js
  ui/tests/pages/clients/detail.js
  ui/tests/pages/clients/monitor.js
  ui/tests/pages/jobs/job/task-group.js
  ui/tests/pages/layout.js
  ui/tests/pages/optimize.js
  ui/tests/pages/servers/monitor.js
  ui/tests/pages/storage/plugins/detail.js
  ui/tests/pages/storage/volumes/detail.js
Labels: theme/cleanup, theme/ui, type/enhancement

#9601 compile release on s390x architecture
  GNUmakefile
Labels: stage/waiting-reply

#9649 UI: Change cache prefix
  .circleci/config.yml
Labels: theme/ci, theme/ui, type/bug

#9664 UI: Quietly ignore orphaned allocs in the topo viz
  ui/app/components/topo-viz.js
  ui/tests/unit/components/topo-viz-test.js
Labels: theme/ui

#9674 docs: clarify which address configurations can include ports
  website/pages/docs/configuration/index.mdx
Labels: theme/docs

#9673 docs: describe gossip encryption encoding requirements
  website/pages/docs/commands/operator/keygen.mdx
  website/pages/docs/configuration/server.mdx
Labels: theme/docs

#9680 docs: clarify behavior of plugin block merging
  website/pages/docs/configuration/index.mdx
Labels: theme/docs

#9689 Docs/operator subpages
  website/data/api-navigation.js
  website/pages/api-docs/operator.mdx
  website/pages/api-docs/operator/autopilot.mdx
  website/pages/api-docs/operator/index.mdx
  website/pages/api-docs/operator/license.mdx
  website/pages/api-docs/operator/raft.mdx
  website/pages/api-docs/operator/scheduler.mdx
  website/pages/api-docs/operator/snapshot.mdx
Labels: theme/docs
