Repository hashicorp/nomad, pull requests merged in 2020-11, with the labels that each got.

#9225 Fix for Java fingerprinter on macOS
  drivers/java/driver.go
  drivers/java/utils.go
Labels: theme/fingerprint, theme/platform-darwin, type/enhancement

#9243 CHANGELOG entry for #9225
  CHANGELOG.md
Labels: theme/docs, theme/fingerprint

#9238 fix website dependency issue
  website/package-lock.json
  website/package.json
Labels: theme/website

#9247 website: require Node v12
  website/Dockerfile
  website/Makefile
  website/README.md
  website/package.json
Labels: theme/docs

#9240 UI: Topo Viz Tooltips
  ui/app/components/topo-viz.js
  ui/app/components/topo-viz/node.js
  ui/app/styles/charts/tooltip.scss
  ui/app/templates/components/topo-viz.hbs
  ui/app/templates/components/topo-viz/datacenter.hbs
  ui/app/templates/components/topo-viz/node.hbs
  ui/app/utils/properties/style-string.js
  ui/tests/integration/components/topo-viz-test.js
  ui/tests/integration/components/topo-viz/datacenter-test.js
  ui/tests/integration/components/topo-viz/node-test.js
  ui/tests/pages/components/topo-viz/node.js
Labels: theme/ui

#9260 cli: update scaling policy list help to include job flag.
  command/scaling_policy_list.go
  website/pages/docs/commands/scaling/policy-list.mdx
Labels: theme/cli, type/enhancement

#9255 Add missing comma in help-text example.
  command/event.go
Labels: theme/docs

#9256 Use Node v12 for UI development
  .circleci/config.yml
  .circleci/config/jobs/test-ui.yml
  scripts/vagrant-linux-unpriv-ui.sh
  ui/.nvmrc
Labels: theme/ci, theme/ui

#9074 ui: "View Raw File" download using JS instead simple link
  ui/app/components/fs/file.js
  ui/app/templates/components/fs/file.hbs
  ui/tests/integration/components/fs/file-test.js
Labels: theme/ui

#9244 UI: Change node id search to prefix-only
  ui/app/components/global-search/control.js
  ui/tests/acceptance/search-test.js
Labels: theme/flaky-tests, theme/ui, type/bug

#9201 UI: Add DAS subroute and copy button
  ui/app/components/das/recommendation-card.hbs
  ui/app/components/das/recommendation-card.js
  ui/app/components/das/recommendation-row.hbs
  ui/app/controllers/optimize.js
  ui/app/controllers/optimize/summary.js
  ui/app/models/recommendation-summary.js
  ui/app/router.js
  ui/app/routes/optimize.js
  ui/app/routes/optimize/index.js
  ui/app/routes/optimize/summary.js
  ui/app/styles/components/recommendation-card.scss
  ui/app/templates/components/copy-button.hbs
  ui/app/templates/optimize.hbs
  ui/app/templates/optimize/summary.hbs
  ui/stories/components/copy-button.stories.js
  ui/tests/acceptance/optimize-test.js
  ui/tests/integration/components/das/recommendation-card-test.js
  ui/tests/pages/components/recommendation-card.js
  ui/tests/pages/optimize.js
Labels: theme/ui, type/enhancement

#9264 [Website] Bump HSM version
  website/package-lock.json
  website/package.json
Labels: theme/website

#9233 ar/groupservice: remove drivernetwork
  client/allocrunner/groupservice_hook.go
  command/agent/consul/service_client.go
Labels: theme/consul, theme/networking

#9270 UI: Topo viz error state and no data polling notice
  ui/app/abilities/abstract.js
  ui/app/abilities/job.js
  ui/app/controllers/topology.js
  ui/app/routes/topology.js
  ui/app/services/user-settings.js
  ui/app/styles/components/dashboard-metric.scss
  ui/app/styles/components/tooltip.scss
  ui/app/styles/core/columns.scss
  ui/app/templates/topology.hbs
Labels: theme/ui

#9271 UI: Update lingering instances of the old warning icon in stories
  ui/stories/components/gutter-menu.stories.js
  ui/stories/components/table.stories.js
Labels: theme/ui

#9269 UI: Fix job detail crash when recommendations off
  ui/app/abilities/abstract.js
  ui/app/abilities/recommendation.js
  ui/app/routes/application.js
  ui/app/routes/jobs/job.js
  ui/app/services/system.js
  ui/app/templates/components/job-page/service.hbs
  ui/app/templates/components/job-page/system.hbs
  ui/mirage/config.js
  ui/mirage/models/feature.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/optimize-test.js
  ui/tests/acceptance/regions-test.js
  ui/tests/unit/abilities/recommendation-test.js
Labels: theme/ui, type/bug

#9272 cli: add recommendation commands.
  command/commands.go
  command/recommendation.go
  command/recommendation_apply.go
  command/recommendation_apply_test.go
  command/recommendation_dismiss.go
  command/recommendation_dismiss_test.go
  command/recommendation_info.go
  command/recommendation_info_test.go
  command/recommendation_list.go
  command/recommendation_list_test.go
Labels: theme/cli, type/enhancement

#9288 docs: add recommendation CLI documentation.
  website/data/docs-navigation.js
  website/pages/docs/commands/recommendation/apply.mdx
  website/pages/docs/commands/recommendation/dismiss.mdx
  website/pages/docs/commands/recommendation/index.mdx
  website/pages/docs/commands/recommendation/info.mdx
  website/pages/docs/commands/recommendation/list.mdx
Labels: theme/docs, type/enhancement

#9294 UI: Add DAS summary table filtering
  ui/app/controllers/optimize.js
  ui/app/models/recommendation-summary.js
  ui/app/routes/optimize/index.js
  ui/app/templates/optimize.hbs
  ui/tests/acceptance/optimize-test.js
  ui/tests/pages/optimize.js
Labels: theme/ui, type/enhancement

#9332 UI: Add missing feature fixture that was introduced while DAS filtering was being implemented
  ui/tests/acceptance/optimize-test.js
Labels: theme/testing, theme/ui

#8807 UI: Task lifecycle poststop phase.
  ui/app/components/lifecycle-chart.js
  ui/app/styles/components/lifecycle-chart.scss
  ui/app/templates/components/lifecycle-chart.hbs
  ui/mirage/factories/task.js
  ui/tests/acceptance/allocation-detail-test.js
  ui/tests/acceptance/task-detail-test.js
  ui/tests/integration/components/lifecycle-chart-test.js
  ui/tests/pages/components/lifecycle-chart.js
Labels: theme/ui

#9186 docs: Add new Autoscaling Azure VMSS target plugin detail.
  website/pages/docs/autoscaling/plugins/target.mdx
Labels: theme/autoscaling, theme/docs, theme/website

#9372 docs: move Ruby SDK to unsupported listing.
  website/pages/api-docs/libraries-and-sdks.mdx
Labels: theme/docs, type/enhancement

#9396 docs: make dispatch payload size limit unambiguous
  website/pages/api-docs/jobs.mdx
  website/pages/docs/commands/job/dispatch.mdx
Labels: theme/docs

#9392 docs: expand artifact getter options
  website/pages/docs/job-specification/artifact.mdx
Labels: theme/docs

#9397 docs: fix some markdown escaping errors
  website/pages/docs/commands/job/revert.mdx
  website/pages/docs/commands/job/run.mdx
  website/pages/docs/drivers/external/singularity.mdx
  website/pages/partials/general_options.mdx
Labels: theme/docs

#9401 docs/help: -no-color does not apply to alloc logs content
  command/alloc_logs.go
  website/pages/docs/commands/alloc/logs.mdx
Labels: theme/docs

#9400 docs: remove -namespace option from commands when not applicable
  website/pages/docs/commands/acl/bootstrap.mdx
  website/pages/docs/commands/acl/policy-apply.mdx
  website/pages/docs/commands/acl/policy-delete.mdx
  website/pages/docs/commands/acl/policy-info.mdx
  website/pages/docs/commands/acl/policy-list.mdx
  website/pages/docs/commands/acl/token-create.mdx
  website/pages/docs/commands/acl/token-delete.mdx
  website/pages/docs/commands/acl/token-info.mdx
  website/pages/docs/commands/acl/token-list.mdx
  website/pages/docs/commands/acl/token-self.mdx
  website/pages/docs/commands/acl/token-update.mdx
  website/pages/docs/commands/agent-info.mdx
  website/pages/docs/commands/license/get.mdx
  website/pages/docs/commands/license/put.mdx
  website/pages/docs/commands/monitor.mdx
  website/pages/docs/commands/namespace/apply.mdx
  website/pages/docs/commands/namespace/delete.mdx
  website/pages/docs/commands/namespace/inspect.mdx
  website/pages/docs/commands/namespace/list.mdx
  website/pages/docs/commands/namespace/status.mdx
  website/pages/docs/commands/node/config.mdx
  website/pages/docs/commands/node/drain.mdx
  website/pages/docs/commands/node/eligibility.mdx
  website/pages/docs/commands/node/status.mdx
  website/pages/docs/commands/operator/autopilot-get-config.mdx
  website/pages/docs/commands/operator/autopilot-set-config.mdx
  website/pages/docs/commands/operator/debug.mdx
  website/pages/docs/commands/operator/raft-list-peers.mdx
  website/pages/docs/commands/operator/raft-remove-peer.mdx
  website/pages/docs/commands/operator/snapshot-agent.mdx
  website/pages/docs/commands/operator/snapshot-restore.mdx
  website/pages/docs/commands/operator/snapshot-save.mdx
  website/pages/docs/commands/plugin/status.mdx
  website/pages/docs/commands/sentinel/apply.mdx
  website/pages/docs/commands/sentinel/delete.mdx
  website/pages/docs/commands/sentinel/list.mdx
  website/pages/docs/commands/sentinel/read.mdx
  website/pages/docs/commands/server/force-leave.mdx
  website/pages/docs/commands/server/join.mdx
  website/pages/docs/commands/server/members.mdx
  website/pages/docs/commands/system/gc.mdx
  website/pages/docs/commands/system/reconcile-summaries.mdx
  website/pages/docs/commands/ui.mdx
  website/pages/partials/general_options_no_namespace.mdx
Labels: theme/docs

#9394 docs: template behavior warnings
  website/pages/docs/job-specification/template.mdx
Labels: theme/docs

#9395 docs: move telemetry under operations
  website/data/docs-navigation.js
  website/pages/docs/operations/index.mdx
  website/pages/docs/operations/metrics.mdx
  website/pages/docs/operations/telemetry.mdx
  website/redirects.js
Labels: theme/docs

#9412 docs: clarify default signal for raw_exec on Windows
  website/pages/docs/job-specification/task.mdx
Labels: theme/docs

#9415 docs: add missing command documentation
  command/metrics.go
  website/data/docs-navigation.js
  website/pages/docs/commands/operator/keyring.mdx
  website/pages/docs/commands/operator/metrics.mdx
Labels: theme/docs

#9427 docs: fix nomad.client.allocs.cpu.allocated metric unit
  website/pages/docs/operations/metrics.mdx
Labels: stage/accepted, theme/docs, type/enhancement

#9442 docs: enumerate required cgroups for exec driver
  website/pages/docs/drivers/exec.mdx
Labels: theme/docs

#9438 CSI: fix transaction handling in state store
  nomad/csi_endpoint.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: theme/storage

#9416 csi/ui: show Node Only for volumes when controllers aren't required
  ui/app/templates/csi/plugins/index.hbs
  ui/app/templates/csi/volumes/index.hbs
  ui/tests/acceptance/volumes-list-test.js
Labels: theme/storage, theme/ui

#9455 Add "compute/zone" to Azure fingerprinting
  client/fingerprint/env_azure.go
Labels: stage/accepted, theme/fingerprint, type/enhancement

#9457 Update csi_plugin.mdx
  website/pages/docs/job-specification/csi_plugin.mdx
Labels: stage/accepted, theme/docs, type/bug

#9458 Update device.mdx
  website/pages/docs/job-specification/device.mdx
Labels: stage/accepted, theme/docs, type/bug

#9460 Update group.mdx
  website/pages/docs/job-specification/group.mdx
Labels: stage/accepted, theme/docs, type/bug

#9459 Update ephemeral_disk.mdx
  website/pages/docs/job-specification/ephemeral_disk.mdx
Labels: stage/accepted, theme/docs, type/bug

#9380 UI: Add query parameter to override Mirage scenario
  ui/README.md
  ui/mirage/scenarios/default.js
Labels: theme/ui, type/enhancement

#9337 UI: Add DAS namespaces toggle and fix empty card bug
  ui/app/controllers/optimize.js
  ui/app/styles/components/toggle.scss
  ui/app/styles/components/toolbar.scss
  ui/app/templates/optimize.hbs
  ui/tests/acceptance/optimize-test.js
  ui/tests/pages/optimize.js
Labels: theme/ui, type/enhancement
