Repository hashicorp/nomad, pull requests merged in 2020-07, with the labels that each got.

#8324 UI: Persist the log stream/mode setting to localStorage
  ui/app/components/task-log.js
  ui/app/services/user-settings.js
  ui/tests/integration/task-log-test.js
Labels: ui

#8314 UI: Scaling UI UX Improvements
  ui/app/components/stepper-input.js
  ui/app/components/task-group-row.js
  ui/app/controllers/jobs/job/task-group.js
  ui/app/styles/components/stepper-input.scss
  ui/app/styles/components/tooltip.scss
  ui/app/templates/components/stepper-input.hbs
  ui/app/templates/components/task-group-row.hbs
  ui/app/templates/jobs/job/task-group.hbs
  ui/tests/integration/stepper-input-test.js
  ui/tests/pages/components/stepper-input.js
Labels: ui

#8369 Add security model document
  website/data/docs-navigation.js
  website/pages/docs/internals/security.mdx
Labels: security

#8351 Minor wording update in subnav
  website/data/subnav.js
Labels: website

#8315 docs: migration of Nomad Autoscaler docs with cluster updates.
  website/data/docs-navigation.js
  website/pages/docs/autoscaling/agent.mdx
  website/pages/docs/autoscaling/api.mdx
  website/pages/docs/autoscaling/cli.mdx
  website/pages/docs/autoscaling/index.mdx
  website/pages/docs/autoscaling/internals/checks.mdx
  website/pages/docs/autoscaling/internals/index.mdx
  website/pages/docs/autoscaling/plugins/apm.mdx
  website/pages/docs/autoscaling/plugins/index.mdx
  website/pages/docs/autoscaling/plugins/strategy.mdx
  website/pages/docs/autoscaling/plugins/target.mdx
  website/pages/docs/autoscaling/policy.mdx
Labels: autoscaling, docs, enhancement

#8380 fix volume deregister -force params in API
  api/csi.go
  vendor/github.com/hashicorp/nomad/api/csi.go
Labels: api, bug

#8398 docs: fix broken links and formatting of the autoscaler docs
  website/pages/docs/autoscaling/agent.mdx
  website/pages/docs/autoscaling/cli.mdx
  website/pages/docs/autoscaling/index.mdx
  website/pages/docs/autoscaling/plugins/index.mdx
  website/pages/docs/autoscaling/plugins/strategy.mdx
  website/pages/docs/autoscaling/plugins/target.mdx
  website/pages/docs/autoscaling/policy.mdx
Labels: docs

#8401 docs: fix markdown syntax in job stop page
  website/pages/docs/commands/job/stop.mdx
Labels: docs

#8397 Updates for 0.12 release
  website/data/alert-banner.js
  website/pages/home/index.jsx
  website/pages/use-cases/img/cni.svg
  website/pages/use-cases/img/csi.svg
  website/pages/use-cases/simple-container-orchestration.jsx
Labels: website

#8382 UI: Update template linting and fix missed curly invocations
  ui/.template-lintrc.js
  ui/app/templates/allocations/allocation/index.hbs
  ui/app/templates/allocations/allocation/task/index.hbs
  ui/app/templates/clients/client/index.hbs
  ui/app/templates/components/agent-monitor.hbs
  ui/app/templates/components/allocation-subnav.hbs
  ui/app/templates/components/client-subnav.hbs
  ui/app/templates/components/drain-popover.hbs
  ui/app/templates/components/exec/task-group-parent.hbs
  ui/app/templates/components/fs/file.hbs
  ui/app/templates/components/job-deployment.hbs
  ui/app/templates/components/job-editor.hbs
  ui/app/templates/components/job-page/parts/error.hbs
  ui/app/templates/components/job-page/parts/latest-deployment.hbs
  ui/app/templates/components/job-page/parts/summary.hbs
  ui/app/templates/components/job-page/periodic.hbs
  ui/app/templates/components/job-version.hbs
  ui/app/templates/components/list-accordion/accordion-head.hbs
  ui/app/templates/components/multi-select-dropdown.hbs
  ui/app/templates/components/search-box.hbs
  ui/app/templates/components/server-subnav.hbs
  ui/app/templates/components/stepper-input.hbs
  ui/app/templates/components/task-group-row.hbs
  ui/app/templates/components/task-log.hbs
  ui/app/templates/components/task-row.hbs
  ui/app/templates/components/two-step-button.hbs
  ui/app/templates/exec-loading.hbs
  ui/app/templates/exec.hbs
  ui/app/templates/jobs/index.hbs
  ui/app/templates/settings/tokens.hbs
  ui/package.json
  ui/stories/charts/gauge-chart.stories.js
  ui/stories/components/diff-viewer.stories.js
  ui/tests/integration/components/copy-button-test.js
  ui/tests/integration/components/lifecycle-chart-test.js
  ui/tests/integration/fs/file-test.js
  ui/tests/integration/job-editor-test.js
  ui/tests/integration/job-page/parts/body-test.js
  ui/tests/integration/job-page/parts/children-test.js
  ui/tests/integration/job-page/parts/latest-deployment-test.js
  ui/tests/integration/job-page/parts/placement-failures-test.js
  ui/tests/integration/job-page/parts/summary-test.js
  ui/tests/integration/job-page/parts/task-groups-test.js
  ui/tests/integration/job-page/periodic-test.js
  ui/tests/integration/job-page/service-test.js
  ui/tests/integration/list-pagination-test.js
  ui/tests/integration/multi-select-dropdown-test.js
  ui/tests/integration/toggle-test.js
  ui/tests/integration/util/exec-socket-xterm-adapter-test.js
  ui/yarn.lock
Labels: bug, enhancement, ui

#8405 Update preemption.mdx
  website/pages/docs/internals/scheduling/preemption.mdx
Labels: docs

#8409 UI: Fix client allocations table heading order
  ui/app/templates/clients/client/index.hbs
Labels: bug, ui

#8414 Add #8409 to changelog
  CHANGELOG.md
Labels: docs

#8416 docs: fix minor incorrect syntax in autoscaling plugin docs.
  website/pages/docs/autoscaling/plugins/apm.mdx
  website/pages/docs/job-specification/scaling.mdx
Labels: autoscaling, docs

#8413 UI: Reset the system and refetch namespaces with every token change
  CHANGELOG.md
  ui/app/controllers/settings/tokens.js
  ui/app/services/system.js
  ui/app/templates/settings/tokens.hbs
  ui/tests/acceptance/token-test.js
  ui/tests/pages/settings/tokens.js
Labels: ui

#8412 UI: Filter out new records from the job list page
  CHANGELOG.md
  ui/app/controllers/jobs/index.js
  ui/tests/acceptance/jobs-list-test.js
Labels: ui

#8418 UI: Change edition to Octane
  ui/app/templates/clients/client/index.hbs
  ui/app/templates/components/attributes-table.hbs
  ui/app/templates/components/job-deployment-details.hbs
  ui/app/templates/components/job-deployment/deployment-allocations.hbs
  ui/app/templates/components/job-deployment/task-groups.hbs
  ui/app/templates/components/reschedule-event-timeline.hbs
  ui/config/optional-features.json
  ui/package.json
  ui/stories/components/table-configuration.stories.js
  ui/tests/integration/attributes-table-test.js
Labels: enhancement, ui

#8383 Revise security model feedback
  website/pages/docs/internals/security.mdx
Labels: docs, security

#8437 [docs] Rescheduling does happen during deployments
  website/pages/docs/job-specification/reschedule.mdx
Labels: docs

#8460 UI: Fix typo in exec button URL-generation
  ui/app/components/exec/open-button.js
Labels: bug, ui

#8463 UI: Add specificity to exec allocation URL generation
  ui/app/utils/generate-exec-url.js
  ui/tests/unit/utils/generate-exec-url-test.js
Labels: enhancement, ui

#8477 UI: Always add the active region as a query param to API requests
  CHANGELOG.md
  ui/app/adapters/application.js
  ui/tests/unit/adapters/allocation-test.js
  ui/tests/unit/adapters/deployment-test.js
  ui/tests/unit/adapters/job-test.js
  ui/tests/unit/adapters/node-test.js
Labels: ui

#8476 Add capabilities to task drivers' pages
  website/pages/docs/drivers/docker.mdx
  website/pages/docs/drivers/exec.mdx
  website/pages/docs/drivers/java.mdx
  website/pages/docs/drivers/qemu.mdx
  website/pages/docs/drivers/raw_exec.mdx
Labels: docs

#8493 Update snapshot-save.mdx
  website/pages/docs/commands/operator/snapshot-save.mdx
Labels: docs

#8494 docs: fix snapshot agent example config file syntax and values.
  website/pages/docs/commands/operator/snapshot-agent.mdx
Labels: bug, docs

#8495 UI: Fix layout of title component elements
  CHANGELOG.md
  ui/app/templates/components/job-page/parts/title.hbs
Labels: bug, ui

#8507 updating banner for webinar
  website/data/alert-banner.js
Labels: website

#8509 UI: Include the region query param on the View Raw File link in the task fs explorer
  CHANGELOG.md
  ui/app/components/fs/file.js
  ui/tests/integration/fs/file-test.js
Labels: ui

#8505 csi: NodePublish should not create target_path, only its parent dir
  client/pluginmanager/csimanager/volume.go
Labels: storage

#8491 api: task groups in system jobs do not support scaling stanzas.
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
Labels: autoscaling, bug

#8529 docs: update website and changelog to clarify and detail GH-8481
  CHANGELOG.md
  website/pages/docs/job-specification/scaling.mdx
Labels: docs, enhancement

#8513 Add TLS and HTTP Header recommendations to security model documentation
  website/pages/docs/internals/security.mdx
Labels: docs, security

#8530 api: add namespace to scaling status GET response object.
  api/jobs_test.go
  api/scaling.go
  nomad/job_endpoint.go
  nomad/job_endpoint_test.go
  nomad/structs/structs.go
Labels: api, autoscaling, bug

#8531 docs: update website and changelog to detail GH-8527
  CHANGELOG.md
  website/pages/api-docs/jobs.mdx
Labels: bug, docs

#8348 📌 Hard Pin Website Dependencies
  website/package-lock.json
  website/package.json
Labels: website

#7726 demo: update Nomad and Consul install versions in Vagrant demo.
  demo/vagrant/Vagrantfile
Labels: demos/examples, enhancement

#8537 docs and changelog entry for `nomad volume deregister -force`
  CHANGELOG.md
  website/pages/docs/commands/volume/deregister.mdx
Labels: docs

#8455 UI: Add acceptance test accessibility auditing and fixes
  ui/app/components/stepper-input.js
  ui/app/templates/components/agent-monitor.hbs
  ui/app/templates/components/copy-button.hbs
  ui/app/templates/components/gauge-chart.hbs
  ui/app/templates/components/global-header.hbs
  ui/app/templates/components/job-editor.hbs
  ui/app/templates/components/json-viewer.hbs
  ui/app/templates/components/list-pagination.hbs
  ui/app/templates/components/list-pagination/list-pager.hbs
  ui/app/templates/components/search-box.hbs
  ui/app/templates/components/stepper-input.hbs
  ui/app/templates/components/task-log.hbs
  ui/app/templates/settings/tokens.hbs
  ui/package.json
  ui/tests/acceptance/allocation-detail-test.js
  ui/tests/acceptance/application-errors-test.js
  ui/tests/acceptance/behaviors/fs.js
  ui/tests/acceptance/client-detail-test.js
  ui/tests/acceptance/client-monitor-test.js
  ui/tests/acceptance/clients-list-test.js
  ui/tests/acceptance/exec-test.js
  ui/tests/acceptance/job-allocations-test.js
  ui/tests/acceptance/job-definition-test.js
  ui/tests/acceptance/job-deployments-test.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/job-evaluations-test.js
  ui/tests/acceptance/job-run-test.js
  ui/tests/acceptance/job-versions-test.js
  ui/tests/acceptance/jobs-list-test.js
  ui/tests/acceptance/namespaces-test.js
  ui/tests/acceptance/plugin-allocations-test.js
  ui/tests/acceptance/plugin-detail-test.js
  ui/tests/acceptance/plugins-list-test.js
  ui/tests/acceptance/regions-test.js
  ui/tests/acceptance/server-detail-test.js
  ui/tests/acceptance/server-monitor-test.js
  ui/tests/acceptance/servers-list-test.js
  ui/tests/acceptance/task-detail-test.js
  ui/tests/acceptance/task-group-detail-test.js
  ui/tests/acceptance/task-logs-test.js
  ui/tests/acceptance/token-test.js
  ui/tests/acceptance/volume-detail-test.js
  ui/tests/acceptance/volumes-list-test.js
  ui/tests/helpers/a11y-audit.js
  ui/yarn.lock
Labels: bug, enhancement, ui

#8551 UI: Scaling observability
  CHANGELOG.md
  ui/app/adapters/job-scale.js
  ui/app/adapters/job-summary.js
  ui/app/adapters/watchable-namespace-ids.js
  ui/app/components/json-viewer.js
  ui/app/controllers/jobs/job/task-group.js
  ui/app/models/job-scale.js
  ui/app/models/job.js
  ui/app/models/scale-event.js
  ui/app/models/task-group-scale.js
  ui/app/models/task-group.js
  ui/app/routes/jobs/job/task-group.js
  ui/app/serializers/job-scale.js
  ui/app/serializers/job.js
  ui/app/serializers/scale-event.js
  ui/app/styles/components.scss
  ui/app/styles/components/accordion.scss
  ui/app/styles/components/inline-definitions.scss
  ui/app/styles/components/json-viewer.scss
  ui/app/templates/components/json-viewer.hbs
  ui/app/templates/components/list-accordion/accordion-body.hbs
  ui/app/templates/components/scale-events-accordion.hbs
  ui/app/templates/jobs/job/task-group.hbs
  ui/mirage/config.js
  ui/mirage/factories/job-scale.js
  ui/mirage/factories/job.js
  ui/mirage/factories/scale-event.js
  ui/mirage/factories/task-group-scale.js
  ui/mirage/models/job-scale.js
  ui/mirage/models/job.js
  ui/mirage/models/scale-event.js
  ui/mirage/models/task-group-scale.js
  ui/mirage/serializers/job-scale.js
  ui/mirage/serializers/task-group-scale.js
  ui/tests/acceptance/task-group-detail-test.js
  ui/tests/integration/components/scale-events-accordion-test.js
  ui/tests/pages/jobs/job/task-group.js
Labels: ui

#8562 e2e/csi: update EFS plugin test to use v1.0
  e2e/csi/input/plugin-aws-efs-nodes.nomad
Labels: storage, testing

#8560 UI: Change job search navigation to use id
  ui/app/components/global-search/control.js
  ui/tests/acceptance/search-test.js
Labels: bug, ui

#8558 Docs: Fix placement invocations
  website/pages/docs/job-specification/job.mdx
  website/pages/docs/job-specification/logs.mdx
Labels: bug, docs

#8566 Docs: Add documentation for job name parameter
  website/pages/docs/job-specification/job.mdx
Labels: docs

#8563 UI: Restore striped texture used in the job distribution bar
  ui/app/components/svg-patterns.js
  ui/app/templates/components/svg-patterns.hbs
Labels: bug, ui

#8568 Use the correct Message property instead of Reason in scale POST request
  ui/app/adapters/job.js
  ui/app/models/job.js
  ui/app/models/task-group.js
Labels: ui

#8569 Docs: Update Reason to Message in the job scale docs
  website/pages/api-docs/jobs.mdx
Labels: docs

#8555 docs: remove Nomad binary size from README and website.
  README.md
  website/pages/home/index.jsx
Labels: docs

#8570 UI: Add linting to check for acceptance accessibility audits
  ui/package.json
  ui/tests/.eslintrc.js
  ui/tests/acceptance/allocation-fs-test.js
  ui/tests/acceptance/search-test.js
  ui/tests/acceptance/task-fs-test.js
  ui/yarn.lock
Labels: enhancement, ui
