Repository hashicorp/nomad, pull requests merged in 2021-05, with the labels that each got.

#10334 Docs - Add environment variables to Command>Overview page.
  website/content/docs/commands/index.mdx
Labels: theme/docs, type/enhancement

#10497 Ceph CSI demo
  demo/csi/ceph-csi-plugin/README.md
  demo/csi/ceph-csi-plugin/ceph-csi-plugin.hcl
  demo/csi/ceph-csi-plugin/ceph.nomad
  demo/csi/ceph-csi-plugin/example_volume.hcl
  demo/csi/ceph-csi-plugin/nomad.vars
  demo/csi/ceph-csi-plugin/plugin-cephrbd-controller-vagrant.nomad
  demo/csi/ceph-csi-plugin/plugin-cephrbd-controller.nomad
  demo/csi/ceph-csi-plugin/plugin-cephrbd-node.nomad
  demo/csi/ceph-csi-plugin/run-ceph.sh
  demo/csi/ceph-csi-plugin/volume.hcl
Labels: theme/demos/examples, theme/storage

#10492 connect: use deterministic injected dynamic exposed port label
  CHANGELOG.md
  nomad/job_endpoint_hook_expose_check.go
  nomad/job_endpoint_hook_expose_check_test.go
Labels: stage/needs-backporting

#10496 docker: improve error message for auth helper
  drivers/docker/utils.go
Labels: theme/driver/docker, type/enhancement

#10490 ui: Fix bug where switching topo viz allocation highlights doesn’t update charts
  ui/app/components/primary-metric/allocation.hbs
  ui/app/components/primary-metric/allocation.js
  ui/tests/acceptance/topology-test.js
  ui/tests/pages/topology.js
Labels: theme/ui, type/bug

#10494 drivers: Capture exit code when task is killed
  client/allocrunner/taskrunner/lifecycle.go
  client/allocrunner/taskrunner/task_runner.go
  client/allocrunner/taskrunner/task_runner_test.go
Labels: stage/needs-backporting, type/bug

#10509 chore(website): update downloads page
  website/package-lock.json
  website/package.json
  website/pages/downloads/img/nomad-logo.svg
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
Labels: theme/website

#10523 docs: Fix missing link to operator debug
  website/content/docs/commands/operator/index.mdx
Labels: theme/docs, type/bug

#10510 website: support hidden pages in nav-data
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: theme/website

#10529 website: support hidden pages in nav-data (#10510)
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: theme/website

#10535 docs: add autoscaling threshold strategy
  website/content/docs/autoscaling/plugins/strategy/threshold.mdx
  website/data/docs-nav-data.json
Labels: theme/autoscaling, theme/docs

#10534 docs: restructure autoscaling plugins menu
  website/content/docs/autoscaling/plugins/apm/datadog.mdx
  website/content/docs/autoscaling/plugins/apm/index.mdx
  website/content/docs/autoscaling/plugins/apm/nomad.mdx
  website/content/docs/autoscaling/plugins/apm/prometheus.mdx
  website/content/docs/autoscaling/plugins/external/index.mdx
  website/content/docs/autoscaling/plugins/index.mdx
  website/content/docs/autoscaling/plugins/strategy.mdx
  website/content/docs/autoscaling/plugins/strategy/app-sizing-avg.mdx
  website/content/docs/autoscaling/plugins/strategy/app-sizing-max.mdx
  website/content/docs/autoscaling/plugins/strategy/app-sizing-percentile.mdx
  website/content/docs/autoscaling/plugins/strategy/fixed-value.mdx
  website/content/docs/autoscaling/plugins/strategy/index.mdx
  website/content/docs/autoscaling/plugins/strategy/pass-through.mdx
  website/content/docs/autoscaling/plugins/strategy/target-value.mdx
  website/content/docs/autoscaling/plugins/strategy/threshold.mdx
  website/content/docs/autoscaling/plugins/target.mdx
  website/content/docs/autoscaling/plugins/target/app-sizing-nomad.mdx
  website/content/docs/autoscaling/plugins/target/aws-asg.mdx
  website/content/docs/autoscaling/plugins/target/azure-vmss.mdx
  website/content/docs/autoscaling/plugins/target/gce-mig.mdx
  website/content/docs/autoscaling/plugins/target/index.mdx
  website/content/docs/autoscaling/plugins/target/nomad.mdx
  website/data/docs-nav-data.json
Labels: theme/autoscaling, theme/docs

#10548 docs: add detail to 1.1 upgrade guide for licensing
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/docs

#10565 website: set up /trial redirection
  website/redirects.js
Labels: theme/website

#10569 check and return error from parsing var-files
  CHANGELOG.md
  jobspec2/parse.go
  jobspec2/parse_test.go
Labels: stage/needs-backporting

#10571 content: swap out diagrams with typos
  website/pages/use-cases/img/networking-capabilities.png
  website/pages/use-cases/img/networking-capabilities@3x.png
  website/pages/use-cases/img/stateful-workloads.png
  website/pages/use-cases/img/stateful-workloads@3x.png
  website/pages/use-cases/simple-container-orchestration.jsx
Labels: theme/website

#10580 docs: fix fields in 'volume create' example
  website/content/docs/commands/volume/create.mdx
Labels: theme/docs, theme/storage

#10539 Fix exec not working for another region
  ui/app/services/sockets.js
Labels: stage/needs-backporting

#10530 ui: Fix server list leader determination for IPv6
  ui/app/models/agent.js
  ui/app/utils/format-host.js
  ui/mirage/config.js
  ui/mirage/factories/agent.js
  ui/tests/acceptance/allocation-detail-test.js
  ui/tests/acceptance/server-detail-test.js
  ui/tests/acceptance/servers-list-test.js
Labels: theme/ui, type/bug

#10573 add a section about memory oversubscription
  website/content/docs/job-specification/resources.mdx
Labels: theme/docs

#10606 [Website] Add HashiConf alert banner data
  website/data/alert-banner.js
Labels: theme/website

#10610 docs: update enterprise license page
  website/content/docs/enterprise/license.mdx
Labels: theme/docs

#10627 docs: fixes broken links
  website/content/docs/drivers/remote/ecs.mdx
Labels: theme/docs

#10637 events: fix slow client connection to empty event stream
  CHANGELOG.md
  nomad/stream/ndjson.go
  nomad/stream/ndjson_test.go
Labels: stage/needs-backporting

#10634 docs: fix jobspec hcl2 locals example.
  website/content/docs/job-specification/hcl2/locals.mdx
Labels: stage/accepted, theme/docs, type/bug

#10647 events: fix event endpoint tests to ignore heartbeats.
  nomad/event_endpoint_test.go
Labels: stage/accepted, theme/events, theme/testing, type/bug

#10643 CSI: Include MountOptions in capabilities sent to CSI for all RPCs
  client/pluginmanager/csimanager/volume.go
  client/structs/csi.go
  nomad/csi_endpoint.go
  plugins/csi/plugin.go
Labels: theme/storage

#10653 docs: changelog entry for 10539
  CHANGELOG.md
Labels: theme/docs

#10654 docs: added license faq
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/index.mdx
  website/data/docs-nav-data.json
Labels: theme/docs
