Repository hashicorp/nomad, pull requests merged in 2021-01, with the labels that each got.

#9584 docs: add PreserveCounts param to job API doc.
  website/pages/api-docs/jobs.mdx
Labels: theme/docs, type/enhancement

#9694 docs: update metrics tables
  website/pages/docs/operations/metrics.mdx
Labels: theme/docs

#9717 docs: add metrics and API docs to RPC contributors checklist
  contributing/checklist-rpc-endpoint.md
Labels: theme/docs

#9429 docs: update file scaling policy docs
  website/pages/docs/autoscaling/policy.mdx
Labels: stage/accepted, theme/docs, type/enhancement

#9692 docs: Enumerate job statuses and types in docs
  website/pages/api-docs/jobs.mdx
Labels: theme/docs

#9743 hotfix: fix 'edit this page' links
  website/pages/api-docs/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
  website/pages/intro/[[...page]].jsx
Labels: theme/website

#9739 Use port's to value when building service address under 'alloc' addr_mode
  CHANGELOG.md
  command/agent/consul/service_client.go
  command/agent/consul/unit_test.go
  website/content/docs/job-specification/service.mdx
Labels: theme/consul, theme/networking

#9744 e2e: move namespace tests into OSS.
  e2e/namespaces/input/namespace_a.nomad
  e2e/namespaces/input/namespace_b.nomad
  e2e/namespaces/input/namespace_default.nomad
  e2e/namespaces/namespaces.go
  e2e/namespaces/namespaces_oss.go
Labels: theme/testing, type/enhancement

#9733 UI: Guard against nodes running an old version of the Nomad agent
  ui/app/components/topo-viz.js
  ui/app/controllers/topology.js
  ui/app/templates/topology.hbs
  ui/tests/acceptance/topology-test.js
  ui/tests/integration/components/topo-viz-test.js
  ui/tests/pages/topology.js
Labels: theme/ui

#9690 WTDD: Update UI api docs
  website/content/api-docs/ui.mdx
Labels: theme/docs

#9747 e2e: add ScalingPolicies test suite with initial test case.
  e2e/e2e_test.go
  e2e/scalingpolicies/input/namespace_a_1.nomad
  e2e/scalingpolicies/input/namespace_default_1.nomad
  e2e/scalingpolicies/input/namespace_default_2.nomad
  e2e/scalingpolicies/scalingpolicies.go
Labels: theme/autoscaling, theme/testing, type/enhancement

#9679 Add documentation for exec websocket
  website/content/api-docs/allocations.mdx
Labels: theme/docs

#9760 Website: update dependencies, fix line break chrome bug
  website/package-lock.json
  website/package.json
Labels: theme/website

#9767 e2e: add job scaling test suite.
  e2e/e2e_test.go
  e2e/scaling/input/namespace_a_1.nomad
  e2e/scaling/input/namespace_default_1.nomad
  e2e/scaling/input/namespace_default_2.nomad
  e2e/scaling/input/namespace_default_3.nomad
  e2e/scaling/scaling.go
Labels: theme/testing, type/enhancement

#9799 docs: fix HCL2 doc page code block
  website/content/docs/job-specification/hcl2/index.mdx
Labels: theme/docs

#9801 docs: fix broken link
  website/content/docs/job-specification/hcl2/index.mdx
Labels: theme/docs

#9518 UI: Change to fork of audit to log flaky tests
  .github/workflows/ember-test-audit.yml
Labels: theme/flaky-tests, theme/testing, theme/ui

#9876 UI: Use the same prefix pattern for both the region switcher and the namespace switcher
  ui/app/styles/components/dropdown.scss
  ui/app/templates/components/gutter-menu.hbs
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/namespaces-test.js
Labels: theme/ui

#9878 Website: update dependencies
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: theme/website

#9888 docs: clarify where variables can be placed with HCLv2.
  website/content/docs/job-specification/hcl2/variables.mdx
Labels: theme/docs, type/enhancement

#9877 UI: Fix audit workflow action versions
  .github/workflows/ember-test-audit.yml
Labels: theme/dependencies, theme/flaky-tests, theme/testing, theme/ui, type/bug

#9894 Use dominant-baseline instead of alignment-baseline to get firefox support
  ui/app/styles/charts/topo-viz-node.scss
Labels: theme/ui

#9896 UI: Use MHz instead of Mhz throughout
  ui/app/templates/components/primary-metric.hbs
  ui/app/templates/components/topo-viz/datacenter.hbs
  ui/app/templates/components/topo-viz/node.hbs
  ui/app/templates/topology.hbs
  ui/mirage/factories/job.js
  ui/tests/integration/components/topo-viz/datacenter-test.js
  ui/tests/integration/components/topo-viz/node-test.js
Labels: theme/ui

#9897 docs: add metrics from raft leadership transitions
  website/content/docs/operations/metrics.mdx
Labels: hcc/cst, theme/docs

#9906 UI: Show allocation associations in the topo viz more often (and fix a bug)
  ui/app/components/topo-viz.js
  ui/app/templates/components/topo-viz.hbs
  ui/tests/integration/components/topo-viz-test.js
Labels: theme/ui

#9886 UI: Topology info panel incorrect accounting bugs
  ui/app/components/topo-viz/node.js
  ui/app/controllers/topology.js
  ui/app/templates/topology.hbs
  ui/tests/acceptance/topology-test.js
  ui/tests/integration/components/topo-viz/node-test.js
  ui/tests/pages/topology.js
Labels: theme/ui

#9909 UI: Use server-sent error messages when applicable
  ui/app/components/job-page/parts/latest-deployment.js
  ui/app/components/job-page/parts/title.js
  ui/app/components/job-page/periodic.js
  ui/app/controllers/allocations/allocation/index.js
  ui/app/controllers/allocations/allocation/task/index.js
  ui/app/utils/message-from-adapter-error.js
  ui/tests/acceptance/task-detail-test.js
  ui/tests/unit/utils/message-from-adapter-error-test.js
Labels: theme/ui

#9921 interpolate maps in dynamic blocks
  go.mod
  go.sum
  jobspec2/parse_test.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/expand_body.go
  vendor/modules.txt
Labels: theme/hcl
