Repository hashicorp/nomad, pull requests merged in 2021-12, with the labels that each got.

#11592 Override TLS flags individually for meta commands
  command/meta.go
Labels: type/bug, theme/tls

#11609 Add change log entry for PR 11592
  .changelog/11592.txt
Labels: theme/docs, theme/cli, stage/needs-backporting

#11365 website: bump deps to fix print styles
  website/package-lock.json
  website/package.json
  website/pages/print.css
Labels: theme/website

#11625 chore: verify backport-assistant
  website/README.md
Labels: backport/1.2.2

#11630 docs: add license expiry metric to metrics website doc.
  website/content/docs/operations/metrics.mdx
Labels: type/enhancement, theme/docs

#11627 fix: backport release branch target
  .github/workflows/backport.yml
Labels: backport/website

#11637 touchups for consistency; reduce colons.
  website/content/docs/operations/monitoring-nomad.mdx
Labels: theme/docs

#11615 website: Upgrade <HashiStackMenu /> to latest
  website/package-lock.json
  website/package.json
Labels: theme/website, backport/website

#11623 docs: improve docs for troubleshooting and monitoring scheduler
  website/content/docs/operations/metrics-reference.mdx
  website/content/docs/operations/monitoring-nomad.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: theme/docs, backport/website

#11654 Add OpenAPI instructions to RPC Endpoint Checklist
  contributing/checklist-rpc-endpoint.md
Labels: theme/docs, theme/api

#11656 Update the banner
  website/data/alert-banner.js
Labels: backport/website

#11648 evaluations list pagination and filtering
  .changelog/11648.txt
  api/api.go
  api/evaluations_test.go
  command/agent/eval_endpoint.go
  command/agent/eval_endpoint_test.go
  command/agent/http.go
  nomad/eval_endpoint.go
  nomad/eval_endpoint_test.go
  nomad/state/paginator.go
  nomad/state/paginator_test.go
  nomad/structs/structs.go
  website/content/api-docs/evaluations.mdx
Labels: theme/api

#11674 docs: remove references to unreleased features from stable
  command/agent/config.go
  command/agent/http.go
  website/content/docs/configuration/ui.mdx
  website/content/docs/operations/metrics-reference.mdx
  website/data/docs-nav-data.json
Labels: theme/docs

#11678 cli: ensure `-stale` flag is respected by `nomad operator debug`
  .changelog/11678.txt
  api/agent.go
  api/nodes.go
  api/regions.go
  command/agent/agent_endpoint.go
  command/operator_debug.go
  command/operator_debug_test.go
Labels: type/bug, theme/cli, backport/1.0, backport/1.1

#11689 docs: add v1.2.0 upgrade guide about Nomad UI ACL change for job details page
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/website, backport/1.2.2, backport/1.2.1, backport/1.2.0

#11712 scheduler: fix quadratic performance with spread blocks
  .changelog/11712.txt
  scheduler/spread_test.go
  scheduler/stack.go
  website/content/docs/job-specification/spread.mdx
Labels: backport/1.0, backport/1.1

#11669 fix: redirects website `/home` to `/`
  website/redirects.js
Labels: backport/website

#11725 scheduler: tooling for scheduler benchmarking
  scheduler/benchmarks/benchmarks_test.go
  scheduler/benchmarks/helpers_test.go
Labels: theme/scheduling, theme/testing

#11728 fix host network reserved port fingerprint
  .changelog/11728.txt
  client/fingerprint/network.go
  client/fingerprint/network_test.go
Labels: stage/needs-backporting, backport/1.0, backport/1.1

#11740 deps: upgrade go-getter to 1.5.10
  go.mod
  go.sum
Labels: theme/dependencies

#11741 task runner: fix goroutine leak in prestart hook
  .changelog/11741.txt
  client/allocrunner/interfaces/task_lifecycle.go
  client/allocrunner/taskrunner/task_runner_hooks.go
Labels: type/bug, theme/client, theme/resource-utilization, backport/1.0, backport/1.1

#11709 website: Upgrade deps
  website/package-lock.json
  website/package.json
Labels: theme/website, backport/website

#11750 add enterprise downloads page
  website/components/downloads-props/index.jsx
  website/pages/downloads/enterprise.jsx
  website/pages/downloads/index.jsx
Labels: theme/website, backport/website
