Repository hashicorp/nomad, pull requests merged in 2021-02, with the labels that each got.

#9927 UI: Change down to highest-priority composite status
  ui/app/models/node.js
  ui/tests/acceptance/client-detail-test.js
  ui/tests/acceptance/clients-list-test.js
Labels: theme/ui, type/bug

#9912 UI: Update ember-a11y-testing
  ui/app/adapters/watchable.js
  ui/mirage/config.js
  ui/package.json
  ui/tests/unit/adapters/job-test.js
  ui/yarn.lock
Labels: theme/dependencies, theme/ui

#9913 UI: Cross region server monitor
  ui/app/components/agent-monitor.js
  ui/app/services/token.js
  ui/tests/integration/components/agent-monitor-test.js
  ui/tests/unit/services/token-test.js
Labels: theme/ui

#9578 UI: Remove support for IE11
  ui/config/targets.js
  ui/ember-cli-build.js
Labels: theme/cleanup, theme/ui, type/enhancement

#9951 drivers/docker: support mapping multiple host ports to the same container port
  CHANGELOG.md
  drivers/docker/driver_default.go
  drivers/docker/driver_windows.go
  drivers/docker/ports.go
  drivers/docker/ports_test.go
Labels: theme/driver/docker, theme/networking, type/bug

#9968 Change exec URLs to use job’s namespace/region
  ui/app/utils/generate-exec-url.js
  ui/tests/unit/utils/generate-exec-url-test.js
Labels: theme/ui, type/bug

#9863 website: update community page to be consistent with other projects
  website/package-lock.json
  website/package.json
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/style.css
Labels: theme/website

#9963 Add handling for license requests in OSS
  api/operator.go
  command/agent/http.go
  command/agent/http_oss.go
  command/agent/operator_endpoint_oss.go
  vendor/github.com/hashicorp/nomad/api/operator.go
Labels: theme/ui, type/bug, type/enhancement

#9960 document that Nomad ENT cannot be downgraded to Nomad OSS
  website/content/docs/enterprise.mdx
Labels: theme/docs

#9976 ar: isolate network actions performed by client
  client/allocrunner/network_manager_linux.go
  client/allocrunner/networking.go
Labels: theme/networking, type/bug

#7813 UI: Add workaround to exclude emoji from task escaping
  ui/app/utils/escape-task-name.js
  ui/tests/unit/utils/escape-task-name-test.js
Labels: theme/ui, type/bug

#9831 UI: Add button to fail running deployments
  ui/app/adapters/deployment.js
  ui/app/components/job-page/parts/latest-deployment.js
  ui/app/components/two-step-button.js
  ui/app/models/deployment.js
  ui/app/styles/components/two-step-button.scss
  ui/app/templates/clients/client/index.hbs
  ui/app/templates/components/job-page/parts/latest-deployment.hbs
  ui/app/templates/components/two-step-button.hbs
  ui/mirage/config.js
  ui/stories/components/two-step-button.stories.js
  ui/tests/integration/components/job-page/service-test.js
  ui/tests/unit/adapters/deployment-test.js
Labels: theme/ui, type/enhancement

#10003 UI: Fix deployment failure error handling
  ui/app/components/job-page/parts/latest-deployment.js
Labels: theme/testing, theme/ui, type/bug

#10011 e2e: account for race condition in periodic dispatch test.
  e2e/periodic/input/simple.nomad
  e2e/periodic/periodic.go
Labels: theme/e2e, type/bug

#9946 structs: namespace port validation by host_network
  CHANGELOG.md
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: theme/networking

#10020 Updated Homebrew install instructions
  website/content/docs/install/index.mdx
Labels: theme/docs

#10004 UI: Fix recommendation test to ensure CPU exists
  ui/tests/acceptance/optimize-test.js
Labels: theme/flaky-tests, theme/testing, theme/ui, type/bug

#10041 docs: clarify that block labels can't be interpolated in HCL2
  website/content/docs/job-specification/hcl2/variables.mdx
Labels: theme/docs

#10037 docs: clarify type constraints for collections in locals
  website/content/docs/job-specification/hcl2/functions/conversion/convert.mdx
  website/content/docs/job-specification/hcl2/locals.mdx
Labels: theme/docs

#10044 drainer: fix error message when handling drain deadlined nodes.
  nomad/drainer/drainer.go
Labels: stage/accepted, theme/drain, type/bug

#10048 changelog: add entries for 1.0.4
  CHANGELOG.md
Labels: theme/docs

#9977 log_rotate_max_files docs request 29569
  website/content/docs/configuration/index.mdx
Labels: theme/docs

#10042 deploymentwatcher: reset progress deadline on promotion
  CHANGELOG.md
  nomad/deploymentwatcher/deployment_watcher.go
  nomad/deploymentwatcher/deployments_watcher_test.go
  nomad/state/state_store.go
  nomad/structs/structs.go
  website/content/docs/job-specification/update.mdx
Labels: theme/deployments

#10069 UI: Line chart decomposed
  ui/app/components/chart-primitives/area.hbs
  ui/app/components/chart-primitives/area.js
  ui/app/components/chart-primitives/v-annotations.hbs
  ui/app/components/chart-primitives/v-annotations.js
  ui/app/components/line-chart.js
  ui/app/components/scale-events-chart.js
  ui/app/components/stats-time-series.js
  ui/app/styles/charts/line-chart.scss
  ui/app/templates/components/line-chart.hbs
  ui/app/templates/components/stats-time-series.hbs
  ui/app/utils/properties/glimmer-style-string.js
  ui/app/utils/properties/uniquely.js
  ui/stories/charts/line-chart.stories.js
  ui/stories/utils/delayed-array.js
  ui/tests/helpers/glimmer-factory.js
  ui/tests/integration/components/line-chart-test.js
  ui/tests/integration/components/primary-metric-test.js
  ui/tests/unit/components/line-chart-test.js
  ui/tests/unit/components/scale-events-chart-test.js
  ui/tests/unit/components/stats-time-series-test.js
Labels: theme/ui

#10089 docs: 'nomad ui -login' command
  website/content/docs/commands/ui.mdx
Labels: theme/cli, theme/docs

#10087 UI: Line Chart contextual components
  ui/.storybook/babel.config.js
  ui/app/components/chart-primitives/area.js
  ui/app/components/chart-primitives/v-annotations.hbs
  ui/app/components/line-chart.js
  ui/app/templates/components/line-chart.hbs
  ui/app/templates/components/scale-events-chart.hbs
  ui/app/templates/components/stats-time-series.hbs
  ui/package.json
  ui/stories/charts/line-chart.stories.js
  ui/tests/integration/components/line-chart-test.js
  ui/yarn.lock
Labels: theme/ui

#10090 docs: add Nomad Autoscaler GPC MIG target plugin detail.
  website/content/docs/autoscaling/plugins/target.mdx
Labels: theme/autoscaling, theme/docs, type/enhancement

#10062 docs: expand Autoscaler SIGHUP documentation
  website/content/docs/autoscaling/agent.mdx
Labels: theme/autoscaling, theme/docs

#9908 document Autoscaler `node_drain_ignore_system_jobs` configuration
  website/content/docs/autoscaling/plugins/target.mdx
Labels: stage/accepted, theme/autoscaling, theme/docs
