Repository hashicorp/nomad, pull requests merged in 2022-06, with the labels that each got.

#13195 provide state store query for variables by key ID
  nomad/state/schema.go
  nomad/state/state_store_secure_variables.go
  nomad/state/state_store_secure_variables_test.go
Labels: type/enhancement, theme/secure-variables

#13190 remove end-user algorithm selection
  api/keyring.go
  api/keyring_test.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/leader.go
  nomad/state/state_store.go
  nomad/structs/extensions.go
  nomad/structs/secure_variables.go
Labels: type/enhancement, theme/secure-variables

#13199 core job for root key GC
  nomad/config.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/leader.go
  nomad/structs/structs.go
Labels: type/enhancement, theme/secure-variables

#13182 fingerprint kernel architecture name
  .changelog/13182.txt
  client/fingerprint/host.go
  website/content/docs/runtime/interpolation.mdx
Labels: backport/1.3.x

#13205 core: reschedule evicted batch job when resources become available
  .changelog/13205.txt
  scheduler/reconcile_util.go
  scheduler/reconcile_util_test.go
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13184 adding support for customized ingress tls
  .changelog/13184.txt
  api/consul.go
  api/consul_test.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  go.mod
  go.sum
  jobspec/parse_service.go
  jobspec/parse_test.go
  jobspec/test-fixtures/tg-service-connect-gateway-ingress.hcl
  nomad/consul.go
  nomad/job_endpoint_hook_connect.go
  nomad/job_endpoint_hook_connect_test.go
  nomad/structs/diff.go
  nomad/structs/diff_test.go
  nomad/structs/services.go
  website/content/docs/job-specification/gateway.mdx
Labels: backport/1.3.x

#12520 Allow Operator Generated bootstrap token
  .changelog/12520.txt
  .gitignore
  api/acl.go
  api/acl_test.go
  command/acl_bootstrap.go
  command/acl_bootstrap_test.go
  command/agent/acl_endpoint.go
  command/agent/acl_endpoint_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/structs/structs.go
  website/content/api-docs/acl-tokens.mdx
  website/content/docs/commands/acl/bootstrap.mdx
Labels: backport/1.3.x

#13215 docs: link to client reqs section for added clarity
  website/content/docs/drivers/docker.mdx
Labels: theme/docs, theme/driver/docker, backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13214 client/allochealth: add healthy_deadline as context to error messages
  client/allochealth/tracker.go
  client/allocrunner/alloc_runner_test.go
Labels: type/enhancement, backport/1.3.x

#13230 [doc] fix gateway listener docs when registering a non-tcp protocol
  website/content/docs/job-specification/gateway.mdx
Labels: backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13260 changelog entry for #12534
  .changelog/12534.txt
Labels: backport/1.3.x

#13227 state: only update index on change when deleting evals.
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: type/enhancement, theme/core

#13167 keyring replication
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/leader.go
  nomad/server.go
Labels: type/enhancement, theme/secure-variables

#13271 e2e: use longer wait in template update triggers to avoid flake.
  e2e/consultemplate/consultemplate.go
Labels: theme/testing, theme/flaky-tests, theme/e2e

#13055 alloc_runner: stop sidecar tasks last
  .changelog/13055.txt
  client/allocrunner/alloc_runner.go
  client/allocrunner/alloc_runner_test.go
  client/allocrunner/task_hook_coordinator.go
  client/allocrunner/taskrunner/task_runner_getters.go
Labels: theme/task lifecycle

#13258 SV HTTP API: skip empty variables
  command/agent/secure_variable_endpoint.go
Labels: theme/secure-variables

#13169 keyring command line
  api/keyring.go
  command/commands.go
  command/operator_secure_variables_keyring.go
Labels: type/enhancement, theme/secure-variables

#13280 update AWS cpu info for fingerprinter
  client/fingerprint/env_aws_cpu.go
Labels: theme/fingerprint, theme/environment-aws, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13250 changelog: add entry for #12925
  .changelog/12925.txt
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13288 docfix: `heartbeat_grace` is a `server` parameter
  website/content/docs/job-specification/group.mdx
Labels: theme/docs, backport/website, backport/1.3.x

#12903 docker: update images to reference hashicorpdev Docker organization
  .circleci/config.yml
  command/assets/connect-short.nomad
  command/assets/connect.nomad
  command/job_init.bindata_assetfs.go
  drivers/docker/docklog/docker_logger_test.go
  drivers/docker/driver_windows_test.go
  e2e/connect/input/demo.nomad
  e2e/connect/input/expose-custom.nomad
  e2e/connect/input/ingress-gateway.nomad
  e2e/connect/input/multi-ingress.nomad
  e2e/connect/input/native-demo.nomad
  e2e/connect/input/terminating-gateway.nomad
  e2e/consul/input/namespaces/connect_ingress.nomad
  e2e/consul/input/namespaces/connect_sidecars.nomad
  e2e/consul/input/namespaces/connect_terminating.nomad
  website/content/docs/integrations/consul-connect.mdx
  website/content/docs/job-specification/connect.mdx
  website/content/docs/job-specification/expose.mdx
  website/content/docs/job-specification/gateway.mdx
  website/content/docs/job-specification/proxy.mdx
  website/content/docs/job-specification/sidecar_service.mdx
  website/content/docs/job-specification/sidecar_task.mdx
  website/content/docs/job-specification/upstreams.mdx
Labels: theme/docs, theme/testing, backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12800 Add `guest_agent` config option for QEMU driver
  .changelog/12800.txt
  drivers/qemu/driver.go
  website/content/docs/drivers/qemu.mdx
Labels: theme/driver/qemu

#13301 CSI: skip node unpublish on GC'd or down nodes
  .changelog/13301.txt
  nomad/csi_endpoint.go
  nomad/csi_endpoint_test.go
Labels: type/enhancement, theme/storage

#13326 Update supplement.mdx with the right spelling
  website/content/docs/nomad-vs-kubernetes/supplement.mdx
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13318 changelog: add entry for #12961
  .changelog/12961.txt
Labels: backport/1.3.x

#13223 workload identity
  .semgrep/rpc_endpoint.yml
  client/allocrunner/interfaces/task_lifecycle.go
  client/allocrunner/taskrunner/identity_hook.go
  client/allocrunner/taskrunner/task_runner.go
  client/allocrunner/taskrunner/task_runner_getters.go
  client/allocrunner/taskrunner/task_runner_hooks.go
  client/allocrunner/taskrunner/template/template.go
  client/allocrunner/taskrunner/template_hook.go
  go.mod
  go.sum
  nomad/acl.go
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/plan_apply.go
  nomad/secure_variables_endpoint.go
  nomad/secure_variables_endpoint_test.go
  nomad/server.go
  nomad/service_registration_endpoint.go
  nomad/service_registration_endpoint_test.go
  nomad/structs/generate.sh
  nomad/structs/structs.go
Labels: type/enhancement, theme/secure-variables

#11864 qemu driver: Add option to configure drive_interface
  .changelog/11864.txt
  drivers/qemu/driver.go
  drivers/qemu/driver_test.go
  website/content/docs/drivers/qemu.mdx
Labels: theme/driver/qemu

#13334 template: improve default language for max_stale and wait
  website/content/docs/configuration/client.mdx
Labels: theme/docs, theme/consul-template, backport/1.3.x

#13342 docs: explain behavior of system gc command
  website/content/docs/commands/system/gc.mdx
Labels: backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12396 client: wait for create index when deriving vault token
  client/client.go
Labels: backport/1.3.x

#13351 keyring CLI: refactor to use subcommands
  command/commands.go
  command/operator_secure_variables_keyring.go
  command/operator_secure_variables_keyring_install.go
  command/operator_secure_variables_keyring_list.go
  command/operator_secure_variables_keyring_remove.go
  command/operator_secure_variables_keyring_rotate.go
Labels: type/enhancement, theme/secure-variables

#13314 ci: remove step that generates GO_LDFLAGS
  .github/workflows/build.yml
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13355 Secure Variables: Seperate Encrypted and Decrypted structs
  command/agent/secure_variable_endpoint.go
  command/agent/secure_variable_endpoint_test.go
  nomad/core_sched_test.go
  nomad/encrypter.go
  nomad/fsm.go
  nomad/fsm_test.go
  nomad/mock/mock.go
  nomad/secure_variables_endpoint.go
  nomad/state/schema.go
  nomad/state/state_store_restore.go
  nomad/state/state_store_restore_test.go
  nomad/state/state_store_secure_variables.go
  nomad/state/state_store_secure_variables_test.go
  nomad/structs/secure_variables.go
  nomad/structs/secure_variables_test.go
Labels: theme/secure-variables

#13370 fixup changelog entry for backported regression fix
  .changelog/13340.txt
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13397 Fix spelling error in Nomad task events documentation
  website/content/api-docs/allocations.mdx
Labels: theme/docs, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13389 docs: Fix typo
  website/content/docs/upgrade/index.mdx
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13396 Improve Autoscaler overview
  website/content/tools/autoscaling/index.mdx
Labels: theme/docs, theme/autoscaling, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13257 Implement HTTP search API for Variables
  api/contexts/contexts.go
  command/agent/search_endpoint_test.go
  nomad/search_endpoint.go
  nomad/search_endpoint_oss.go
  nomad/state/schema.go
  nomad/state/state_store_secure_variables.go
  nomad/state/state_store_secure_variables_test.go
  nomad/structs/search.go
Labels: theme/secure-variables

#13375 implement Encrypt/Decrypt methods of encrypter
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/secure_variables_endpoint.go
  nomad/structs/secure_variables.go
Labels: type/enhancement, theme/secure-variables

#13294 secure variables ACL policies
  acl/acl.go
  acl/acl_test.go
  acl/policy.go
  acl/policy_test.go
  nomad/acl.go
  nomad/secure_variables_endpoint.go
  nomad/secure_variables_endpoint_test.go
  nomad/service_registration_endpoint.go
Labels: type/enhancement, theme/secure-variables

#13428 cni: add loopback to linux bridge
  .changelog/13428.txt
  client/allocrunner/networking_bridge_linux.go
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13383 move gossip keyring command to their own subcommands
  command/commands.go
  command/operator_gossip_keyring.go
  command/operator_gossip_keyring_generate.go
  command/operator_gossip_keyring_install.go
  command/operator_gossip_keyring_list.go
  command/operator_gossip_keyring_remove.go
  command/operator_gossip_keyring_test.go
  command/operator_gossip_keyring_use.go
  command/operator_keyring.go
Labels: type/enhancement, theme/secure-variables

#13309 core job for periodic key rotation
  nomad/config.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/leader.go
  nomad/structs/structs.go
Labels: type/enhancement, theme/secure-variables

#13405 cli: fix detach handling
  .changelog/13405.txt
  command/deployment_fail.go
  command/deployment_promote.go
  command/deployment_resume.go
  command/deployment_unblock.go
  command/job_promote.go
Labels: type/bug, theme/cli, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13307 secure variable server configuration
  command/agent/config.go
  nomad/encrypter.go
  nomad/server.go
Labels: theme/secure-variables

#13446 csi_hook: valid if any driver supports csi
  .changelog/13446.txt
  client/allocrunner/csi_hook.go
  client/allocrunner/csi_hook_test.go
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13460 docs: clarify total_escaped is just an optimization
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/website

#13464 additional ACL Policy tests
  acl/acl_test.go
Labels: theme/testing, theme/secure-variables

#13407 fix deadlock in plan_apply
  .changelog/13407.txt
  nomad/plan_apply.go
  nomad/plan_endpoint_test.go
Labels: type/bug, theme/plan, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13511 docs: fixup HCL2 index collection function documentation.
  website/content/docs/job-specification/hcl2/functions/collection/index-fn.mdx
Labels: backport/website, backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13498 docs: update task leader to explain shutdown sequence.
  website/content/docs/job-specification/task.mdx
Labels: theme/docs, backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x
