Repository hashicorp/nomad, pull requests merged in 2022-05, with the labels that each got.

#12834 docs: nomad can also install autocomplete for fish shell
  website/content/docs/commands/index.mdx
Labels: backport/website, backport/1.1.x, backport/1.2.x

#12832 ui: fix an error when navigating to a task group
  ui/app/components/job-page/parts/task-groups.js
  ui/app/components/task-group-row.js
  ui/app/templates/components/job-page/parts/task-groups.hbs
  ui/tests/helpers/module-for-job.js
  ui/tests/pages/components/task-groups.js
  ui/tests/pages/jobs/detail.js
Labels: theme/ui

#12846 CSI: node drain should end once only plugins remain
  nomad/drainer/draining_node.go
  website/content/docs/commands/node/drain.mdx
Labels: theme/storage

#12857 Add config key to the promote-staging event
  .release/ci.hcl
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#12868 core: add namespace to plan for node rejected log line.
  nomad/plan_apply.go
Labels: backport/1.2.x, backport/1.3.x

#12886 docs: add missing `set_contains_any` constraint docs
  website/content/docs/job-specification/constraint.mdx
Labels: theme/docs, backport/website, backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12873 ci: revert file changes and add some checks
  .github/workflows/release.yml
  .release/ci.hcl
Labels: backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12896 fsm: add service registration snapshot persistence.
  nomad/fsm.go
  nomad/fsm_test.go
Labels: backport/1.3.x

#12899 ci: update backport assitant workflow
  .github/workflows/backport.yml
Labels: backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12910 docs: add version note to nomad services template
  website/content/docs/job-specification/template.mdx
Labels: backport/website, backport/1.3.x

#12925 Fix Exec not working with reverse proxy X-Nomad-Token
  ui/app/services/token.js
  ui/tests/acceptance/proxy-test.js
Labels: theme/ui

#12970 docs: remove beta tag for CSI from sidebar
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/1.3.x

#12973 docs: note that already-dispatched jobs cannot be updated
  website/content/docs/job-specification/parameterized.mdx
Labels: theme/docs, backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12932 secure variables: initial state store
  go.mod
  go.sum
  helper/raftutil/msgtypes.go
  nomad/encrypter.go
  nomad/fsm.go
  nomad/keyring_endpoint.go
  nomad/secure_variables_endpoint.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_restore.go
  nomad/structs/secure_variables.go
  nomad/structs/structs.go
Labels: theme/secure-variables

#12962 agent: fix panic when logging about protocol version config use.
  .changelog/12962.txt
  command/agent/command.go
Labels: backport/1.3.x

#13008 scheduler: volume updates should always be destructive
  .changelog/13008.txt
  scheduler/util.go
  scheduler/util_test.go
Labels: type/bug, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12980 Provide mock secure variables implementation
  command/agent/http.go
  command/agent/secure_variable_endpoint.go
  command/agent/secure_variable_endpoint_test.go
  go.mod
  go.sum
  helper/codec/inmem.go
  nomad/mock/mock.go
  nomad/secure_variable_mock.go
  nomad/secure_variable_mock_test.go
  nomad/secure_variables_endpoint.go
  nomad/server.go
  nomad/structs/secure_variables.go
Labels: theme/secure-variables

#13021 docs: Fix typo in sidecar_service
  website/content/docs/job-specification/sidecar_task.mdx
Labels: backport/1.0.x, backport/1.1.x, backport/1.2.x, backport/1.3.x

#12985 [terraform/aws] Fix NVidia GPG key error
  terraform/shared/scripts/setup.sh
Labels: theme/security

#13029 docs: API package tests need a binary with your changes
  contributing/testing.md
Labels: theme/docs

#13033 docs: add Consul 1.12.0 upgrade notice
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/website

#12817 Fix network.dns interpolation
  .changelog/12817.txt
  client/allocrunner/taskrunner/task_runner.go
Labels: backport/1.2.x, backport/1.3.x

#13070 cli: correctly validate job with vault token set
  .changelog/13070.txt
  command/job_validate.go
  command/job_validate_test.go
  command/testdata/example-basic.nomad
  command/testdata/example-vault.nomad
  nomad/job_endpoint_hook_vault.go
  testutil/server.go
  website/content/docs/commands/job/validate.mdx
Labels: backport/1.3.x

#13075 keyring RPC handlers
  nomad/encrypter.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/server.go
  nomad/structs/secure_variables.go
Labels: type/enhancement, theme/secure-variables

#13080 E2E: upgrade playwright package and container image
  e2e/ui/package-lock.json
  e2e/ui/package.json
  e2e/ui/run.sh
Labels: theme/testing

#13087 docs: `mount_flags` takes a slice of strings
  website/content/docs/commands/volume/register.mdx
Labels: backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13104 core: fix blocked eval math
  .changelog/13104.txt
  nomad/blocked_evals.go
  nomad/blocked_evals_stats.go
  nomad/blocked_evals_stats_test.go
  nomad/structs/structs.go
Labels: backport/1.2.x, backport/1.3.x

#13106 keystore serialization
  api/keyring_test.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/server.go
  nomad/state/state_store.go
  nomad/structs/extensions.go
  nomad/structs/secure_variables.go
  nomad/testing.go
Labels: theme/secure-variables

#13083 Update service.check.task definition to match code
  website/content/docs/job-specification/service.mdx
Labels: theme/docs

#13135 cli: fix minor formatting issue with alloc restart help.
  command/alloc_restart.go
Labels: backport/1.1.x, backport/1.2.x, backport/1.3.x

#13102 docs: make the example for 'load' work
  website/content/docs/drivers/docker.mdx
Labels: theme/docs, stage/waiting-reply, backport/website, backport/1.1.x, backport/1.2.x, backport/1.3.x

#13098 Secure Variables: Variables - State store, FSM, RPC
  command/agent/secure_variable_endpoint.go
  command/agent/secure_variable_endpoint_test.go
  nomad/fsm.go
  nomad/fsm_test.go
  nomad/mock/mock.go
  nomad/secure_variable_mock.go
  nomad/secure_variable_mock_test.go
  nomad/secure_variables_endpoint.go
  nomad/server.go
  nomad/state/state_store.go
  nomad/state/state_store_secure_variables.go
  nomad/state/state_store_secure_variables_test.go
  nomad/structs/secure_variables.go
Labels: theme/secure-variables

#13172 docs: add nomad-pipeline to community tools page
  website/content/tools/index.mdx
Labels: backport/1.3.x

#13174 docs: add allocation and job services API endpoint docs.
  website/content/api-docs/allocations.mdx
  website/content/api-docs/jobs.mdx
Labels: backport/website, backport/1.3.x

#13069 Secure Variables UI: /variables/new and /variables/*path
  ui/app/abilities/variable.js
  ui/app/adapters/variable.js
  ui/app/components/secure-variable-form.hbs
  ui/app/components/secure-variable-form.js
  ui/app/controllers/variables/index.js
  ui/app/controllers/variables/new.js
  ui/app/controllers/variables/variable.js
  ui/app/controllers/variables/variable/index.js
  ui/app/models/variable.js
  ui/app/modifiers/autofocus.js
  ui/app/router.js
  ui/app/routes/variables.js
  ui/app/routes/variables/index.js
  ui/app/routes/variables/new.js
  ui/app/routes/variables/variable.js
  ui/app/routes/variables/variable/edit.js
  ui/app/serializers/variable.js
  ui/app/styles/components.scss
  ui/app/styles/components/secure-variables.scss
  ui/app/templates/variables/index.hbs
  ui/app/templates/variables/new.hbs
  ui/app/templates/variables/variable.hbs
  ui/app/templates/variables/variable/edit.hbs
  ui/app/templates/variables/variable/index.hbs
  ui/jsconfig.json
  ui/mirage/config.js
  ui/mirage/factories/variable.js
  ui/mirage/scenarios/default.js
  ui/package.json
  ui/tests/acceptance/secure-variables-test.js
  ui/tests/integration/components/secure-variable-form-test.js
  ui/tests/integration/modifiers/autofocus-test.js
  ui/tests/unit/abilities/variable-test.js
  ui/tests/unit/adapters/variable-test.js
  ui/tests/unit/models/variable-test.js
  ui/yarn.lock
Labels: theme/secure-variables

#13185 Added note about -period flag for context
  website/content/docs/integrations/vault-integration.mdx
Labels: backport/website, backport/1.3.x
