Repository hashicorp/nomad, pull requests merged in 2023-11, with the labels that each got.

#18949 docs: clarify ACL agent config TTL params apply to auth methods.
  website/content/docs/configuration/acl.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x

#18955 consul/vault: use accessor method to get cluster name in client
  client/allocrunner/consul_hook.go
  client/allocrunner/group_service_hook.go
  client/allocrunner/taskrunner/service_hook.go
  client/allocrunner/taskrunner/sids_hook.go
  client/allocrunner/taskrunner/task_runner_hooks.go
  client/allocrunner/taskrunner/template_hook.go
  client/allocrunner/taskrunner/template_hook_test.go
  client/allocrunner/taskrunner/vault_hook.go
  nomad/structs/vault.go
Labels: theme/vault, theme/consul

#17976 Automated license utilization reporting docs
  website/content/docs/enterprise/license/utilization-reporting.mdx
  website/data/docs-nav-data.json
Labels: theme/docs

#18957 template: fix test assertion to be compatible between CE/ENT
  client/allocrunner/taskrunner/template_hook_test.go
Labels: type/bug, theme/template, theme/testing

#18960 test: make CSI bad state GC test synchronous
  nomad/core_sched_test.go
Labels: type/bug, theme/storage, theme/flaky-tests

#18954 cli: remove unused raft tool helper.
  ci/test-core.json
  command/raft_tools/state.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#18820 cli: consul setup command
  command/asset/consul-wi-default-auth-method-config.json
  command/asset/consul-wi-default-policy.hcl
  command/commands.go
  command/setup.go
  command/setup_consul.go
Labels: theme/cli, theme/consul, theme/workload-identity

#18972 acl/client: fix incorrect denied error on calls with dangling policies.
  .changelog/18972.txt
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#18975 acl: use token locality consts when validating auth methods.
  nomad/mock/acl.go
  nomad/structs/acl.go
Labels: backport/1.5.x, backport/1.6.x

#18996 cli: extend coverage of `operator client-state` command
  .changelog/18996.txt
  command/operator_client_state.go
  command/operator_client_state_test.go
Labels: type/bug, type/enhancement, theme/cli

#18991 config: remove old Vault/Consul config blocks from server
  command/agent/agent.go
  nomad/config.go
  nomad/job_endpoint.go
  nomad/job_endpoint_ce_test.go
  nomad/job_endpoint_hook_implicit_identities.go
  nomad/job_endpoint_hook_implicit_identities_test.go
  nomad/job_endpoint_hook_vault.go
  nomad/job_endpoint_hooks_test.go
  nomad/job_endpoint_test.go
  nomad/node_endpoint_test.go
  nomad/server.go
  nomad/server_test.go
  nomad/testing.go
Labels: type/bug, theme/config, theme/vault, theme/consul, theme/enterprise

#19003 docs: fix broken links in docker.mdx
  website/content/docs/drivers/docker.mdx
Labels: backport/website, backport/1.4.x, backport/1.5.x, backport/1.6.x

#18910 cli: setup vault command
  command/alloc_exec.go
  command/asset/vault-wi-default-auth-method-config.json
  command/asset/vault-wi-default-policy.hcl
  command/asset/vault-wi-default-role.json
  command/commands.go
  command/helpers.go
  command/setup_vault.go
Labels: theme/cli, theme/vault, theme/workload-identity

#18995 Move deprecation warning to server
  command/job_plan.go
  command/job_revert.go
  command/job_run.go
  nomad/job_endpoint_hook_consul_ce.go
  nomad/job_endpoint_hook_vault.go
Labels: theme/cli, theme/vault, theme/consul

#19013 build: update to Go 1.21.4
  .changelog/19013.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#18985 vault: avoid continual renewal of invalid token
  .changelog/18985.txt
  client/vaultclient/vaultclient.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#18997 config: remove old Vault/Consul config blocks from parser
  command/agent/agent.go
  command/agent/agent_endpoint.go
  command/agent/agent_endpoint_test.go
  command/agent/agent_test.go
  command/agent/command.go
  command/agent/config.go
  command/agent/config_parse.go
  command/agent/config_parse_test.go
  command/agent/config_test.go
  command/agent/testagent.go
  command/agent/testdata/extra-consul.json
  command/agent/testdata/extra-vault.json
  command/job_plan_test.go
  command/job_validate_test.go
  e2e/consulcompat/shared_download_test.go
  e2e/consulcompat/shared_setup_test.go
  e2e/vaultcompat/vaultcompat_test.go
  helper/funcs.go
  nomad/structs/config/consul.go
  nomad/structs/config/vault.go
  testutil/server.go
Labels: theme/config, theme/vault, theme/consul, theme/tech-debt

#19019 refactor: rename allocrunner's Consul service reg handler
  client/allocrunner/alloc_runner.go
  client/allocrunner/alloc_runner_hooks.go
  client/allocrunner/alloc_runner_test.go
  client/allocrunner/alloc_runner_unix_test.go
  client/allocrunner/taskrunner/task_runner.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/allocrunner/testing.go
  client/client.go
  client/config/arconfig.go
  client/state/upgrade_int_test.go
  command/agent/consul/int_test.go
Labels: theme/client, theme/consul, theme/tech-debt, theme/service-discovery/consul

#19011 cli: simplify conditionals in setup commands
  command/setup_consul.go
  command/setup_vault.go
Labels: theme/cli

#19056 fix taskrunner test after broken signature
  client/allocrunner/taskrunner/task_runner_test.go
Labels: theme/testing

#19055 E2E: add template block to `consulcompat` test
  e2e/consulcompat/input/connect.nomad.hcl
  e2e/consulcompat/input/consul-policy-for-nomad.hcl
  e2e/consulcompat/shared_run_test.go
Labels: theme/template, theme/consul, theme/testing, theme/e2e

#19063 tools: bump version of `hc-install`
  GNUmakefile
Labels: backport/1.5.x, backport/1.6.x

#19068 E2E: refactor `consulcompat` to allow for ENT tests
  e2e/consulcompat/input/consul-policy-for-nomad-legacy.hcl
  e2e/consulcompat/input/consul-policy-for-nomad.hcl
  e2e/consulcompat/run_ce_test.go
  e2e/consulcompat/shared_download_test.go
  e2e/consulcompat/shared_run_test.go
  e2e/consulcompat/shared_setup_test.go
Labels: theme/consul, theme/testing

#19080 set Vault namespace from task in `vault_hook` JWT login
  client/allocrunner/taskrunner/vault_hook.go
  client/vaultclient/vaultclient.go
  client/vaultclient/vaultclient_test.go
Labels: type/bug, theme/vault, theme/enterprise

#19081 E2E: refactor `vaultcompat` to allow for ENT tests
  e2e/vaultcompat/run_ce_test.go
  e2e/vaultcompat/vaultcompat_test.go
Labels: theme/vault, theme/testing, theme/e2e

#19089 qemu: fix panic from missing resources block
  drivers/shared/executor/executor_universal_linux.go
Labels: type/bug, theme/driver/qemu

#19091 docs: clarify when "all" is not permitted for `cap_add`
  website/content/docs/drivers/docker.mdx
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/java.mdx
Labels: theme/docs

#19082 cli: add zero nodes message to `node status`
  command/node_status.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#18745 Add `go-netaddrs` support to `retry_join`
  .changelog/18745.txt
  command/agent/command.go
  command/agent/retry_join.go
  command/agent/retry_join_test.go
  go.mod
  go.sum
  website/content/docs/configuration/server_join.mdx
Labels: type/enhancement, theme/discovery

#19104 bump Consul constraint to 1.8.0
  .changelog/19104.txt
  nomad/job_endpoint_hooks.go
  nomad/job_endpoint_hooks_test.go
  nomad/mock/job.go
Labels: theme/consul

#19105 e2e: fix and modernize rescheduling test
  e2e/e2e_test.go
  e2e/rescheduling/doc.go
  e2e/rescheduling/input/norescheduling_service.nomad
  e2e/rescheduling/input/norescheduling_system.nomad
  e2e/rescheduling/input/rescheduling_canary_autorevert.nomad
  e2e/rescheduling/input/rescheduling_maxp_autorevert.nomad
  e2e/rescheduling/input/rescheduling_progressdeadline_fail.nomad
  e2e/rescheduling/input/rescheduling_success.nomad
  e2e/rescheduling/rescheduling.go
  e2e/rescheduling/rescheduling_test.go
Labels: theme/restart/reschedule, theme/e2e, backport/1.5.x, backport/1.6.x

#19004 [core] Honor job's namespace when checking `distinct_hosts` feasibility
  .changelog/19004.txt
  scheduler/feasible.go
  scheduler/feasible_test.go
  website/content/docs/job-specification/constraint.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: type/bug, theme/core, stage/accepted, backport/1.5.x, backport/1.6.x

#19119 E2E: fix expected error message from token expiration test
  e2e/acl/acl_token_test.go
Labels: theme/auth, theme/testing, theme/e2e

#19120 E2E: fix assertion in dynamic node metadata test
  e2e/workload_id/nodemeta_test.go
Labels: theme/testing, theme/e2e

#19121 E2E: remove assertion from ACL role test
  e2e/acl/acl_role_test.go
Labels: theme/auth, theme/testing, theme/e2e

#19137 client: make sure consul_hook does not perform double requests for tasks
  client/allocrunner/consul_hook.go
Labels: theme/consul, theme/workload-identity

#19139 [ui] Fix: Purging jobs via the UI when namespaces are present
  .changelog/19139.txt
  ui/app/adapters/job.js
Labels: backport/1.5.x, backport/1.6.x

#19140 client: change Consul client interface
  client/allocrunner/consul_hook.go
  client/consul/consul.go
  client/consul/consul_testing.go
Labels: theme/consul, theme/workload-identity

#18967 Set correct submit time to stopped jobs
  .changelog/18967.txt
  nomad/fsm.go
  nomad/job_endpoint.go
  nomad/structs/structs.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#19155 cli: skip allocs with replacements on job restart
  .changelog/19155.txt
  command/job_restart.go
  command/job_restart_test.go
Labels: backport/1.5.x, backport/1.6.x

#19154 cli: prevent panic on CTRL+C during a question
  .changelog/19154.txt
  command/job_restart.go
Labels: backport/1.5.x, backport/1.6.x

#19159 cli: use spaces when outputting ACL auth method token TTL param.
  command/acl_auth_method.go
  website/content/docs/commands/acl/auth-method/create.mdx
  website/content/docs/commands/acl/auth-method/info.mdx
  website/content/docs/commands/acl/auth-method/update.mdx
Labels: backport/1.5.x, backport/1.6.x

#19172 agent: ignore websocket statuses 1000, 1001 and 1005 correctly
  .changelog/19172.txt
  command/agent/alloc_endpoint.go
Labels: backport/1.5.x, backport/1.6.x

#19144 docs: additional note about JWKS endpoints and CA certs
  website/content/docs/integrations/consul-integration.mdx
Labels: theme/docs, theme/consul, theme/workload-identity

#19173 docs: clarify difference between /client and /node
  website/content/api-docs/client.mdx
  website/content/api-docs/nodes.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x

#19169 WI: use single auth method for Consul by default
  command/agent/config_parse_test.go
  command/agent/config_test.go
  command/setup_consul.go
  e2e/consulcompat/run_ce_test.go
  e2e/consulcompat/shared_run_test.go
  nomad/structs/config/consul.go
  nomad/structs/consul.go
  website/content/docs/configuration/consul.mdx
  website/content/docs/integrations/consul-integration.mdx
Labels: theme/consul, theme/workload-identity

#19195 docs: add alloc metrics note about possible cgroup variations.
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/website, backport/1.4.x, backport/1.5.x, backport/1.6.x

#19196 client: add metadata to tokens requested by Consul client
  client/allocrunner/consul_hook.go
  client/consul/consul.go
Labels: theme/consul, theme/workload-identity

#19205 docs: fix typos and markdown issues on CPU concepts page
  website/content/docs/concepts/cpu.mdx
Labels: theme/docs

#19214 cli: fix help formatting on job stop command.
  command/job_stop.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#19126 E2E: modernize `ConsulTemplate` test and fix some assertions
  e2e/consultemplate/consultemplate.go
  e2e/consultemplate/consultemplate_test.go
  e2e/consultemplate/doc.go
  e2e/consultemplate/input/bad_template_paths.nomad
  e2e/consultemplate/input/nomad_provider_service.nomad
  e2e/consultemplate/input/nomad_provider_service_lookup.nomad
  e2e/consultemplate/input/nomad_provider_service_ns.nomad
  e2e/consultemplate/input/template_paths.nomad
  e2e/consultemplate/input/template_shared_alloc.nomad
  e2e/consultemplate/input/update_triggers.nomad.hcl
  e2e/e2e_test.go
  e2e/v3/jobs3/jobs3.go
Labels: theme/template, theme/testing, theme/e2e

#19147 cli: non-service jobs on `job restart -reschedule`
  .changelog/19147.txt
  command/job_restart.go
  command/job_restart_test.go
  website/content/docs/commands/job/restart.mdx
Labels: backport/1.5.x, backport/1.6.x

#19215 docs: add job stop `no_shutdown_delay` API query param entry
  website/content/api-docs/jobs.mdx
Labels: backport/website, backport/1.4.x, backport/1.5.x, backport/1.6.x

#19239 docs: update consul-integration to include ns changes
  website/content/docs/integrations/consul-integration.mdx
Labels: theme/docs, theme/consul, theme/workload-identity

#19225 [ui] Display job plan warnings alongside dry run info when attempting to run a job through the web UI
  .changelog/19225.txt
  ui/app/components/job-editor/review.js
  ui/app/models/job-plan.js
  ui/app/templates/components/job-editor/review.hbs
  ui/mirage/config.js
  ui/tests/integration/components/job-editor-test.js
  ui/tests/pages/components/job-editor.js
Labels: backport/1.6.x

#19241 script_check_hook: handle task-level Consul namespace
  client/allocrunner/taskrunner/script_check_hook.go
Labels: type/bug, theme/consul

#19242 service hook: get correct NS for task-level `consul`
  nomad/structs/alloc.go
Labels: type/bug, theme/consul

#19236 consul: respect task-level namespace when checking permissions
  nomad/structs/consul.go
Labels: type/bug, theme/consul

#19244 docs: adjust claim mappings for Consul auth method
  website/content/docs/integrations/consul-integration.mdx
Labels: theme/docs, theme/consul, theme/workload-identity

#19237 cli: setup consul proper ns handling
  command/asset/consul-wi-default-auth-method-config.json
  command/setup_consul.go
Labels: theme/consul, theme/workload-identity
