Repository hashicorp/nomad, pull requests merged in 2024-06, with the labels that each got.

#22912 metrics: quota utilization configuration and documentation
  .changelog/22912.txt
  command/agent/agent.go
  command/agent/config.go
  command/agent/config_test.go
  nomad/config.go
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#22312 Consul Connect: Fix validation with multiple local_bind_socket_paths
  .changelog/22312.txt
  nomad/job_endpoint_hook_connect.go
Labels: type/bug, theme/consul/connect, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#22428 docs: update exec2 install apt/yum commands for pre-release.
  website/content/plugins/drivers/exec2.mdx
Labels: backport/website, backport/ent/1.8.x+ent, backport/1.8.x

#23171 [actions] Update hashicorp/vault-action to v3.0.0
  .github/actions/vault-secrets/action.yml
Labels: theme/build-infrastructure, stage/accepted, type/tech-debt

#23169 scheduler: stack test should use job.ID and not job.Name
  scheduler/stack_test.go
Labels: theme/testing, backport/ent/1.8.x+ent, backport/1.8.x

#23175 jobspec2: add test for parsing `constraint {}` alternatives
  jobspec2/parse_test.go
Labels: theme/hcl, theme/testing, stage/accepted

#23172 build: update to go1.22.4
  .changelog/23172.txt
  .go-version
  contributing/README.md
  go.mod
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: theme/security, theme/build-infrastructure, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23185 docs: fix typo in nomad quota utilization metrics
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23184 docs: describe omitted `spread` behavior and perf impact
  website/content/docs/job-specification/spread.mdx
Labels: theme/docs, theme/scheduling, backport/website, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23189 build: remove 32-bit ARM builds
  .github/workflows/build.yml
  GNUmakefile
  build_linux_arm.go
  website/content/docs/release-notes/nomad/v1_8_x.mdx
Labels: theme/build-infrastructure

#23193 docs: 32-bit build deprecation
  website/content/docs/release-notes/nomad/v1_8_x.mdx
Labels: theme/docs

#20062 Update nomad operator snapshot inspect with more detail
  .changelog/18372.txt
  command/operator_snapshot_inspect.go
  command/operator_snapshot_inspect_test.go
  nomad/fsm.go
  nomad/fsm_ce.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23190 testing: pull Docker images from mirror
  drivers/docker/driver_unix_test.go
Labels: theme/driver/docker, theme/testing, backport/ent/1.8.x+ent, backport/1.8.x

#23276 docs: update snapshot inspect CLI detail to mirror recent changes.
  website/content/docs/commands/operator/snapshot/inspect.mdx
Labels: backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#22397 api: Add Notes field to service checks
  .changelog/22397.txt
  api/services.go
  client/taskenv/services.go
  client/taskenv/services_test.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  jobspec/parse_service.go
  nomad/structs/diff_test.go
  nomad/structs/services.go
  nomad/structs/services_test.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23274 acl: fix validation of ACL plugin policy entries.
  .changelog/23274.txt
  acl/policy.go
  acl/policy_test.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23277 docs: update ACL policy example spec to remove plugin write cap.
  website/content/docs/other-specifications/acl-policy.mdx
Labels: backport/website, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23289 test: move NUMA platform scan out of testing global
  client/pluginmanager/drivermanager/testing.go
Labels: type/bug, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23287 e2e: add prerelease builds to Consul/Vault compatibility tests
  e2e/consulcompat/run_ce_test.go
  e2e/consulcompat/shared_download_test.go
  e2e/vaultcompat/run_ce_test.go
Labels: theme/vault, theme/consul, theme/testing, theme/e2e, backport/ent/1.8.x+ent, backport/1.8.x

#23284 numa: fix scheduler panic due to topology serialization bug
  client/fingerprint/cpu.go
  client/lib/idset/idset.go
  client/lib/numalib/detect_darwin.go
  client/lib/numalib/detect_generic.go
  client/lib/numalib/detect_linux.go
  client/lib/numalib/detect_linux_test.go
  client/lib/numalib/topology.go
  nomad/job_endpoint_test.go
  nomad/structs/cpucompat_generic.go
  nomad/structs/cpucompat_linux.go
  nomad/structs/cpucompat_linux_test.go
  nomad/structs/extensions.go
  nomad/structs/funcs_test.go
  nomad/structs/structs_test.go
  nomad/structs/testing.go
  plugins/base/base.go
  plugins/base/base_test.go
  scheduler/context_test.go
  scheduler/rank_test.go
Labels: type/bug, theme/scheduling, theme/crash, theme/enterprise, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23297 docker: oom_score_adj support
  .changelog/23297.txt
  drivers/docker/config.go
  drivers/docker/config_test.go
  drivers/docker/driver.go
  website/content/docs/drivers/docker.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23304 acls: reduce permissions of client agent virtual policy
  .semgrep/rpc_endpoint.yml
  acl/acl.go
  nomad/alloc_endpoint.go
  nomad/csi_endpoint.go
  nomad/csi_endpoint_test.go
  nomad/node_endpoint.go
  nomad/service_registration_endpoint.go
Labels: type/enhancement, theme/acl, backport/ent/1.8.x+ent, backport/1.8.x

#23290 [ui] Rework of node/job attributes/meta using PathTree
  .changelog/23290.txt
  ui/app/components/job-page/parts/stats-box.js
  ui/app/models/node-driver.js
  ui/app/models/structured-attributes.js
  ui/app/styles/core/table.scss
  ui/app/templates/clients/client/index.hbs
  ui/app/templates/components/attributes-section.hbs
  ui/app/templates/components/job-page/parts/meta.hbs
  ui/app/templates/components/job-page/parts/stats-box.hbs
  ui/app/templates/components/job-page/parts/title.hbs
  ui/app/utils/path-tree.js
  ui/package.json
  ui/tests/integration/components/attributes-table-test.js
  ui/yarn.lock
Labels: backport/1.8.x

#22518 [bug] Fix cgroup setup for non-default devices
  .changelog/22518.txt
  drivers/shared/executor/executor_linux.go
  drivers/shared/executor/executor_linux_test.go
Labels: type/bug, theme/driver/exec, theme/driver/raw_exec, theme/driver/java, theme/driver, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23312 docs - release notes updates
  website/content/docs/integrations/consul/index.mdx
  website/content/docs/release-notes/nomad/v1_8_x.mdx
Labels: backport/website, backport/1.8.x

#23308 raw_exec: oom_score_adj support
  .changelog/23308.txt
  drivers/rawexec/driver.go
  drivers/shared/executor/executor.go
  drivers/shared/executor/executor_universal_linux.go
  drivers/shared/executor/executor_universal_linux_test.go
  drivers/shared/executor/grpc_client.go
  drivers/shared/executor/grpc_server.go
  drivers/shared/executor/proto/executor.pb.go
  drivers/shared/executor/proto/executor.proto
  plugins/drivers/driver.go
  website/content/docs/drivers/raw_exec.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23329 task schedule: fix end-of-month validation bug
  .changelog/23329.txt
  nomad/structs/task_sched.go
  nomad/structs/task_sched_test.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23322 docs: install `consul-cni` manually or via linux packaging
  website/content/docs/install/index.mdx
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/release-notes/nomad/v1_8_x.mdx
Labels: backport/website, backport/1.8.x

#23331 deps: update runc to 1.1.13
  .changelog/23331.txt
  go.mod
  go.sum
Labels: theme/dependencies, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23335 docs: manual backport of PR #23322
  website/content/docs/install/index.mdx
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/release-notes/nomad/v1_8_x.mdx
Labels: backport/website

#23328 [ui] Add "stopped" as a valid status on jobs index/job detail
  .changelog/23328.txt
  nomad/job_endpoint_statuses.go
  nomad/structs/job.go
  ui/app/components/job-status/panel/steady.js
  ui/app/models/job.js
  ui/app/serializers/job.js
  ui/mirage/config.js
  ui/mirage/factories/job.js
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/1.8.x

#23362 e2e: add Enterprise Option for cluster3.Establish
  e2e/v3/cluster3/cluster3.go
Labels: theme/e2e

#23363 e2e: jobs3 hcl vars differently
  e2e/v3/jobs3/jobs3.go
Labels: theme/e2e

#23374 github: use larger instance type for prepare-release release step.
  .github/workflows/release.yml
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23365 [ui] Dont show keyboard hints when a user is trying to take a screenshot
  .changelog/23365.txt
  ui/app/services/keyboard.js
  ui/tests/acceptance/keyboard-test.js
Labels: backport/1.8.x

#23377 api: use the task in Allocations.GetPauseState
  .changelog/23377.txt
  api/allocations.go
Labels: theme/api, theme/allocation API, backport/ent/1.8.x+ent, backport/1.8.x

#23392 docs: fix typo in alloc exec CLI docs page.
  website/content/docs/commands/alloc/exec.mdx
Labels: backport/website, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23382 e2e: add test for task schedule{}
  e2e/task_schedule/input/schedule.nomad.hcl
  e2e/task_schedule/task_schedule_test.go
Labels: theme/e2e

#23386 scheduler: fix a bug where we subtract reserved node resources twice
  .changelog/23386.txt
  nomad/structs/funcs_test.go
  nomad/structs/structs.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23414 changelog: update titles of recent ENT-only backports
  CHANGELOG.md
Labels: theme/docs, theme/enterprise

#23406 docs/jobspec: Fix "task" block placement
  website/content/docs/job-specification/job.mdx
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23359 docs: Fix parameter type and default value in client reserved configuration.
  website/content/docs/configuration/client.mdx
Labels: theme/docs, theme/cgroups, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23424 docs: add deprecation notice to `cron` on `docs/job-specification/periodic`
  website/content/docs/job-specification/periodic.mdx
Labels: backport/1.8.x

#23436 deps: update Consul API and consul-template
  .changelog/23436.txt
  go.mod
  go.sum
Labels: theme/template, theme/consul, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x, dependencies

#23173 [docs] Add Sentinel info to version-specific upgrade page
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/docs, theme/enterprise, stage/accepted, backport/1.8.x

#23427 [ui] Jobs list should handle 502s and 504s gracefully
  .changelog/23427.txt
  ui/app/controllers/jobs/index.js
  ui/app/serializers/job.js
  ui/app/styles/components/jobs-list.scss
  ui/app/templates/jobs/index.hbs
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/1.8.x

#23381 Consul: add preflight checks for Envoy bootstrap
  .changelog/23381.txt
  client/allocrunner/alloc_runner_hooks.go
  client/allocrunner/consul_hook.go
  client/allocrunner/taskrunner/envoy_bootstrap_hook.go
  client/allocrunner/taskrunner/envoy_bootstrap_hook_test.go
  client/allocrunner/taskrunner/sids_hook.go
  client/allocrunner/taskrunner/sids_hook_test.go
  client/allocrunner/taskrunner/task_runner_hooks.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/client.go
  client/config/config.go
  client/consul/consul.go
  client/consul/consul_test.go
  client/consul/consul_testing.go
  client/consul/identities.go
  client/consul/identities_test.go
  client/consul/identities_testing.go
  website/content/docs/integrations/consul/service-mesh.mdx
Labels: type/bug, theme/consul, theme/consul/connect, backport/ent/1.7.x+ent, backport/1.8.x

#23443 docker: validate that containers do not run as ContainerAdmin on Windows
  .changelog/23443.txt
  drivers/docker/config.go
  drivers/docker/config_test.go
  drivers/docker/coordinator.go
  drivers/docker/coordinator_test.go
  drivers/docker/driver.go
  drivers/docker/driver_default.go
  drivers/docker/driver_test.go
  drivers/docker/driver_windows.go
  drivers/docker/driver_windows_test.go
  drivers/docker/network.go
  website/content/docs/drivers/docker.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/website, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23453 docs: upgrade guide updates for backported Docker windows changes
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23456 job statuses: fix filtering for namespace parameter
  .changelog/23456.txt
  nomad/job_endpoint_statuses.go
  nomad/job_endpoint_statuses_test.go
Labels: type/bug, theme/ui, backport/1.8.x

#23457 scale: add `-check-index` to `job scale` command
  .changelog/23457.txt
  api/jobs.go
  api/scaling.go
  command/agent/job_endpoint.go
  command/job_scale.go
  nomad/job_endpoint.go
  nomad/job_endpoint_test.go
  nomad/structs/structs.go
  website/content/api-docs/jobs.mdx
  website/content/docs/commands/job/scale.mdx
Labels: type/enhancement, theme/api, theme/autoscaling, backport/1.8.x

#23432 template: disable sandboxed rendering on Windows
  .changelog/23432.txt
  client/allocrunner/taskrunner/template/template.go
  client/allocrunner/taskrunner/template/template_default.go
  client/allocrunner/taskrunner/template/template_windows.go
  client/allocrunner/taskrunner/template/template_windows_test.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23458 [ui] Read-based checks for viewing templates and write-based checks for saving them
  .changelog/23458.txt
  ui/app/templates/components/job-editor.hbs
  ui/app/templates/components/job-editor/edit.hbs
  ui/app/templates/jobs/run/templates/manage.hbs
Labels: backport/1.8.x
