Repository hashicorp/nomad, pull requests merged in 2024-10, with the labels that each got.

#24092 docker: reset timer after collecting stats
  drivers/docker/stats.go
Labels: type/bug, theme/driver/docker, theme/metrics

#24095 docker: fix non-streaming exec attachment
  drivers/docker/handle.go
Labels: type/bug, theme/driver/docker

#24065 scaling policy: use request namespace as target if unset in jobspec
  .changelog/24065.txt
  command/agent/job_endpoint.go
  command/agent/scaling_endpoint.go
  nomad/fsm.go
  nomad/job_endpoint_test.go
  nomad/mock/job.go
  nomad/scaling_endpoint_test.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: type/bug, theme/autoscaling, backport/ent/1.7.x+ent, backport/1.8.x

#24097 docs: stats_period device configuration no longer exists
  plugins/shared/cmd/launcher/README.md
Labels: theme/docs

#24007 Allow client template config block to be parsed when using json config
  .changelog/24007.txt
  client/config/config.go
  command/agent/config_parse.go
  command/agent/config_parse_test.go
  command/agent/testdata/template.hcl
  command/agent/testdata/template.json
Labels: type/bug, theme/template, backport/ent/1.7.x+ent, backport/1.8.x

#24098 docker: fix script check execution
  drivers/docker/handle.go
  e2e/consul/input/on_update_check_restart.nomad
Labels: type/bug, theme/driver/docker

#24108 build: update go toolchain to 1.23.2
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: theme/build-infrastructure, backport/ent/1.7.x+ent, backport/1.8.x

#24109 refactor: clean up slice initialization in node status
  command/node_status.go
Labels: type/tech-debt

#24102 differently exclude tagged job versions from being pruned
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: theme/golden-versions

#24114 docs: remove references to serf.io site
  nomad/server.go
  website/content/docs/concepts/gossip.mdx
  website/content/docs/concepts/security.mdx
Labels: theme/docs, theme/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/1.8.x

#24107 driver: remove LXC and ECS driver documentation.
  plugins/drivers/driver.go
  plugins/drivers/proto/driver.pb.go
  plugins/drivers/proto/driver.proto
  website/content/api-docs/json-jobs.mdx
  website/content/docs/concepts/plugins/task-drivers.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/ecosystem.mdx
  website/content/docs/job-specification/task.mdx
  website/content/plugins/devices/nvidia.mdx
  website/content/plugins/drivers/community/index.mdx
  website/content/plugins/drivers/community/lxc.mdx
  website/content/plugins/drivers/index.mdx
  website/content/plugins/drivers/remote/ecs.mdx
  website/content/plugins/drivers/remote/index.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
  website/redirects.js
Labels: theme/docs

#24099 Docs: Add MIG support to NVIDIA driver overview paragraph
  website/content/plugins/devices/nvidia.mdx
Labels: theme/docs

#24113 Docs: Add devices to NUMA section of CPU page
  website/content/docs/concepts/cpu.mdx
Labels: theme/docs

#24122 test: wait for keyring in plan submission tests
  nomad/worker_test.go
Labels: theme/testing, theme/keyring

#24123 docs: fix aed -> aead typo
  website/content/docs/operations/key-management.mdx
Labels: theme/docs, theme/website

#24125 alloc fs: use case-insensitive check for reads of secret/private dir
  .changelog/24125.txt
  .github/workflows/test-windows.yml
  client/allocdir/alloc_dir.go
  client/allocdir/alloc_dir_nonlinux_test.go
  client/allocdir/alloc_dir_test.go
  client/allocdir/fs_linux_test.go
  client/allocdir/task_dir_test.go
Labels: type/bug, theme/security, theme/allocation API, backport/ent/1.7.x+ent, backport/1.8.x

#24124 update example device readme
  plugins/device/cmd/example/README.md
Labels: theme/devices

#24127 fix data race in node upsert
  .changelog/24127.txt
  nomad/structs/structs.go
Labels: type/bug, theme/cgroups, backport/ent/1.7.x+ent, backport/1.8.x

#24158 e2e: ui: update playwright to 1.48.0
  e2e/ui/package-lock.json
  e2e/ui/package.json
  e2e/ui/run.sh
Labels: theme/e2e

#24152 docs: add Quota specification page
  website/content/docs/commands/quota/apply.mdx
  website/content/docs/commands/quota/init.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/job-specification/resources.mdx
  website/content/docs/other-specifications/index.mdx
  website/content/docs/other-specifications/quota.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, theme/enterprise, theme/ent/quotas

#24167 docs: clarify requirements for Consul token policies and TTLs
  website/content/docs/configuration/consul.mdx
  website/content/docs/integrations/consul/acl.mdx
Labels: theme/docs, theme/consul, theme/workload-identity, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24174 build: update versions file for backports
  .release/versions.hcl
Labels: theme/build-infrastructure

#24166 Consul: improve reliability of deregistration
  .changelog/24166.txt
  command/agent/consul/service_client.go
  command/agent/consul/unit_test.go
Labels: theme/consul, theme/workload-identity, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24153 Docs: Golden Versions updates
  website/content/api-docs/jobs.mdx
  website/content/docs/commands/job/revert.mdx
  website/content/docs/commands/job/tag.mdx
  website/content/docs/concepts/job.mdx
  website/content/partials/version/tag-reason.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, theme/golden-versions, backport/ent/1.9.x+ent, backport/1.9.x

#24165 scheduler: fix reconnecting allocations getting rescheduled
  .changelog/24165.txt
  scheduler/reconcile.go
  scheduler/reconcile_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24192 changelog: remove doubled entry for 1.9 release.
  CHANGELOG.md
Labels: backport/1.9.x

#24161 Docs: Add 1.9 release notes
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.9.x+ent, backport/1.9.x

#24182 windows: trade heap for stack to build process tree for stats in linear space
  drivers/shared/executor/procstats/list_test.go
  drivers/shared/executor/procstats/list_windows.go
  drivers/shared/executor/procstats/list_windows_test.go
  drivers/shared/executor/procstats/procstats.go
Labels: type/bug, theme/platform-windows, theme/metrics, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24179 Docs: Update job version section with tutorial links
  website/content/docs/concepts/job.mdx
Labels: theme/docs, backport/website, theme/golden-versions, backport/ent/1.9.x+ent, backport/1.9.x

#24203 Consul Connect over IPv6 (except tproxy)
  command/agent/consul/connect.go
  command/agent/consul/connect_test.go
  nomad/structs/structs.go
Labels: theme/networking, theme/ipv6, theme/consul/connect, backport/1.9.x

#24188 docs: CLI node pool list does not accept arguments.
  website/content/docs/commands/node-pool/list.mdx
Labels: backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x

#24199 build: update hc-install to current
  GNUmakefile
  e2e/consulcompat/shared_download_test.go
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
  e2e/vaultcompat/vaultcompat_test.go
Labels: theme/testing, theme/build-infrastructure, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24094 docs: Add initial nomad-driver-virt driver plugin documentation.
  website/content/partials/virt-beta-callout.mdx
  website/content/plugins/drivers/virt/client.mdx
  website/content/plugins/drivers/virt/index.mdx
  website/content/plugins/drivers/virt/installation.mdx
  website/content/plugins/drivers/virt/task-config.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.9.x+ent, backport/1.9.x

#24214 windows: set job object for executor and children
  .changelog/24214.txt
  .github/workflows/test-windows.yml
  drivers/rawexec/driver_test.go
  drivers/rawexec/driver_unix_test.go
  drivers/rawexec/driver_windows_test.go
  drivers/shared/executor/executor_test.go
  drivers/shared/executor/executor_windows.go
  drivers/shared/executor/executor_windows_test.go
  drivers/shared/executor/utils_test.go
Labels: type/bug, theme/platform-windows, theme/driver/raw_exec, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24216 connect: fix ipv6 bind_address test
  command/agent/consul/connect_test.go
Labels: backport/1.9.x

#24234 e2e: fix failing tests due to docker plugin settings
  e2e/docker/docker_test.go
  e2e/docker/input/docker_config.hcl
  e2e/docker/input/registry-auths.hcl
  e2e/docker_registry/registry-auths.hcl
  e2e/podman/podman_test.go
  e2e/terraform/etc/nomad.d/client-linux.hcl
Labels: theme/e2e, backport/1.9.x

#24229 docker: use streaming stats collection to correct CPU stats
  .changelog/24229.txt
  drivers/docker/driver_test.go
  drivers/docker/stats.go
Labels: type/bug, theme/driver/docker, theme/metrics, backport/1.9.x

#24237 docker: always use API version negotiation when initializing clients
  .changelog/24237.txt
  drivers/docker/docklog/docker_logger.go
  drivers/docker/driver.go
Labels: theme/driver/docker, backport/1.9.x

#24202 docker: close response connection once stdin is exhausted
  .changelog/24202.txt
  drivers/docker/driver.go
  e2e/allocexec/doc.go
  e2e/allocexec/docker_exec_test.go
  e2e/allocexec/input/sleepytar.hcl
Labels: backport/ent/1.9.x+ent, backport/1.9.x

#24244 docker: close hijacked write connection when exec ends
  .changelog/24244.txt
  drivers/docker/driver.go
Labels: backport/ent/1.9.x+ent, backport/1.9.x

#24232 cli: update nomad job init full examples
  .changelog/24232.txt
  command/asset/connect.nomad.hcl
  command/asset/example.nomad.hcl
Labels: theme/docs, backport/website, backport/ent/1.9.x+ent, backport/1.9.x

#24241 heartbeat: use leader's ACL token when failing heartbeat
  .changelog/24241.txt
  nomad/auth/auth.go
  nomad/heartbeat.go
  nomad/node_endpoint_test.go
  testutil/wait.go
Labels: type/bug, theme/heartbeating, backport/1.9.x

#24160 docs: explain schedule state values
  api/allocations.go
  website/content/api-docs/allocations.mdx
Labels: theme/website, backport/website, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent

#24170 [ui] Upgrades Percy and Percy CLI
  ui/package.json
  ui/yarn.lock
Labels: backport/1.9.x

#24240 [ui] Adds an ellipsis and max width to profile nav token name
  .changelog/24240.txt
  ui/app/styles/core/navbar.scss
Labels: theme/ui, backport/1.9.x

#24162 [ui] Fix an issue where variables index dropdown would appear underneath table headers
  .changelog/24162.txt
  ui/app/styles/components/variables.scss
Labels: backport/1.9.x

#23855 #23671 Added synopsis for operator root and operator gossip command.
  .changelog/23671.txt
  command/commands.go
  command/operator_gossip.go
  command/operator_root.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x

#24255 docs: fix workload identity concepts page JSON format.
  website/content/docs/concepts/workload-identity.mdx
Labels: backport/website, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x

#24265 deps: update go-plugin to 1.6.2
  .changelog/24265.txt
  go.mod
  go.sum
  plugins/drivers/testutils/testing.go
Labels: type/bug, theme/dependencies, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24263 Docs: Update leadership transfer options docs
  command/operator_raft_leadership_transfer.go
Labels: backport/1.9.x

#24272 [cli] Fixed an error in job tag unset help text
  .changelog/24272.txt
  command/job_tag_unset.go
Labels: backport/1.9.x

#24169 fingerprint gce: collect preemptibility
  .changelog/24169.txt
  client/fingerprint/env_gce.go
  client/fingerprint/env_gce_test.go
Labels: type/enhancement, stage/waiting-reply

#24273 Docs: Update CLI job tag unset
  website/content/docs/commands/job/tag.mdx
Labels: theme/docs, backport/website, backport/ent/1.9.x+ent, backport/1.9.x

#24275 docs: warn about Consul auth method locality
  website/content/docs/integrations/consul/acl.mdx
Labels: theme/docs, theme/consul, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24287 docs: update broken consul acl token links
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24291 docs: warn about UID overlap between workload and Envoy tproxy
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/job-specification/transparent_proxy.mdx
Labels: theme/docs, theme/consul/connect, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24186 consul: add support for service weight
  .changelog/24186.txt
  api/services.go
  command/agent/consul/service_client.go
  command/agent/consul/service_client_test.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  nomad/structs/diff.go
  nomad/structs/diff_test.go
  nomad/structs/services.go
  website/content/docs/job-specification/service.mdx
Labels: type/enhancement, theme/consul, backport/1.9.x

#24306 update ndjson links due to domain expiry/resale
  command/agent/event_endpoint.go
  website/content/api-docs/events.mdx
Labels: backport/website, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x

#24317 fix: documentation of idempotency_token in API
  website/content/api-docs/jobs.mdx
Labels: theme/docs, backport/website, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x

#23934 Add info about authentication
  website/content/plugins/drivers/podman.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#24228 Docs: Add IPv6 support page
  website/content/docs/operations/ipv6-support.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.9.x+ent, backport/1.9.x

#24316 [ui] Prevent double-open for cmd+click on vars index links
  .changelog/24316.txt
  ui/app/components/variable-paths.js
  ui/app/controllers/variables/index.js
Labels: backport/1.9.x

#24329 Validate that Connect Native services define a port
  .changelog/24329.txt
  nomad/structs/services.go
  nomad/structs/services_test.go
Labels: theme/consul/connect, backport/ent/1.9.x+ent

#24305 Upgrade HDS dependency to 4.13 & migrate `FlightIcon` to `Hds::Icon`
  ui/app/components/actions-flyout.hbs
  ui/app/components/allocation-service-sidebar.hbs
  ui/app/components/job-status/allocation-status-block.hbs
  ui/app/components/job-status/failed-or-lost.hbs
  ui/app/components/job-status/individual-allocation.hbs
  ui/app/components/job-status/latest-deployment.hbs
  ui/app/components/job-status/panel/deploying.hbs
  ui/app/components/task-sub-row.hbs
  ui/app/components/variable-paths.hbs
  ui/app/styles/components/actions.scss
  ui/app/styles/components/job-status-panel.scss
  ui/app/templates/administration/policies/policy.hbs
  ui/app/templates/administration/roles/role.hbs
  ui/app/templates/allocations/allocation/index.hbs
  ui/app/templates/clients/client/index.hbs
  ui/app/templates/components/job-service-row.hbs
  ui/app/templates/components/scale-events-accordion.hbs
  ui/app/templates/components/task-row.hbs
  ui/app/templates/components/topo-viz/node.hbs
  ui/app/templates/jobs/index.hbs
  ui/app/templates/jobs/job/services/service.hbs
  ui/app/templates/variables/variable/index.hbs
  ui/ember-cli-build.js
  ui/package.json
  ui/tests/acceptance/variables-test.js
  ui/tests/pages/clients/list.js
  ui/tests/pages/components/topo-viz/node.js
  ui/yarn.lock
Labels: backport/1.9.x

#20073 Adds ability to restrict uid and gids in exec and raw_exec
  .changelog/20073.txt
  client/lib/numalib/hw/ids.go
  drivers/exec/driver.go
  drivers/exec/driver_test.go
  drivers/rawexec/driver.go
  drivers/rawexec/driver_test.go
  drivers/rawexec/driver_unix.go
  drivers/rawexec/driver_unix_test.go
  drivers/rawexec/driver_windows.go
  drivers/shared/validators/validators.go
  drivers/shared/validators/validators_default.go
  drivers/shared/validators/validators_test.go
  drivers/shared/validators/validators_unix.go
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/raw_exec.mdx
Labels: type/enhancement, theme/driver/exec, theme/driver/raw_exec, theme/driver, stage/needs-rebase, backport/1.9.x
