Repository hashicorp/nomad, pull requests merged in 2024-01, with the labels that each got.

#19500 e2e: add a test for checking default WI Consul workflow for services and tasks
  e2e/consul/consul_test.go
  e2e/consul/consul_wi_test.go
  e2e/consul/input/consul_wi.nomad.hcl
Labels: theme/consul, theme/e2e, theme/workload-identity

#19548 docs: add `node_pool` autoscaler node selector
  website/content/tools/autoscaling/plugins/target/aws-asg.mdx
  website/content/tools/autoscaling/plugins/target/azure-vmss.mdx
  website/content/tools/autoscaling/plugins/target/gce-mig.mdx
Labels: backport/website, backport/1.7.x

#19551 docs: add `policy_id` and `target_name` metric labels
  website/content/tools/autoscaling/telemetry.mdx
Labels: backport/website, backport/1.7.x

#19549 docs: add autoscaler AWS `retry_attempts` config
  website/content/tools/autoscaling/plugins/target/aws-asg.mdx
Labels: backport/website, backport/1.7.x

#19547 docs: add note about `*` namespace on autoscaling
  website/content/tools/autoscaling/agent.mdx
  website/content/tools/autoscaling/agent/nomad.mdx
Labels: backport/website, backport/1.7.x

#19546 docs: add `scale_in_protection` to AWS Autoscaler
  website/content/tools/autoscaling/plugins/target/aws-asg.mdx
Labels: backport/website, backport/1.7.x

#19585 vault: ignore `allow_unauthenticated` config if identity is set
  .changelog/19585.txt
  nomad/job_endpoint_hook_vault.go
  nomad/job_endpoint_hook_vault_ce_test.go
  website/content/docs/configuration/vault.mdx
Labels: type/bug, theme/config, theme/vault, backport/1.7.x

#19589 e2e: fix typo in Consul e2e
  e2e/consul/consul_test.go
Labels: theme/e2e

#19578 acl: remove timestamps from `WhoAmI` response
  .changelog/19578.txt
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
Labels: type/bug, theme/auth, backport/1.7.x

#19563 Add OOM detection for exec driver
  .changelog/19563.txt
  ci/slow.go
  drivers/exec/driver.go
  drivers/exec/driver_test.go
  drivers/exec/handle.go
  drivers/shared/executor/executor.go
  drivers/shared/executor/executor_linux.go
  drivers/shared/executor/executor_linux_test.go
  drivers/shared/executor/proto/executor.pb.go
  drivers/shared/executor/proto/executor.proto
  drivers/shared/executor/utils.go
Labels: backport/1.7.x

#19603 e2e: pass Nomad address to Consul WI test
  e2e/consul/consul_test.go
  e2e/consul/consul_wi_test.go
Labels: theme/e2e

#19598 docs: update raw_exec driver docs and 1.7 upgrade notes
  website/content/docs/drivers/raw_exec.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/1.7.x

#19601 [ui] Adds group-name tooltips to deploying and steady-state job panels
  .changelog/19601.txt
  ui/app/components/job-status/allocation-status-block.hbs
  ui/app/components/job-status/individual-allocation.hbs
  ui/app/components/job-status/individual-allocation.js
Labels: backport/1.7.x

#19611 Error message typo fix: Filed to Failed
  command/operator_snapshot_save.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x, backport/1.7.x

#19606 cli: fix operator snapshot save help output examples.
  command/operator_snapshot_save.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19605 state: ensure the job submission table is persisted and restored.
  .changelog/19605.txt
  nomad/fsm.go
  nomad/fsm_test.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_restore.go
  nomad/state/state_store_restore_test.go
  nomad/state/state_store_test.go
Labels: backport/1.6.x, backport/1.7.x

#19608 Revert e4e70b086a304e4e80496d95f514a4de6e926b3b.
  api/operator.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19653 reschedule is at group level
  website/content/docs/job-specification/group.mdx
Labels: backport/website, backport/1.7.x

#19652 server: Fix panic when validating non-service reschedule block.
  .changelog/19652.txt
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: backport/1.7.x

#19657 [DOCS] Update docker.mdx
  website/content/docs/drivers/docker.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#19493 docs: describe cgroup controller requirements
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/java.mdx
  website/content/docs/install/index.mdx
  website/content/docs/install/production/requirements.mdx
Labels: theme/docs, theme/cgroups, backport/1.5.x, backport/1.6.x, backport/1.7.x

#19677 acl: ensure auth method configs are correctly and fully hashed.
  .changelog/19677.txt
  nomad/structs/acl.go
  nomad/structs/acl_test.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19566 Add new optional OIDCDisableUserInfo setting for OIDC auth provider
  .changelog/19566.txt
  api/acl.go
  command/acl_auth_method.go
  internal/testing/apitests/acl_test.go
  lib/auth/oidc/provider_test.go
  nomad/acl_endpoint.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  nomad/structs/acl_test.go
  website/content/api-docs/acl/auth-methods.mdx
Labels: theme/auth, backport/1.5.x, backport/1.6.x, backport/1.7.x

#19670 drivers/raw_exec: enable configuring raw_exec task to have no memory limit
  .changelog/19670.txt
  drivers/shared/executor/executor_universal_linux.go
  drivers/shared/executor/executor_universal_linux_test.go
  e2e/rawexec/input/oversubmax.hcl
  e2e/rawexec/rawexec_test.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
  website/content/docs/drivers/raw_exec.mdx
Labels: backport/1.7.x

#19411 Docs: Alternative IIS Task Driver
  website/content/plugins/drivers/community/index.mdx
  website/content/plugins/drivers/community/nomad-iis.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
Labels: backport/website

#19665 consul: support admin partitions
  .changelog/19665.txt
  api/consul.go
  command/agent/job_endpoint.go
  nomad/job_endpoint_hook_consul.go
  nomad/job_endpoint_hook_consul_ce.go
  nomad/job_endpoint_hook_consul_ce_test.go
  nomad/structs/consul.go
  nomad/structs/diff_test.go
  scheduler/util.go
  website/content/docs/job-specification/consul.mdx
Labels: type/enhancement, theme/consul

#19689 vault: fix token revocation during workflow migration
  .changelog/19689.txt
  nomad/leader_test.go
  nomad/node_endpoint_test.go
  nomad/server.go
  nomad/server_test.go
  nomad/vault_noop.go
  website/content/docs/integrations/vault/acl.mdx
Labels: backport/1.7.x

#19691 vault: support allowing tokens to expire without refresh
  .changelog/19691.txt
  api/tasks.go
  api/tasks_test.go
  client/allocrunner/taskrunner/vault_hook.go
  client/allocrunner/taskrunner/vault_hook_test.go
  client/vaultclient/vaultclient.go
  client/vaultclient/vaultclient_test.go
  client/vaultclient/vaultclient_testing.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  nomad/structs/diff_test.go
  nomad/structs/structs.go
  website/content/docs/integrations/vault/acl.mdx
  website/content/docs/job-specification/vault.mdx
Labels: type/enhancement, theme/vault

#19077 Considerations for Stateful Workloads
  website/content/docs/operations/stateful-workloads.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, WAF

#19699 consul: refactor job mutation hook
  nomad/job_endpoint_hook_consul.go
  nomad/job_endpoint_hook_consul_ce.go
Labels: theme/consul, type/tech-debt, backport/1.7.x

#19707 build: use setup-golang@v3 to handle auto caching
  .github/workflows/checks.yaml
  .github/workflows/test-core.yaml
  .github/workflows/test-e2e.yml
Labels: backport/1.7.x

#19705 docs: changelog entry for ENT PR
  .changelog/_1370.txt
Labels: type/bug, theme/docs, theme/enterprise, backport/1.7.x

#19706 vault: remove revoked Vault accessors from state
  nomad/leader_test.go
  nomad/node_endpoint_test.go
  nomad/server.go
  nomad/vault_noop.go
Labels: backport/1.7.x

#19721 docs: fix Consul ACL requirements
  website/content/docs/integrations/consul/acl.mdx
Labels: backport/1.7.x

#19609 state store: better handling of job deletion
  .changelog/19609.txt
  nomad/core_sched_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19727 e2e: add a note about provisioning the infrastructure on macOS/Apple Silicon
  e2e/terraform/README.md
Labels: theme/e2e

#19720 vault: add new `nomad setup vault -check` commmand
  .changelog/19720.txt
  api/operator.go
  command/agent/http.go
  command/agent/operator_endpoint.go
  command/agent/operator_endpoint_test.go
  command/setup_vault.go
  command/setup_vault_test.go
  nomad/operator_endpoint.go
  nomad/operator_endpoint_test.go
  nomad/structs/operator.go
  nomad/structs/workload_id.go
  website/content/api-docs/operator/upgrade-check.mdx
  website/content/docs/commands/setup/vault.mdx
  website/content/docs/integrations/vault/acl.mdx
  website/data/api-docs-nav-data.json
  website/redirects.js
Labels: backport/1.7.x

#19744 e2e: purging jobs removes all allocs
  e2e/e2eutil/utils.go
Labels: theme/e2e

#19313 e2e: remove deprecated template_file dependency for tf
  e2e/terraform/.terraform.lock.hcl
  e2e/terraform/ecs.tf
  e2e/terraform/ecs.tftpl
  e2e/terraform/nomad-acls.tf
  e2e/terraform/volumes.tf
  e2e/terraform/volumes.tftpl
Labels: theme/e2e

#19402 Adds Namespace UI to Access Control
  ui/app/abilities/abstract.js
  ui/app/abilities/namespace.js
  ui/app/abilities/node-pool.js
  ui/app/abilities/quota.js
  ui/app/adapters/namespace.js
  ui/app/components/namespace-editor.hbs
  ui/app/components/namespace-editor.js
  ui/app/components/policy-editor.js
  ui/app/components/role-editor.js
  ui/app/components/token-editor.js
  ui/app/controllers/access-control/namespaces/acl-namespace.js
  ui/app/controllers/access-control/namespaces/index.js
  ui/app/controllers/jobs/index.js
  ui/app/initializers/custom-inflector-rules.js
  ui/app/models/namespace.js
  ui/app/models/ns-capabilities.js
  ui/app/models/ns-node-pool-configuration.js
  ui/app/router.js
  ui/app/routes/access-control.js
  ui/app/routes/access-control/namespaces/acl-namespace.js
  ui/app/routes/access-control/namespaces/new.js
  ui/app/serializers/namespace.js
  ui/app/styles/components/access-control.scss
  ui/app/styles/components/codemirror.scss
  ui/app/templates/access-control/index.hbs
  ui/app/templates/access-control/namespaces.hbs
  ui/app/templates/access-control/namespaces/acl-namespace.hbs
  ui/app/templates/access-control/namespaces/index.hbs
  ui/app/templates/access-control/namespaces/new.hbs
  ui/app/templates/access-control/policies/index.hbs
  ui/app/templates/access-control/policies/policy.hbs
  ui/app/templates/access-control/roles/role.hbs
  ui/app/templates/access-control/tokens/token.hbs
  ui/app/templates/components/access-control-subnav.hbs
  ui/app/utils/rollback-without-changed-attrs.js
  ui/mirage/config.js
  ui/mirage/factories/csi-plugin.js
  ui/mirage/factories/job.js
  ui/mirage/factories/namespace.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/access-control-test.js
  ui/tests/acceptance/actions-test.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/namespaces-test.js
  ui/tests/acceptance/optimize-test.js
  ui/tests/acceptance/policies-test.js
  ui/tests/acceptance/roles-test.js
  ui/tests/acceptance/task-detail-test.js
  ui/tests/acceptance/token-test.js
  ui/tests/acceptance/variables-test.js
  ui/tests/helpers/module-for-job.js
  ui/tests/integration/components/task-group-row-test.js
  ui/tests/pages/access-control.js
Labels: type/enhancement, theme/ui, theme/namespaces, backport/1.7.x

#19743 cli: Fix minor help formatting issue in agent command.
  command/agent/command.go
Labels: backport/1.7.x

#19754 cli: correct typos in setup consul
  command/setup_consul.go
Labels: theme/cli, backport/1.7.x

#19748 docs: updates link to Consul WLI migration docs
  website/content/docs/configuration/consul.mdx
Labels: theme/docs, backport/1.7.x

#19769 docs: add `lock_namespace` autoscaler config
  website/content/tools/autoscaling/agent/high_availability.mdx
Labels: backport/website, backport/1.7.x

#19779 Clarify some docs pages
  website/content/docs/job-specification/hcl2/variables.mdx
  website/content/docs/job-specification/template.mdx
Labels: theme/docs, theme/template, theme/hcl

#19749 e2e: WaitForJobStopped correction
  e2e/e2eutil/utils.go
Labels: theme/e2e

#19777 docs: autoscaler config for blocking query timeout
  website/content/tools/autoscaling/agent/nomad.mdx
  website/content/tools/autoscaling/cli.mdx
Labels: backport/website, backport/1.7.x

#19801 e2e: more retries for RequireConsulDeregistered
  e2e/e2eutil/consul.go
  e2e/e2eutil/utils.go
Labels: theme/e2e

#19787 connect: rewrite envoy bootstrap on every restart
  .changelog/19787.txt
  client/allocrunner/interfaces/task_lifecycle.go
  client/allocrunner/taskrunner/connect_native_hook.go
  client/allocrunner/taskrunner/connect_native_hook_test.go
  client/allocrunner/taskrunner/envoy_bootstrap_hook.go
  client/allocrunner/taskrunner/envoy_bootstrap_hook_test.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19809 docs: mention wildcards in namespace api docs
  website/content/api-docs/index.mdx
Labels: backport/website, backport/1.7.x

#19819 stream: remove unused internal error definition from event stream.
  nomad/stream/subscription.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19818 driver/java: populate OOM killed exit result.
  .changelog/19818.txt
  drivers/java/driver.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19830 driver/qemu: populate OOM killed exit result.
  .changelog/19830.txt
  drivers/qemu/driver.go
Labels: backport/1.7.x

#19829 driver/rawexec: populate OOM killed exit result.
  .changelog/19829.txt
  drivers/rawexec/driver.go
Labels: backport/1.7.x

#19832 license: fix some imports of BUSL-1.1 in MPL-2.0
  .semgrep/mpl_busl.yml
  demo/digitalocean/app/bench.go
  helper/crypto/.copywrite.hcl
  helper/crypto/LICENSE
  helper/crypto/crypto.go
  helper/grpc-middleware/.copywrite.hcl
  helper/grpc-middleware/LICENSE
  helper/grpc-middleware/logging/client_interceptors.go
  helper/grpc-middleware/logging/options.go
  helper/pluginutils/grpcutils/.copywrite.hcl
  helper/pluginutils/grpcutils/LICENSE
  helper/pluginutils/grpcutils/utils.go
  helper/pluginutils/hclspecutils/.copywrite.hcl
  helper/pluginutils/hclspecutils/LICENSE
  helper/pointer/.copywrite.hcl
  helper/pointer/LICENSE
  helper/pointer/pointer.go
  helper/pointer/pointer_test.go
  helper/testlog/.copywrite.hcl
  helper/testlog/LICENSE
  helper/testlog/testlog.go
  helper/uuid/.copywrite.hcl
  helper/uuid/LICENSE
  helper/uuid/uuid.go
  helper/uuid/uuid_test.go
  nomad/lock/delay.go
  nomad/lock/delay_test.go
  nomad/lock/ttl.go
  nomad/lock/ttl_test.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#19848 website: update dependencies
  website/.husky/pre-commit
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: theme/dependencies
