Repository hashicorp/nomad, pull requests merged in 2024-07, with the labels that each got.

#23452 docker: default to hyper-v isolation on Windows
  .changelog/23452.txt
  drivers/docker/driver.go
  website/content/docs/drivers/docker.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23483 [actions] Update projects GitHub actions
  .github/workflows/actionlint.yml
  .github/workflows/backport.yml
  .github/workflows/build.yml
  .github/workflows/checks.yaml
  .github/workflows/copywrite.yml
  .github/workflows/ember-test-audit.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/test-core.yaml
  .github/workflows/test-e2e.yml
  .github/workflows/test-ui.yml
  .github/workflows/test-windows.yml
Labels: stage/accepted, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23489 mbits: filter mbits out of diff
  nomad/structs/diff.go
  nomad/structs/diff_test.go
Labels: backport/1.8.x

#23486 quota: add cores to resource addition calculation.
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23498 build: update to go1.22.5
  .changelog/23498.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: theme/security, theme/build-infrastructure, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23492 [ui] When a job is deleted in the background, wait until redirect before cache unload
  .changelog/23492.txt
  ui/app/controllers/jobs/job.js
Labels: backport/1.8.x

#23503 [action] Update actions in test-ui workflow
  .github/actions/setup-js/action.yml
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23319 security: add escape to arbitrary file access
  .changelog/23319.txt
  client/allocwatcher/alloc_watcher.go
  client/allocwatcher/alloc_watcher_test.go
  client/allocwatcher/alloc_watcher_unix_test.go
Labels: theme/security, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23468 [ui] Generalized namespace handling, generalized facet searching, node pools facet search
  .changelog/23468.txt
  ui/app/controllers/jobs/index.js
  ui/app/routes/jobs/index.js
  ui/app/templates/jobs/index.hbs
  ui/mirage/config.js
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/1.8.x

#23399 plugins: fix nomadTopologyToProto panic on systems that don't support NUMA
  .changelog/23399.txt
  .github/workflows/test-windows.yml
  client/lib/numalib/topology.go
  plugins/base/base_test.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23520 changelog: add entry for #18876
  .changelog/18876.txt
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23499 namespaces: warn if deleting namespaces that have allocs, volumes, vars or quotas associated with them
  .changelog/23499.txt
  nomad/namespace_endpoint.go
  nomad/namespace_endpoint_test.go
  nomad/structs/structs.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23524 docs: Autoscaling agent 404 and navigation fix
  website/data/docs-nav-data.json
  website/redirects.js
Labels: theme/docs, backport/1.8.x

#23502 CLI: fix prefix matching across multiple commands
  .changelog/23502.txt
  command/helpers.go
  command/helpers_test.go
  command/plugin_status_csi.go
  command/quota_inspect.go
  command/quota_status.go
  command/scaling_policy_info.go
  command/scaling_policy_info_test.go
  command/service_info.go
  command/volume_deregister.go
  command/volume_detach.go
  command/volume_status_csi.go
Labels: type/bug, theme/cli, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23536 docs: update documentation of namespace delete command
  website/content/docs/commands/namespace/delete.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23543 quota: Allow cores to be configured within an enterprise quota.
  command/quota_apply.go
  command/quota_init.go
  command/quota_status.go
  nomad/structs/structs.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23540 msgpack: omit empty fields on NetworkResource
  nomad/plan_normalization_test.go
  nomad/structs/diff.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23552 remove mentions of 'new in Nomad X version' where X is an older version
  website/content/docs/commands/license/get.mdx
  website/content/docs/commands/quota/apply.mdx
  website/content/docs/commands/quota/delete.mdx
  website/content/docs/commands/quota/index.mdx
  website/content/docs/commands/quota/init.mdx
  website/content/docs/commands/quota/inspect.mdx
  website/content/docs/commands/quota/list.mdx
  website/content/docs/commands/quota/status.mdx
  website/content/docs/commands/recommendation/apply.mdx
  website/content/docs/commands/recommendation/dismiss.mdx
  website/content/docs/commands/recommendation/index.mdx
  website/content/docs/commands/recommendation/info.mdx
  website/content/docs/commands/recommendation/list.mdx
  website/content/docs/commands/scaling/index.mdx
  website/content/docs/commands/sentinel/apply.mdx
  website/content/docs/commands/sentinel/delete.mdx
  website/content/docs/commands/sentinel/index.mdx
  website/content/docs/commands/sentinel/list.mdx
  website/content/docs/commands/sentinel/read.mdx
  website/content/docs/commands/service/delete.mdx
  website/content/docs/commands/service/index.mdx
  website/content/docs/commands/service/info.mdx
  website/content/docs/commands/service/list.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/drivers/docker.mdx
  website/content/docs/job-specification/template.mdx
Labels: theme/docs, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23551 security: update tls cipher suites
  .changelog/23551.txt
  e2e/terraform/packer/windows-2016-amd64/fix-tls.ps1
  helper/tlsutil/config.go
  helper/tlsutil/config_test.go
  website/content/docs/configuration/tls.mdx
Labels: theme/docs, theme/security, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23506 [ui] Global token CRUD in the web UI
  .changelog/23506.txt
  ui/app/adapters/application.js
  ui/app/adapters/token.js
  ui/app/components/region-switcher.js
  ui/app/components/token-editor.hbs
  ui/app/components/token-editor.js
  ui/app/controllers/clients/index.js
  ui/app/controllers/jobs/index.js
  ui/app/routes/clients.js
  ui/mirage/config.js
  ui/tests/acceptance/regions-test.js
  ui/tests/acceptance/token-test.js
Labels: backport/1.8.x

#23548 [ui] Fix: upload jobspec button
  .changelog/23548.txt
  ui/app/modifiers/code-mirror.js
  ui/app/templates/components/job-editor.hbs
Labels: backport/1.8.x

#23553 [ui] Fix: Actions should pass job id instead of job name
  .changelog/23553.txt
  ui/app/adapters/job.js
Labels: backport/1.8.x

#23560 api: handle newlines in JobSubmission vars correctly
  .changelog/23560.txt
  api/jobs.go
  api/jobs_test.go
  command/agent/job_endpoint.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23568 docs: update podman driver installation instructions
  website/content/plugins/drivers/podman.mdx
Labels: backport/website, backport/ent/1.8.x+ent, backport/1.8.x

#23567 remove mentions of old versions of Nomad in various docs
  website/content/api-docs/index.mdx
  website/content/api-docs/json-jobs.mdx
  website/content/docs/commands/alloc/status.mdx
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/operator/index.mdx
  website/content/docs/concepts/plugins/index.mdx
  website/content/docs/concepts/scheduling/index.mdx
  website/content/docs/concepts/scheduling/preemption.mdx
  website/content/docs/concepts/variables.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/drivers/docker.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/job-specification/artifact.mdx
  website/content/docs/job-specification/check.mdx
  website/content/docs/job-specification/hcl2/index.mdx
  website/content/docs/job-specification/index.mdx
  website/content/docs/job-specification/job.mdx
  website/content/docs/job-specification/network.mdx
  website/content/docs/job-specification/service.mdx
  website/content/docs/runtime/environment.mdx
  website/content/plugins/devices/nvidia.mdx
  website/content/plugins/drivers/index.mdx
  website/content/plugins/drivers/remote/index.mdx
  website/content/plugins/index.mdx
  website/content/tools/autoscaling/agent.mdx
  website/content/tools/autoscaling/plugins/target/azure-vmss.mdx
Labels: theme/docs, backport/1.8.x

#23538 cni: allow users to set CNI args in job spec
  .changelog/23538.txt
  api/resources.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/taskenv/network.go
  client/taskenv/network_test.go
  command/agent/job_endpoint.go
  nomad/structs/cni_config.go
  nomad/structs/cni_config_test.go
  nomad/structs/diff.go
  nomad/structs/diff_test.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
  website/content/docs/job-specification/network.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23575 fix cpucompat_default_test
  nomad/structs/cpucompat_default_test.go
Labels: backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23389 feat(#23388): Add a preferred address family option for network-interface
  .changelog/23389.txt
  client/config/config.go
  client/fingerprint/network.go
  client/fingerprint/network_test.go
  client/taskenv/env.go
  client/taskenv/env_test.go
  command/agent/agent.go
  command/agent/command.go
  command/agent/config.go
  nomad/structs/structs.go
  website/content/docs/configuration/client.mdx
Labels: theme/ipv6, backport/ent/1.8.x+ent, backport/1.8.x

#23592 docs: update quota docs and changelog to detail new cores feature.
  .changelog/23543.txt
  website/content/docs/commands/quota/inspect.mdx
  website/content/docs/commands/quota/status.mdx
Labels: backport/1.8.x

#23594 testing: fix serf join on keyring test and tighten serf config
  nomad/encrypter_test.go
  nomad/testing.go
Labels: theme/testing, theme/keyring, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23599 docker: adjust capabilities on Windows
  .changelog/23599.txt
  drivers/docker/driver.go
  drivers/docker/driver_test.go
  drivers/docker/driver_windows.go
  drivers/shared/capabilities/defaults.go
  drivers/shared/capabilities/defaults_default.go
  drivers/shared/capabilities/defaults_test.go
  drivers/shared/capabilities/defaults_windows.go
Labels: theme/driver/docker, theme/platform-windows, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23609 cni: test Setup method
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_mock_test.go
  client/allocrunner/networking_cni_test.go
  nomad/structs/structs.go
Labels: theme/testing, theme/cni, backport/1.8.x

#23610 e2e: skip missing windows ami if windows clients=0
  e2e/terraform/.gitignore
  e2e/terraform/Makefile
  e2e/terraform/compute.tf
Labels: theme/e2e

#23622 deps: update go-kms-wrapping and Azure SDK
  go.mod
  go.sum
Labels: dependencies

#23629 Fix parsing CNI .conf and .json config formats
  .changelog/23629.txt
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
Labels: type/bug, theme/cni, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23327 exec2: update documentation with oom_score_adj settings
  website/content/plugins/drivers/exec2.mdx
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23624 docs: Fix ACL login API path documentation.
  website/content/api-docs/acl/login.mdx
Labels: backport/website, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23642 docs: explain how to use insecure registries with Docker
  website/content/docs/drivers/docker.mdx
Labels: theme/docs, theme/driver/docker, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23648 scheduler: fix TestAllocSet_filterByTainted
  scheduler/reconcile_util_test.go
Labels: backport/ent/1.8.x+ent, backport/1.8.x

#23577 keyring: support prepublishing keys
  .changelog/23577.txt
  api/keyring.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  command/operator_root_keyring.go
  command/operator_root_keyring_rotate.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/leader.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
  nomad/structs/keyring.go
  website/content/docs/commands/operator/root/keyring-rotate.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/integrations/consul/acl.mdx
  website/content/docs/integrations/vault/acl.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: type/bug, type/enhancement, theme/keyring, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23601 keyring: E2E testing for KMS/rotation
  e2e/keyring/doc.go
  e2e/keyring/keyring_test.go
  e2e/terraform/etc/nomad.d/server-linux.hcl
  e2e/terraform/main.tf
  e2e/terraform/nomad.tf
  e2e/terraform/provision-nomad/main.tf
  e2e/terraform/provision-nomad/variables.tf
  e2e/terraform/variables.tf
Labels: theme/e2e, theme/keyring, backport/1.8.x

#23600 docs: external KMS configuration
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/operations/key-management.mdx
  website/data/docs-nav-data.json
Labels: type/enhancement, theme/docs, theme/keyring, backport/1.8.x

#23653 Backport docs: keyring support prepublishing keys
  website/content/docs/commands/operator/root/keyring-rotate.mdx
  website/content/docs/configuration/server.mdx
Labels: theme/docs

#23650 e2e: test all cni config formats
  e2e/cni/cni_test.go
  e2e/cni/input/config_format.nomad.hcl
  e2e/terraform/packer/ubuntu-jammy-amd64/cni/cni_args.conflist
  e2e/terraform/packer/ubuntu-jammy-amd64/cni/cni_args.sh
  e2e/terraform/packer/ubuntu-jammy-amd64/cni/loopback.conf
  e2e/terraform/packer/ubuntu-jammy-amd64/cni/loopback.conflist
  e2e/terraform/packer/ubuntu-jammy-amd64/cni/loopback.json
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
Labels: theme/cni, theme/e2e

#23664 deps: bump azidentity to v1.7.0
  go.mod
  go.sum
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x, dependencies

#23663 template: allow change_mode script to run after client restart
  .changelog/23663.txt
  client/allocrunner/taskrunner/task_runner_hooks.go
  client/allocrunner/taskrunner/template/template.go
  client/allocrunner/taskrunner/template_hook.go
  client/allocrunner/taskrunner/template_hook_test.go
Labels: type/bug, theme/template, theme/client-restart, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23674 reporting: allow export interval and address to be configurable
  command/agent/config_parse.go
  command/agent/config_parse_test.go
  command/agent/testdata/basic.hcl
  command/agent/testdata/basic.json
  nomad/structs/config/reporting.go
Labels: theme/config, theme/enterprise, backport/ent/1.7.x+ent, backport/1.8.x

#23673 scaling: fix state store corruption bug for job scaling events
  .changelog/23673.txt
  nomad/state/state_store.go
  nomad/state/state_store_test.go
  nomad/structs/structs.go
Labels: type/bug, theme/crash, theme/autoscaling, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23687 release: explicitly set Linux service file user and group param.
  .release/linux/package/usr/lib/systemd/system/nomad.service
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23683 docs: notices of upcoming deprecations and backports
  website/content/docs/integrations/consul/acl.mdx
  website/content/docs/integrations/vault/acl.mdx
  website/content/docs/job-specification/consul.mdx
  website/content/docs/job-specification/vault.mdx
  website/content/docs/release-notes/nomad/upcoming.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/1.8.x

#23625 [ui] Unescape csi/ in plugin GET requests
  .changelog/23625.txt
  ui/app/adapters/plugin.js
  ui/mirage/config.js
Labels: backport/1.8.x

#23695 docs: add note about removing support for older clients in 1.9
  website/content/docs/release-notes/nomad/upcoming.mdx
Labels: theme/docs, backport/1.8.x

#23702 Allow static ports duplication on network host with multiple matches
  .changelog/23693.txt
  nomad/structs/network.go
  nomad/structs/network_test.go
Labels: theme/networking, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23686 Fix a Sentinel policy template
  ui/app/utils/sentinel_policy_templates/restrict-images.js
Labels: theme/enterprise, backport/1.8.x
