Repository hashicorp/nomad, pull requests merged in 2024-09, with the labels that each got.

#23817 WI: interpolate parent job ID in `vault.default_identity.extra_claims`
  .changelog/23675.txt
  .changelog/23817.txt
  CHANGELOG.md
  nomad/auth/auth.go
  nomad/structs/structs.go
  nomad/structs/workload_id.go
  nomad/structs/workload_id_test.go
  website/content/docs/configuration/vault.mdx
Labels: type/bug, theme/vault, theme/batch, theme/workload-identity, backport/1.8.x

#23902 WI: use parent job ID for subject claim
  .changelog/23902.txt
  nomad/structs/workload_id.go
  nomad/structs/workload_id_test.go
Labels: type/bug, theme/batch, theme/workload-identity, backport/1.8.x

#23906 Update upgrade-specific.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: backport/1.8.x

#23882 networking: option to enable ipv6 on bridge network
  .changelog/23882.txt
  client/allocrunner/cni/bridge.go
  client/allocrunner/network_manager_linux.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_bridge_linux_test.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/allocrunner/test_fixtures/ipv6.conflist.json
  client/config/config.go
  command/agent/agent.go
  command/agent/agent_test.go
  command/agent/config.go
  command/agent/config_parse_test.go
  command/agent/testdata/basic.hcl
  command/agent/testdata/basic.json
  website/content/docs/configuration/client.mdx
Labels: theme/networking, theme/ipv6

#23909 Remove wrong `VariableFlags` parameter from parse job endpoint
  website/content/api-docs/jobs.mdx
Labels: backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23913 jobspec: add deprecation warnings for removal of HCLv1
  .changelog/23913.txt
  api/jobs.go
  command/job_plan.go
  command/job_run.go
  command/job_validate.go
  jobspec/parse.go
  website/content/docs/commands/job/plan.mdx
  website/content/docs/commands/job/run.mdx
  website/content/docs/commands/job/validate.mdx
Labels: type/enhancement, theme/jobspec

#23910 services: reject node secret for Read/List RPC
  .changelog/23910.txt
  acl/acl.go
  nomad/service_registration_endpoint_test.go
Labels: type/enhancement, theme/auth, theme/service-discovery/nomad

#23922 [NET-10880] Keep a register of the usable cores to avoid using more than that
  client/client.go
  client/lib/cgroupslib/partition_default.go
  client/lib/cgroupslib/partition_linux.go
  client/lib/cgroupslib/partition_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23927 docker: update infra_image to new registry
  .changelog/23927.txt
  drivers/docker/config.go
  drivers/docker/driver_unix_test.go
  drivers/docker/network_test.go
  website/content/docs/drivers/docker.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/driver/docker, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23907 Differentiate the error message for different rpc calls
  plugins/csi/client.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23943 refactor keyring state store methods
  nomad/core_sched.go
  nomad/state/state_store.go
  nomad/state/state_store_keyring.go
  nomad/state/state_store_keyring_test.go
  nomad/state/state_store_test.go
Labels: backport/1.8.x

#23946 Stop referring non existent vault.file attribute
  website/content/docs/job-specification/vault.mdx
Labels: backport/website, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23955 [ui] Pin path-to-regexp with yarn1 syntax
  ui/package.json
  ui/yarn.lock
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23954 [ui] Pin body-parser to resolve an outdated dep
  ui/package.json
  ui/yarn.lock
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23959 networking: set alloc NetworkStatus.AddressIPv6
  api/allocations.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  nomad/structs/structs.go
Labels: theme/networking

#23975 keyring: reduce locking and replication overhead
  nomad/encrypter.go
  nomad/structs/keyring.go
Labels: type/enhancement, theme/keyring, backport/1.8.x

#23979 fingerprint: update landlock test to accept v4+ APIs
  client/fingerprint/landlock_test.go
Labels: theme/fingerprint, theme/testing, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23980 Port and AllocatedPortMapping msgpack omitempty
  nomad/plan_normalization_test.go
  nomad/structs/diff.go
  nomad/structs/diff_test.go
  nomad/structs/funcs_test.go
  nomad/structs/network_test.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: theme/networking, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#20465 security: fine tune security-scanner
  .github/dependabot.yml
  .github/scan.hcl
  .github/workflows/security-scan.yml
  .gitignore
  .release/security-scan.hcl
Labels: theme/security, theme/ci, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23977 keyring in raft
  .changelog/23977.txt
  helper/backoff.go
  helper/raftutil/msgtypes.go
  nomad/acl_test.go
  nomad/alloc_endpoint_test.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/encrypter.go
  nomad/encrypter_test.go
  nomad/fsm.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/leader.go
  nomad/plan_apply_test.go
  nomad/server.go
  nomad/state/schema.go
  nomad/state/state_store_keyring.go
  nomad/state/state_store_keyring_test.go
  nomad/state/state_store_restore.go
  nomad/structs/keyring.go
  nomad/structs/structs.go
Labels: type/enhancement, theme/keyring

#24021 test: wait for keyring for plan apply tests
  nomad/plan_endpoint_test.go
Labels: theme/testing, theme/keyring

#24016 ci: try less hard to cache go modules
  .github/workflows/checks.yaml
  .github/workflows/security-scan.yml
  .github/workflows/test-core.yaml
  .github/workflows/test-e2e.yml
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#24024 E2E: allow Consul version to omit tags
  e2e/consulcompat/shared_run_test.go
Labels: theme/consul, theme/testing, backport/ent/1.7.x+ent, backport/1.8.x

#24023 command line tools for redacting keyring from snapshots
  .changelog/24023.txt
  command/commands.go
  command/operator_snapshot_redact.go
  command/operator_snapshot_save.go
  command/operator_snapshot_state.go
  helper/raftutil/fsm.go
  helper/raftutil/snapshot.go
  helper/snapshot/snapshot.go
  helper/snapshot/snapshot_test.go
  nomad/fsm.go
  scheduler/benchmarks/helpers_test.go
  website/content/docs/commands/operator/snapshot/redact.mdx
  website/content/docs/commands/operator/snapshot/save.mdx
  website/data/docs-nav-data.json
Labels: type/enhancement, theme/cli, theme/raft, theme/keyring

#24020 [ui] Ember test suite upgraded
  ui/package.json
  ui/testem.js
  ui/tests/index.html
  ui/tests/integration/components/job-editor-test.js
  ui/yarn.lock
Labels: backport/1.8.x

#23845 Usage doc for configuring Nomad OIDC with AWS IAM
  website/content/docs/operations/aws-oidc-provider.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/1.8.x

#24057 template: fix panic in change_mode=script on client restart
  .changelog/24057.txt
  client/allocrunner/interfaces/task_lifecycle.go
  client/allocrunner/taskrunner/driver_handle.go
  client/allocrunner/taskrunner/interfaces/lifecycle.go
  client/allocrunner/taskrunner/lifecycle.go
  client/allocrunner/taskrunner/task_runner_hooks.go
  client/allocrunner/taskrunner/template/template.go
  client/allocrunner/taskrunner/template/template_test.go
  client/allocrunner/taskrunner/template_hook.go
  client/allocrunner/taskrunner/template_hook_test.go
  client/allocrunner/taskrunner/testing/testing.go
Labels: type/bug, theme/crash, theme/template, backport/ent/1.7.x+ent, backport/1.8.x

#24026 docs: update key management docs for keyring-in-Raft
  website/content/docs/operations/key-management.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/docs, theme/keyring

#23983 Prevent pruning and reaping of TaggedVersion jobs
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/state/schema.go
  nomad/state/schema_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: theme/golden-versions

#23889 Compare versions by name and version number with the nomad history command
  api/jobs.go
  command/agent/job_endpoint.go
  command/job_history.go
  command/job_history_test.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/job_endpoint.go
  nomad/state/schema.go
  nomad/state/schema_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
  nomad/structs/structs.go
  website/content/docs/commands/job/history.mdx
Labels: theme/golden-versions

#24013 [ui] Version Tags on the job versions page
  nomad/job_endpoint.go
  ui/app/adapters/version-tag.js
  ui/app/components/job-version.js
  ui/app/models/job-version.js
  ui/app/models/version-tag.js
  ui/app/serializers/job-version.js
  ui/app/serializers/version-tag.js
  ui/app/styles/components/timeline.scss
  ui/app/templates/components/job-version.hbs
  ui/app/templates/components/two-step-button.hbs
  ui/mirage/config.js
  ui/mirage/factories/job-version.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-versions-test.js
Labels: theme/golden-versions

#23863 Tag and Untag job versions
  api/jobs.go
  command/agent/job_endpoint.go
  command/commands.go
  command/job_history.go
  command/job_history_test.go
  command/job_tag.go
  command/job_tag_apply.go
  command/job_tag_test.go
  command/job_tag_unset.go
  nomad/core_sched.go
  nomad/core_sched_test.go
  nomad/fsm.go
  nomad/job_endpoint.go
  nomad/state/schema.go
  nomad/state/schema_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
  nomad/structs/structs.go
  ui/app/adapters/version-tag.js
  ui/app/components/job-version.js
  ui/app/models/job-version.js
  ui/app/models/version-tag.js
  ui/app/serializers/job-version.js
  ui/app/serializers/version-tag.js
  ui/app/styles/components/timeline.scss
  ui/app/templates/components/job-version.hbs
  ui/app/templates/components/two-step-button.hbs
  ui/mirage/config.js
  ui/mirage/factories/job-version.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-versions-test.js
  website/content/docs/commands/job/history.mdx
  website/content/docs/operations/metrics-reference.mdx
Labels: theme/golden-versions

#24074 docs: explain how to use dots in docker labels
  website/content/docs/drivers/docker.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/driver/docker, theme/hcl, theme/website, backport/website, hcc/jira

#24069 Docs: Terraform prereq clarification
  website/content/docs/operations/aws-oidc-provider.mdx
Labels: theme/docs, backport/website

#24081 docker: fix bug in waiting for container to exit
  drivers/docker/handle.go
Labels: type/bug, theme/driver/docker

#24078 Update to Nomad as an AWS OIDC Provider doc
  website/content/docs/operations/aws-oidc-provider.mdx
Labels: theme/docs, backport/website
