Repository hashicorp/nomad, pull requests merged in 2024-03, with the labels that each got.

#20049 Avoid NPE in nomad/command/job_restart.go
  .changelog/20049.txt
  command/job_restart.go
Labels: type/bug, theme/cli

#20071 Fix wording of ACL error message
  nomad/state/schema.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#20079 docs: fix s/port-plan-failure
  website/redirects.js
Labels: backport/website

#20075 docs: skipping a major release is fine
  website/content/docs/upgrade/index.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20100 deps: upgrade protobuf lib to 1.33.0
  .changelog/20066.txt
  .changelog/20100.txt
  go.mod
  go.sum
Labels: theme/security, theme/dependencies, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20105 Bump consul-template to 0.37.2
  go.mod
  go.sum
Labels: theme/consul-template, theme/dependencies, backport/1.5.x, backport/1.6.x, backport/1.7.x

#18925 -json option on jobs status command
  .changelog/18925.txt
  command/job_status.go
  website/content/docs/commands/job/status.mdx
Labels: type/enhancement, theme/cli, backport/1.7.x

#20110 remove repetitive words
  api/api.go
  api/csi.go
  client/allocrunner/network_manager_linux.go
  client/allocrunner/tasklifecycle/coordinator_test.go
  command/alloc_stop.go
  drivers/shared/capabilities/defaults.go
  drivers/shared/executor/executor.go
  nomad/csi_endpoint.go
  nomad/structs/csi.go
  nomad/vault.go
  plugins/device/proto/device.pb.go
  plugins/device/proto/device.proto
  plugins/drivers/plugin.go
  scheduler/benchmarks/helpers_test.go
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#20138 cli: add options to help string for `acl policy info`
  command/acl_policy_info.go
Labels: theme/cli, backport/1.7.x

#20139 docs: improve wording around autoconfiguration via Consul
  website/content/docs/configuration/consul.mdx
Labels: theme/docs, theme/config, theme/consul, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20150 acl: remove unused nil ACL object handling
  nomad/acl_endpoint.go
  nomad/operator_endpoint.go
Labels: type/tech-debt, theme/acl, backport/1.7.x

#20153 autopilot: add Enterprise health information to API endpoint
  .changelog/20153.txt
  api/operator_autopilot.go
  api/operator_test.go
  command/agent/operator_endpoint.go
  command/agent/operator_endpoint_ce.go
  command/agent/operator_endpoint_test.go
  nomad/autopilot.go
  nomad/autopilot_ce.go
  nomad/autopilot_test.go
  nomad/structs/autopilot.go
  website/content/api-docs/operator/autopilot.mdx
Labels: type/enhancement, theme/autopilot, theme/enterprise, backport/1.7.x

#20156 autopilot: add `operator autopilot health` command
  .changelog/20156.txt
  command/commands.go
  command/operator_autopilot_health.go
  command/operator_autopilot_health_test.go
  website/content/docs/commands/operator/autopilot/health.mdx
  website/data/docs-nav-data.json
Labels: type/enhancement, theme/cli, theme/autopilot, backport/1.7.x

#20154 [chore] Fix LeadershipTransfer tests
  nomad/operator_endpoint_test.go
Labels: type/bug, theme/testing, theme/flaky-tests, stage/accepted

#20056 docs: make recommendation for collection interval vs scrape interval
  website/content/docs/configuration/telemetry.mdx
Labels: theme/docs, theme/metrics, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20006 [refactor] Move task directory destroy logic from alloc_dir.go to task_dir.go
  client/allocdir/alloc_dir.go
  client/allocdir/fs_darwin.go
  client/allocdir/fs_freebsd.go
  client/allocdir/fs_linux.go
  client/allocdir/fs_netbsd.go
  client/allocdir/fs_solaris.go
  client/allocdir/fs_unix.go
  client/allocdir/fs_windows.go
  client/allocdir/task_dir.go
  client/allocdir/task_dir_linux.go
Labels: stage/accepted, type/tech-debt, theme/alloc_dir

#20165 config: fix `client.template` config merging with defaults
  .changelog/20165.txt
  client/config/config.go
  command/agent/agent.go
  command/agent/config.go
  command/agent/config_test.go
Labels: type/bug, theme/config, theme/template, theme/consul-template, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20172 docs: fix `invoke_scheduler` metrics
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20189 cni: fix regression in falling back to DNS owned by `dockerd`
  .changelog/20189.txt
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/allocrunner/taskrunner/task_runner_test.go
Labels: type/bug, theme/cni, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20176 jobspec: update `gateway.ingress.service` Consul API fields
  .changelog/16753.txt
  api/consul.go
  api/consul_test.go
  api/utils.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  jobspec/parse_service.go
  jobspec/parse_test.go
  jobspec/test-fixtures/tg-service-connect-gateway-ingress.hcl
  nomad/consul.go
  nomad/structs/diff.go
  nomad/structs/services.go
  website/content/docs/job-specification/gateway.mdx
Labels: type/enhancement, theme/consul, backport/1.7.x

#20196 docs: make it clear that federation features require ACLs
  website/content/docs/commands/acl/index.mdx
  website/content/docs/commands/namespace/index.mdx
  website/content/docs/commands/server/join.mdx
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/other-specifications/acl-policy.mdx
  website/content/docs/other-specifications/namespace.mdx
Labels: theme/docs, backport/1.5.x, backport/1.6.x, theme/federation, backport/1.7.x

#20190 Add nomad-port-forward to community tools
  website/content/tools/index.mdx
Labels: backport/website, backport/1.7.x

#20200 E2E: change timing of `vaultsecrets` test to guarantee lease window
  e2e/vaultsecrets/vaultsecrets_test.go
Labels: theme/flaky-tests, theme/e2e

#20167 jobspec: add support for destination partition to `upstream` block
  .changelog/20167.txt
  api/consul.go
  api/consul_test.go
  command/agent/consul/connect.go
  command/agent/consul/connect_test.go
  command/agent/consul/service_client.go
  command/agent/consul/service_client_test.go
  command/agent/job_endpoint.go
  command/agent/job_endpoint_test.go
  jobspec/parse_service.go
  jobspec/parse_test.go
  jobspec/test-fixtures/tg-network.hcl
  nomad/structs/diff_test.go
  nomad/structs/services.go
  nomad/structs/services_test.go
  website/content/docs/job-specification/upstreams.mdx
Labels: type/enhancement, theme/consul, theme/consul/connect, backport/1.7.x

#20206 operator debug: fix pprof interval handling
  .changelog/20206.txt
  command/operator_debug.go
  command/operator_debug_test.go
  website/content/docs/commands/operator/debug.mdx
Labels: type/bug, theme/cli, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20166 agent: allow configuration of in-memory telemetry sink.
  .changelog/20166.txt
  command/agent/command.go
  command/agent/config.go
  command/agent/config_parse.go
  command/agent/config_parse_test.go
  command/agent/config_test.go
  command/agent/testdata/basic.hcl
  command/agent/testdata/basic.json
  website/content/docs/configuration/telemetry.mdx
Labels: backport/1.7.x

#20218 [ui] Namespace added to example test in exec window
  .changelog/20218.txt
  ui/app/controllers/exec.js
  ui/tests/acceptance/actions-test.js
  ui/tests/acceptance/exec-test.js
Labels: backport/1.6.x, backport/1.7.x

#20234 deps: update consul-template to 0.37.4 to fix resource leak
  .changelog/20234.txt
  go.mod
  go.sum
Labels: theme/consul-template, theme/dependencies, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20242 docs: update Consul compatibility matrix
  website/content/docs/integrations/consul/index.mdx
Labels: theme/docs, backport/1.7.x

#15473 networking: Inject implicit constraints on CNI plugins when using bridge mode
  .changelog/15473.txt
  client/allocrunner/networking_bridge_linux.go
  nomad/job_endpoint_hooks.go
  nomad/job_endpoint_hooks_test.go
  nomad/structs/job.go
  nomad/structs/structs.go
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: type/enhancement, theme/networking, theme/scheduling

#20233 structs: fix test for empty DNS configuration
  nomad/structs/structs.go
  nomad/structs/structs_test.go
Labels: type/bug, backport/1.6.x, backport/1.7.x
