Repository hashicorp/nomad, pull requests merged in 2024-04, with the labels that each got.

#20256 E2E: use a self-hosted Consul for easier WI testing
  e2e/terraform/README.md
  e2e/terraform/compute.tf
  e2e/terraform/consul-clients.tf
  e2e/terraform/consul-servers.tf
  e2e/terraform/etc/consul.d/.environment
  e2e/terraform/etc/consul.d/client_acl.json
  e2e/terraform/etc/consul.d/clients.hcl
  e2e/terraform/etc/consul.d/clients.json
  e2e/terraform/etc/consul.d/consul-server.service
  e2e/terraform/etc/consul.d/servers.hcl
  e2e/terraform/etc/nomad.d/client-consul.hcl
  e2e/terraform/etc/nomad.d/server-consul.hcl
  e2e/terraform/hcp_consul.tf
  e2e/terraform/network.tf
  e2e/terraform/nomad-acls.tf
  e2e/terraform/outputs.tf
  e2e/terraform/provision-nomad/install-linux.tf
  e2e/terraform/provision-nomad/main.tf
  e2e/terraform/scripts/bootstrap-consul.sh
  e2e/terraform/scripts/consul-agents-policy.hcl
  e2e/terraform/scripts/nomad-cluster-consul-policy.hcl
  e2e/terraform/terraform.tfvars
  e2e/terraform/tls_ca.tf
  e2e/terraform/variables.tf
Labels: theme/testing, theme/e2e

#20261 api: add missing `AllocDirStats` field in Go API
  .changelog/20261.txt
  api/nodes.go
  api/nodes_test.go
Labels: type/bug, theme/api, theme/client, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20251 docs: update service mesh integration docs for transparent proxy
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/networking/cni.mdx
Labels: theme/docs, theme/consul/connect

#20268 docs: clarify data dir default parameters and default creation.
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/server.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20278 E2E: refactor Connect tests to use stdlib testing
  e2e/connect/acls.go
  e2e/connect/acls_test.go
  e2e/connect/client.go
  e2e/connect/client_test.go
  e2e/connect/connect.go
  e2e/connect/connect_test.go
  e2e/connect/doc.go
  e2e/connect/multi_service.go
  e2e/e2e_test.go
  e2e/v3/jobs3/jobs3.go
Labels: theme/consul/connect, theme/testing, theme/e2e

#20284 doc nomad-autoscaler: add options for pass-through strategy
  website/content/tools/autoscaling/plugins/strategy/pass-through.mdx
Labels: backport/website, backport/1.7.x

#20259 docs: recommendation for maximum number of template dependencies
  website/content/docs/job-specification/template.mdx
Labels: theme/docs, theme/template, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20276 cpuset fixer: use correct cgroup path for updates
  .changelog/20276.txt
  drivers/docker/driver.go
  drivers/docker/handle.go
  drivers/docker/handle_test.go
Labels: backport/1.7.x

#20301 E2E: skip Vault 1.16.1 for JWT compatibility test
  e2e/vaultcompat/vaultcompat_test.go
Labels: theme/vault, theme/testing, backport/1.7.x

#20300 E2E: ensure periodic test can't fail due to cron conflicts
  e2e/periodic/doc.go
  e2e/periodic/input/simple.nomad
  e2e/periodic/periodic.go
  e2e/periodic/periodic_test.go
  e2e/v3/jobs3/jobs3.go
Labels: theme/e2e, theme/periodic

#20294 docker: use correct effective cpuset filename on legacy cgroups v1 systems
  .changelog/20294.txt
  drivers/docker/cpuset.go
  drivers/docker/cpuset_test.go
Labels: backport/1.7.x

#20304 docs: add Digital Ocean Spaces artifact jobspec example.
  website/content/docs/job-specification/artifact.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20235 [ui] Show re-bound keyboard nav hints instead of their default values
  .changelog/20235.txt
  ui/app/components/keyboard-shortcuts-modal.js
  ui/app/services/keyboard.js
  ui/tests/acceptance/keyboard-test.js
Labels: backport/1.7.x

#20318 cli: remove extraneous trailing newline from `nomad fmt`
  command/fmt.go
Labels: type/bug, theme/cli, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20306 docs: ensure namespace ACL policy capabilities are all listed.
  website/content/docs/other-specifications/acl-policy.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20317 drain: use authenticated ID as source of drained-by metadata
  .changelog/20317.txt
  nomad/fsm.go
  nomad/node_endpoint.go
  nomad/node_endpoint_test.go
  nomad/structs/structs.go
Labels: type/bug, theme/drain, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20339 docs: fix incorrect formatting within ACL policy spec.
  website/content/docs/other-specifications/acl-policy.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20175 Connect transparent proxy support
  api/consul.go
  client/allocrunner/network_manager_linux.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_bridge_linux_test.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/client.go
  command/agent/consul/connect.go
  command/agent/job_endpoint.go
  e2e/connect/acls_test.go
  e2e/connect/connect_test.go
  e2e/connect/input/tproxy.nomad.hcl
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
  helper/envoy/envoy.go
  jobspec/parse_service.go
  jobspec/parse_test.go
  jobspec/test-fixtures/tg-service-connect-proxy.hcl
  nomad/job_endpoint_hook_connect.go
  nomad/job_endpoint_hook_connect_test.go
  nomad/job_endpoint_hooks.go
  nomad/job_endpoint_hooks_test.go
  nomad/structs/connect.go
  nomad/structs/connect_test.go
  nomad/structs/diff.go
  nomad/structs/diff_test.go
  nomad/structs/job.go
  nomad/structs/job_test.go
  nomad/structs/services.go
  nomad/structs/services_test.go
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/job-specification/expose.mdx
  website/content/docs/job-specification/proxy.mdx
  website/content/docs/job-specification/transparent_proxy.mdx
  website/content/docs/job-specification/upstreams.mdx
  website/content/docs/networking/cni.mdx
  website/data/docs-nav-data.json
Labels: type/enhancement, theme/consul, theme/consul/connect

#20346 fix exhausted node metrics reporting in preemption
  .changelog/20346.txt
  scheduler/rank.go
  scheduler/rank_test.go
Labels: theme/scheduling, theme/metrics, backport/1.7.x

#20348 deployment watcher: fix goroutine leak when job is purged
  .changelog/20348.txt
  nomad/deploymentwatcher/deployments_watcher.go
  nomad/deploymentwatcher/deployments_watcher_test.go
Labels: type/bug, theme/deployments, hcc/cst, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20344 WI: ensure Consul hook and WID manager interpolate services
  .changelog/20344.txt
  client/allocrunner/alloc_runner.go
  client/allocrunner/alloc_runner_hooks.go
  client/allocrunner/consul_hook.go
  client/allocrunner/consul_hook_test.go
  client/allocrunner/identity_hook_test.go
  client/allocrunner/taskrunner/identity_hook_test.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/allocrunner/taskrunner/vault_hook_test.go
  client/taskenv/services.go
  client/widmgr/mock.go
  client/widmgr/widmgr.go
  client/widmgr/widmgr_test.go
  nomad/alloc_endpoint.go
  nomad/structs/services.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
  nomad/structs/workload_id.go
Labels: type/bug, theme/consul, theme/workload-identity, backport/1.7.x

#20357 docs: clarify "best effort" for ephemeral disk migration
  website/content/docs/job-specification/ephemeral_disk.mdx
Labels: theme/docs, theme/data migration, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20378 E2E: clean up go mod cache after building `consul-cni`
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
Labels: theme/testing, theme/e2e

#20345 license: add LICENSE file to release zip and docker image
  .github/workflows/build.yml
  Dockerfile
  GNUmakefile
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#20379 CNI: fix bugs in parsing strings to port number integers
  client/allocrunner/networking_cni.go
  nomad/job_endpoint_hook_connect.go
Labels: type/bug, theme/security, theme/cni

#20369 docs: provide guidance on using Consul DNS
  website/content/docs/integrations/consul/index.mdx
Labels: theme/docs, theme/consul

#20383 [ui] don't assume that an allocation has a task events array when checking if it hasBeenRestarted
  .changelog/20383.txt
  ui/app/models/allocation.js
Labels: backport/1.6.x, backport/1.7.x

#20386 test: ensure cpuset cgroup is setup before fingerprinting
  client/fingerprint/cpu_default_test.go
Labels: theme/testing, theme/cgroups

#20329 eval_broker: track enqueue and dequeue times
  .changelog/20329.txt
  nomad/eval_broker.go
  nomad/leader.go
  website/content/docs/operations/metrics-reference.mdx
Labels: theme/metrics

#20391 deps: update `go-getter`
  .changelog/20391.txt
  go.mod
  go.sum
Labels: type/bug, theme/dependencies, theme/artifact, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20392 systemd: comment on OOMScoreAdjust in service unit
  .release/linux/package/usr/lib/systemd/system/nomad.service
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#20351 mock_driver: fix fingreprint key
  client/driver_manager_test.go
  drivers/mock/driver.go
  website/content/api-docs/events.mdx
  website/content/api-docs/nodes.mdx
Labels: backport/1.5.x, backport/1.6.x, backport/1.7.x

#20412 docs: add missing copyright headers in Terraform examples
  terraform/shared/config/consul.hcl
  terraform/shared/config/consul_client.hcl
Labels: theme/docs

#20408 [ui] Fix a bug where promotion would be asked with no new canaries
  .changelog/20408.txt
  ui/app/components/job-status/panel/deploying.js
  ui/tests/integration/components/job-page/service-test.js
Labels: backport/1.7.x

#20409 update docs link in quick start
  website/data/intro-nav-data.json
Labels: theme/docs, backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20411 WI: ensure tasks within same alloc get different Consul tokens
  client/allocrunner/consul_hook.go
  client/allocrunner/consul_hook_test.go
  client/allocrunner/taskrunner/consul_hook.go
  client/allocrunner/taskrunner/consul_hook_test.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/allocrunner/taskrunner/template_hook.go
  client/allocrunner/taskrunner/template_hook_test.go
Labels: theme/consul, theme/workload-identity, backport/1.7.x

#20433 docs: fix incorrect dispatch payload limit in API docs
  website/content/api-docs/jobs.mdx
Labels: theme/docs, backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20434 deps: update golang.org/x/net
  go.mod
  go.sum
Labels: theme/security, theme/dependencies, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20445 chore(deps): bump github.com/docker/docker (backport for 1.5.x)
  .changelog/20171.txt
  go.mod
  go.sum
Labels: theme/dependencies

#20444 chore(deps): bump github.com/docker/docker (backport for 1.6.x)
  .changelog/20171.txt
  go.mod
  go.sum
Labels: theme/dependencies

#20443 chore(deps): bump github.com/docker/docker (backport for 1.7.x)
  .changelog/20171.txt
  go.mod
  go.sum
Labels: theme/dependencies

#20446 docs: correct nanoseconds to milliseconds for MeasureSince metrics
  website/content/docs/operations/metrics-reference.mdx
Labels: theme/docs, backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20456 acl: remove remaining unused nil ACL object handling
  .semgrep/rpc_endpoint.yml
  nomad/csi_endpoint.go
  nomad/job_endpoint.go
  nomad/namespace_endpoint.go
  nomad/operator_endpoint.go
  nomad/search_endpoint.go
  nomad/stream/event_broker.go
Labels: theme/auth, type/tech-debt, backport/1.7.x

#20350 modifyIndex-based pagination
  ui/app/adapters/job.js
  ui/app/controllers/jobs/index.js
  ui/app/templates/jobs/index.hbs
  ui/mirage/config.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/jobs-list-test.js
  ui/tests/pages/jobs/list.js
Labels: hcc/bff

#20464 acl: token global mode can not be changed
  command/acl_token_update.go
  website/content/api-docs/acl/tokens.mdx
  website/content/docs/commands/acl/token/create.mdx
  website/content/docs/commands/acl/token/update.mdx
Labels: backport/website, backport/1.5.x, backport/1.6.x, backport/1.7.x

#20484 Revert "E2E: skip Vault 1.16.1 for JWT compatibility test (#20301)"
  e2e/vaultcompat/vaultcompat_test.go
Labels: theme/vault, theme/e2e

#20499 e2e: unflake TestWorkloadIdentity/testNobody
  e2e/workload_id/input/nobody.nomad
Labels: theme/e2e
