Repository hashicorp/nomad, pull requests merged in 2024-08, with the labels that each got.

#23712 tls: remove deprecated `prefer_server_cipher_suites` field
  .changelog/23712.txt
  command/agent/config_parse_test.go
  command/agent/testdata/basic.hcl
  command/agent/testdata/basic.json
  helper/tlsutil/config.go
  helper/tlsutil/config_test.go
  nomad/structs/config/tls.go
  nomad/structs/config/tls_test.go
  website/content/docs/configuration/tls.mdx
Labels: theme/security, theme/tls, type/tech-debt

#23720 build: remove inactive CE versions from being backport eligible
  .release/versions.hcl
Labels: theme/build-infrastructure

#23719 Add artifacts manifest (automatically generated)
  .release/nomad-artifacts.hcl
Labels: backport/1.8.x

#23733 docs: document `client.alloc_mounts_dir` configuration
  website/content/docs/configuration/client.mdx
Labels: theme/docs, backport/1.8.x

#23708 refactor identity claims constructor to builder
  nomad/acl_endpoint_test.go
  nomad/acl_test.go
  nomad/alloc_endpoint.go
  nomad/auth/auth_test.go
  nomad/encrypter_test.go
  nomad/plan_apply.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
  nomad/structs/workload_id.go
  nomad/structs/workload_id_test.go
  nomad/variables_endpoint_test.go
Labels: theme/tech-debt, theme/workload-identity

#23739 DOCS: CE-659 chroot limitations for isolated fork/exec driver
  website/content/docs/configuration/client.mdx
  website/content/docs/drivers/exec.mdx
  website/content/partials/chroot-limitations.mdx
Labels: theme/docs, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23675 workload identity: add support for extra claims config for Vault
  e2e/vaultcompat/cluster_setup_test.go
  e2e/vaultcompat/input/restricted_jwt.hcl
  e2e/vaultcompat/run_ce_test.go
  e2e/vaultcompat/vaultcompat_test.go
  nomad/alloc_endpoint.go
  nomad/config.go
  nomad/structs/config/workload_id.go
  nomad/structs/workload_id.go
  nomad/structs/workload_id_test.go
  testutil/server.go
  website/content/docs/configuration/vault.mdx
Labels: type/enhancement, theme/vault, theme/workload-identity, backport/1.8.x

#23699 cli: add option to return original HCL in `job inspect` command
  .changelog/23699.txt
  command/job_inspect.go
  command/job_inspect_test.go
  website/content/docs/commands/job/index.mdx
  website/content/docs/commands/job/inspect.mdx
Labels: type/enhancement, theme/cli, theme/hcl, backport/1.8.x

#23696 resources: allow job authors to configure size of secrets tmpfs
  .changelog/23696.txt
  api/resources.go
  client/allocdir/alloc_dir.go
  client/allocdir/alloc_dir_test.go
  client/allocdir/fs_darwin.go
  client/allocdir/fs_freebsd.go
  client/allocdir/fs_linux.go
  client/allocdir/fs_linux_test.go
  client/allocdir/fs_netbsd.go
  client/allocdir/fs_solaris.go
  client/allocdir/fs_windows.go
  client/allocdir/task_dir.go
  client/allocdir/task_dir_test.go
  client/allocrunner/alloc_runner.go
  client/allocrunner/taskrunner/connect_native_hook_test.go
  client/allocrunner/taskrunner/dispatch_hook_test.go
  client/allocrunner/taskrunner/envoy_bootstrap_hook_test.go
  client/allocrunner/taskrunner/envoy_version_hook_test.go
  client/allocrunner/taskrunner/task_runner.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/allocrunner/taskrunner/template/template_test.go
  command/agent/consul/int_test.go
  command/agent/job_endpoint.go
  drivers/mock/driver_test.go
  drivers/shared/executor/executor_linux_test.go
  drivers/shared/executor/executor_test.go
  helper/safemath/safemath.go
  helper/safemath/safemath_test.go
  nomad/structs/diff_test.go
  nomad/structs/structs.go
  plugins/drivers/testutils/testing.go
  scheduler/rank.go
  scheduler/rank_test.go
  scheduler/util.go
  website/content/docs/job-specification/resources.mdx
Labels: type/enhancement, theme/resource-utilization, backport/1.8.x

#23738 security: fix write symlink escape on the same allocdir path
  .changelog/23738.txt
  client/allocwatcher/alloc_watcher.go
  client/allocwatcher/alloc_watcher_unix_test.go
Labels: theme/security, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23707 DOCS: CE-661 Refactor CNI plugin content
  website/content/docs/concepts/plugins/cni.mdx
  website/content/docs/install/index.mdx
  website/content/docs/install/production/requirements.mdx
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/networking/cni.mdx
  website/content/docs/networking/index.mdx
  website/content/partials/install/bridge-iptables.mdx
  website/content/partials/install/cgroup-controllers.mdx
  website/content/partials/install/install-cni-plugins.mdx
  website/content/partials/install/install-consul-cni-plugin.mdx
  website/content/partials/install/manual-install.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, theme/networking, theme/cni, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23756 build: revert change to active versions
  .release/versions.hcl
Labels: theme/build-infrastructure

#23757 acl: disallow leading `/` on variable paths
  .changelog/23757.txt
  acl/policy.go
  acl/policy_test.go
  website/content/docs/other-specifications/acl-policy.mdx
Labels: type/enhancement, theme/acl, backport/1.8.x

#23752 docs: Clarify namespace rules matching criteria.
  website/content/docs/other-specifications/acl-policy.mdx
Labels: theme/docs, theme/auth, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23764 cni: network.cni job updates should replace allocs
  .changelog/23764.txt
  scheduler/util.go
Labels: theme/jobspec, theme/cni, backport/1.8.x

#23763 identity: prevent missing task identity from panicking server
  .changelog/23763.txt
  nomad/encrypter.go
  nomad/structs/structs.go
  nomad/structs/workload_id.go
Labels: type/bug, theme/crash, theme/workload-identity, backport/1.8.x

#23750 docker: fix delimiter for selinux label for read-only volumes
  .changelog/23750.txt
  client/testutil/driver_compatible.go
  drivers/docker/driver.go
  drivers/docker/driver_test.go
Labels: type/bug, theme/driver/docker, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#16437 feat: show warning if policy doesn't exist
  .changelog/16437.txt
  command/acl_token_create.go
Labels: type/enhancement, theme/cli, stage/accepted, backport/1.8.x

#18532 Add role update functionality to acl token update
  .changelog/18532.txt
  command/acl_token_update.go
  website/content/docs/commands/acl/token/update.mdx
Labels: type/enhancement, theme/cli, theme/auth, backport/1.8.x

#19557 login.mdx: Illustrate how to use the obtained token
  website/content/docs/commands/login.mdx
Labels: theme/docs, backport/1.8.x

#23776 testing: fix skip comment on `RequireWindows` helper
  client/testutil/driver_compatible.go
Labels: backport/1.8.x

#23785 api: only set url field in config if previously unset
  .changelog/23785.txt
  api/api.go
  api/api_test.go
Labels: type/bug, theme/api, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23800 docs: minimal Consul policy for Nomad agents needs node:write
  website/content/docs/integrations/consul/acl.mdx
Labels: backport/website, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23805 build: update to go1.22.6
  .changelog/23805.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23807 build: update golangci-lint to 1.60.1
  .golangci.yml
  GNUmakefile
  client/fingerprint/env_gce.go
  command/agent/acl_endpoint.go
  command/agent/agent_endpoint.go
  command/agent/alloc_endpoint.go
  command/agent/job_endpoint.go
  command/agent/search_endpoint.go
  e2e/clientstate/clientstate.go
  nomad/csi_endpoint.go
  nomad/job_endpoint.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23772 networking: refactor building nomad bridge config
  client/allocrunner/cni/bridge.go
  client/allocrunner/cni/bridge_test.go
  client/allocrunner/cni/plugins.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_bridge_linux_test.go
  client/allocrunner/test_fixtures/bad_input.conflist.json
  client/allocrunner/test_fixtures/consul-cni.conflist.json
  client/allocrunner/test_fixtures/empty.conflist.json
  client/allocrunner/test_fixtures/hairpin.conflist.json
Labels: theme/networking, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23792 docs: remove remaining references to network_speed config
  website/content/docs/configuration/client.mdx
  website/content/docs/job-specification/constraint.mdx
Labels: theme/docs, theme/config, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23804 docker: disable cpuset management for non-root clients
  .changelog/23804.txt
  drivers/docker/config.go
  drivers/docker/driver.go
  drivers/docker/fingerprint.go
  drivers/docker/handle.go
  website/content/docs/drivers/docker.mdx
Labels: type/enhancement, theme/driver/docker, theme/cgroups, theme/rootless, backport/1.8.x

#23803 cgroupslib: allow initial controller check with delegated cgroups
  .changelog/23803.txt
  client/lib/cgroupslib/init.go
  client/lib/cgroupslib/mount.go
  client/lib/cgroupslib/mount_test.go
Labels: type/enhancement, theme/cgroups, theme/rootless, backport/1.8.x

#23827 client: log an error message if total detected cpu is zero
  client/fingerprint/cpu.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23813 Tie allowed network modes to namespace capabilities.
  .changelog/23813.txt
  api/namespace.go
  command/namespace_status.go
  nomad/job_endpoint_validators.go
  nomad/job_endpoint_validators_test.go
  nomad/structs/structs.go
  website/content/docs/commands/namespace/apply.mdx
  website/content/docs/commands/namespace/status.mdx
  website/content/docs/other-specifications/namespace.mdx
Labels: type/enhancement, theme/namespaces, backport/1.8.x

#23832 [ui] Prevent double-open for cmd+click on jobs index links
  .changelog/23832.txt
  ui/app/controllers/jobs/index.js
Labels: backport/1.8.x

#23829 [ui] Show "Scaled Down" as a valid job status when task groups' counts are set to zero
  .changelog/23829.txt
  ui/app/components/job-status/panel/steady.js
  ui/app/models/job.js
  ui/mirage/factories/job.js
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/1.8.x

#23850 command/debug: capture more logs by default
  .changelog/23850.txt
  command/operator_debug.go
  website/content/docs/commands/operator/debug.mdx
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent

#23856 networking: refactor some iptables for testability
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/allocrunner/networking_iptables.go
  client/allocrunner/networking_iptables_test.go
Labels: theme/networking, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/1.8.x

#23861 Website README: Add install HashiCorp package to run content-check locally
  website/README.md
Labels: theme/docs, backport/1.6.x, backport/1.7.x, backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23858 node endpoints: do not create evals for sysbatch jobs
  .changelog/23858.txt
  nomad/node_endpoint.go
  nomad/node_endpoint_test.go
Labels: backport/ent/1.6.x+ent, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x

#23849 Docs: CE-674 Add job statuses
  website/content/docs/concepts/job.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/ent/1.8.x+ent, backport/1.8.x
