Repository hashicorp/nomad, pull requests merged in 2025-04, with the labels that each got.

#25465 docs: add missing podman task config options
  website/content/plugins/drivers/podman.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#25529 docs: document requirements for Consul tokens in admin partitions
  website/content/docs/configuration/consul.mdx
Labels: theme/docs, theme/consul, theme/enterprise, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x

#25569 test: Move client server manager tests to use must library.
  client/servers/manager_internal_test.go
  client/servers/manager_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25540 Docs: Fix broken links in main for 1.10 release
  website/content/api-docs/operator/upgrade-check.mdx
  website/content/api-docs/task-api.mdx
  website/content/docs/commands/job/run.mdx
  website/content/docs/commands/node/meta/apply.mdx
  website/content/docs/commands/node/meta/read.mdx
  website/content/docs/commands/operator/autopilot/health.mdx
  website/content/docs/commands/operator/snapshot/agent.mdx
  website/content/docs/commands/operator/snapshot/restore.mdx
  website/content/docs/commands/operator/snapshot/save.mdx
  website/content/docs/commands/setup/vault.mdx
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/concepts/scheduling/placement.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/ecosystem.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/install/production/requirements.mdx
  website/content/docs/install/quickstart.mdx
  website/content/docs/integrations/consul/service-mesh.mdx
  website/content/docs/job-specification/check.mdx
  website/content/docs/job-specification/check_restart.mdx
  website/content/docs/job-specification/consul.mdx
  website/content/docs/job-specification/expose.mdx
  website/content/docs/job-specification/identity.mdx
  website/content/docs/job-specification/meta.mdx
  website/content/docs/job-specification/migrate.mdx
  website/content/docs/job-specification/transparent_proxy.mdx
  website/content/docs/job-specification/update.mdx
  website/content/docs/job-specification/vault.mdx
  website/content/docs/operations/monitoring-nomad.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/other-specifications/volume/csi.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/redirects.js
Labels: theme/docs

#25566 bump: go-discovery to latest commit SHA
  go.mod
  go.sum
Labels: theme/discovery, theme/dependencies, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25581 cni: add warning log for CNI check command failures
  .changelog/25581.txt
  client/allocrunner/network_hook.go
Labels: theme/cni, backport/ent/1.8.x+ent, backport/1.9.x

#25466 feat: Adding ability to configure yamux rpc connections multiplexor
  .changelog/25466.txt
  client/client.go
  client/config/config.go
  client/testing.go
  command/agent/agent.go
  command/agent/command.go
  command/agent/config.go
  command/agent/config_parse.go
  command/agent/config_parse_test.go
  command/agent/testdata/sample1/sample0.json
  command/agent/testdata/sample1/sample1.json
  command/agent/testdata/sample1/sample2.hcl
  helper/pool/pool.go
  helper/pool/pool_test.go
  nomad/config.go
  nomad/rpc.go
  nomad/rpc_test.go
  nomad/server.go
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/rpc.mdx
  website/data/docs-nav-data.json
Labels: type/enhancement, theme/docs, theme/config

#25590 dynamic host volumes: enforce that namespace exists
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
Labels: type/bug, theme/storage

#25511 modify rawexec TaskConfig and Config to accept envvar denylist
  .changelog/25511.txt
  drivers/rawexec/driver.go
  drivers/rawexec/driver_test.go
  website/content/docs/drivers/raw_exec.mdx
Labels: type/enhancement, theme/docs, theme/driver/raw_exec

#25589 upgrade testing: temporarily disable CSI workload
  enos/enos-scenario-upgrade.hcl
Labels: theme/storage, theme/testing

#25496 raw_exec windows: add support for setting the task user
  .changelog/25496.txt
  drivers/shared/executor/executor_basic.go
  drivers/shared/executor/executor_windows.go
  website/content/docs/drivers/raw_exec.mdx
  website/content/docs/job-specification/task.mdx
Labels: theme/docs, theme/platform-windows, theme/driver/raw_exec

#25593 auth: oidc: enable pkce only on new auth methods
  api/acl.go
  command/acl_auth_method.go
  internal/testing/apitests/acl_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/api-docs/auth-method-params.mdx
Labels: theme/auth

#25565 auth: oidc client assertion tweaks
  lib/auth/oidc/client_assertion.go
  lib/auth/oidc/client_assertion_test.go
  lib/auth/oidc/provider.go
  nomad/structs/acl.go
  nomad/structs/acl_test.go
Labels: theme/auth

#25597 ci: Run the build workflow on pushes to long-lived branches only.
  .github/workflows/build.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x, backport/ent/1.10.x+ent

#25600 auth: oidc: disable pkce by default
  api/acl.go
  command/acl_auth_method.go
  internal/testing/apitests/acl_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/partials/api-docs/auth-method-params.mdx
Labels: type/bug, theme/auth, backport/1.10.x

#25623 build: Update Go to v1.24.0
  .changelog/25623.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25433 Docs: 1.10 release notes, some factoring, sentinel apply update
  website/content/docs/commands/sentinel/apply.mdx
  website/content/docs/release-notes/nomad/v1-10-x.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/release-notes/v1-10/breaking-affinity-spread.mdx
  website/content/partials/release-notes/v1-10/breaking-consul-template.mdx
  website/content/partials/release-notes/v1-10/breaking-disconnect-fields-removed.mdx
  website/content/partials/release-notes/v1-10/breaking-go-sdk.mdx
  website/content/partials/release-notes/v1-10/breaking-plugin-dir.mdx
  website/content/partials/release-notes/v1-10/breaking-remove-remote-task-driver-support.mdx
  website/content/partials/release-notes/v1-10/breaking-sentinel-apply.mdx
  website/content/partials/release-notes/v1-10/breaking-vault-consul-token.mdx
  website/content/partials/release-notes/v1-10/deprecate-variable-limits.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/1.10.x

#25629 agent: Fix misaligned contextual k/v logging arguments.
  client/allocrunner/taskrunner/api_hook.go
  client/allocrunner/taskrunner/dynamic_users_hook.go
  client/allocrunner/taskrunner/identity_hook.go
  client/client.go
  client/widmgr/widmgr.go
  nomad/job_endpoint.go
  nomad/leader.go
  nomad/locks.go
  scheduler/scheduler_system.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25649 Docs: Manual backport of Add note to root keyring remove command (#25637) to release/1.8.x
  website/content/docs/commands/operator/root/keyring-remove.mdx
Labels: theme/docs

#25654 Add changelogs for 1.9.8+ent and 1.8.12+ent
  CHANGELOG.md
Labels: backport/1.10.x

#25340 Use core ID when selecting cores
  .changelog/25340.txt
  scheduler/numa_ce.go
  scheduler/numa_ce_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25652 Docs: Update links in prior version release notes and specific upgrade details to point to prior version docs
  website/content/docs/release-notes/nomad/v1_8_x.mdx
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/release-notes/v1-10/breaking-vault-consul-token.mdx
Labels: theme/docs, backport/website, backport/1.10.x

#25640 test: Remove use of "mitchellh/go-testing-interface" for stdlib.
  api/go.mod
  api/go.sum
  api/internal/testutil/server.go
  client/allocdir/testing.go
  client/allocrunner/tasklifecycle/testing.go
  client/config/testing.go
  client/lib/proclib/testing.go
  client/testing.go
  go.mod
  helper/pluginutils/catalog/testing.go
  nomad/mock/acl.go
  nomad/testing.go
  testutil/file.go
  testutil/mock_calls.go
  testutil/server.go
  testutil/vault.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25626 build: use nomad-builder docker image to build Nomad
  .github/nomad-builder/Dockerfile
  .github/workflows/build.yml
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25678 ci: pin docker/build-push-action to a TSCCR approved version
  .github/workflows/build.yml
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25685 ci: disable docker build summary
  .github/workflows/build.yml
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25688 workflow test for builds and backports
  main.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25692 ci: Compile on Ubuntu arm64 within core test workflow.
  .github/workflows/test-core.yaml
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25695 ci: Run core tests groups workflow on amd64 and arm64 runners.
  .github/actionlint.yml
  .github/workflows/test-core.yaml
  client/fingerprint/cpu_default_test.go
  drivers/docker/driver_test.go
  drivers/docker/driver_unix_test.go
  drivers/docker/test-resources/docker/busybox.tar
  drivers/docker/test-resources/docker/busybox_linux_amd64.tar
  drivers/shared/executor/executor_linux_test.go
Labels: backport/ent/1.9.x+ent, backport/1.10.x, backport/ent/1.10.x+ent

#25698 scheduler: fix state corruption from rescheduler tracker updates
  .changelog/25698.txt
  nomad/structs/structs.go
  scheduler/generic_sched.go
  scheduler/generic_sched_test.go
  scheduler/reconcile.go
  scheduler/reconcile_util.go
Labels: type/bug, theme/scheduling, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25703 testing: use Docker Hub registry mirror for CI
  drivers/docker/coordinator_test.go
  drivers/docker/docklog/docker_logger_test.go
  drivers/docker/driver_test.go
  drivers/docker/driver_unix_test.go
  drivers/docker/driver_windows_test.go
  drivers/docker/reconcile_dangling_test.go
  e2e/allocexec/input/sleepytar.hcl
  e2e/artifact/input/artifact_linux.nomad
  e2e/csi/input/plugin-aws-efs-nodes.nomad
  e2e/docker/input/docker_config.hcl
  e2e/docker/input/redis.hcl
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
  e2e/workload_id/input/identity.nomad
  e2e/workload_id/input/nobody.nomad
  testutil/container_images.go
Labels: theme/driver/docker, theme/testing, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25622 Add priority flag to Dispatch CLI and API
  .changelog/25622.txt
  api/jobs.go
  command/agent/job_endpoint_test.go
  command/job_dispatch.go
  command/job_dispatch_test.go
  nomad/job_endpoint.go
  nomad/job_endpoint_test.go
  nomad/structs/structs.go
  website/content/docs/commands/job/dispatch.mdx
Labels: type/enhancement, theme/docs, theme/cli, theme/batch, backport/1.10.x

#25714 client: close namespace file handle and defensively lazy unmount
  .changelog/25714.txt
  client/allocrunner/network_manager_linux.go
  client/lib/nsutil/netns_linux.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25716 cli: operator debug: respect NOMAD_REGION env var
  .changelog/25716.txt
  command/meta.go
  command/operator_debug.go
Labels: type/bug, theme/cli, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25547 acl: use WhoAmI RPC endpoint in /acl/token/self
  api/util_test.go
  command/agent/acl_endpoint.go
  nomad/acl_endpoint.go
Labels: backport/1.10.x

#25720 Combined dependencies PR
  go.mod
  go.sum
  ui/package.json
  ui/yarn.lock
  website/package-lock.json
  website/package.json
Labels: dependencies

#25705 Preserve core resources during inplace service alloc updates
  .changelog/25705.txt
  scheduler/generic_sched_test.go
  scheduler/util.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25725 podman tls_verify doc fix
  website/content/plugins/drivers/podman.mdx
Labels: theme/docs, backport/website, theme/driver/podman, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#25732 testing: state store test improvements around deployments
  nomad/state/state_store_test.go
Labels: theme/deployments, theme/testing, theme/tech-debt, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25733 testing: use Docker Hub registry mirror for additional tests
  drivers/docker/driver_test.go
Labels: theme/driver/docker, theme/testing, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25741 docker: correct stat response for rss, cache and swap memory in cgroups v1
  .changelog/25741.txt
  drivers/docker/stats.go
  drivers/docker/stats_test.go
  drivers/docker/util/stats_posix.go
Labels: backport/ent/1.9.x+ent, backport/1.10.x

#25726 scheduler: allow canaries to be migrated on node drain
  .changelog/25726.txt
  scheduler/generic_sched_test.go
  scheduler/reconcile_test.go
  scheduler/reconcile_util.go
Labels: theme/scheduling, theme/deployments, theme/drain, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25731 refactor alloc drain to make intent more clear
  nomad/drainer/drainer.go
  nomad/drainer/watch_jobs.go
Labels: theme/drain, theme/tech-debt, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25747 testing: fix a panic in docker stats collection test
  drivers/docker/driver_test.go
Labels: theme/driver/docker, theme/testing, backport/ent/1.9.x+ent, backport/1.10.x

#25751 metrics: emit cache and rss stats on cgroup v2
  .changelog/25751.txt
  drivers/docker/driver_test.go
  drivers/docker/stats_test.go
  drivers/docker/util/stats_posix.go
  drivers/shared/executor/executor_linux.go
Labels: type/bug, theme/driver/docker, theme/driver/exec, theme/driver/java, theme/metrics, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25742 ui: Only show paused icon when allocs in pending state are paused.
  .changelog/25742.txt
  ui/app/models/job.js
  ui/mirage/factories/allocation.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/allocation-detail-test.js
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25758 client: unflake TestClient_ACL_ResolveToken_InvalidClaims
  client/acl_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25715 Docs: Add garbage collection page
  website/content/docs/operations/garbage-collection.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#25783 Update iframe to VideoEmbed
  website/content/intro/index.mdx
Labels: theme/docs

#25755 Update index.mdx
  website/content/tools/index.mdx
Labels: theme/docs, stage/waiting-reply, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#25792 paginator: fix tokenizer comparison of composite index and ID
  .changelog/25792.txt
  nomad/state/paginator/tokenizer.go
  nomad/state/paginator/tokenizer_test.go
Labels: backport/1.10.x
