Repository hashicorp/nomad, pull requests merged in 2025-08, with the labels that each got.

#26410 Add historical journald and log export flags to operator debug command
  .changelog/26410.txt
  client/agent_endpoint_test.go
  command/agent/monitor/monitor_test.go
  command/agent/monitor/stream_helpers_test.go
  command/agent/monitor/test_helpers.go
  command/operator_debug.go
  command/operator_debug_test.go
  nomad/client_agent_endpoint_test.go
  website/content/commands/operator/debug.mdx
Labels: type/enhancement, theme/docs, theme/cli, backport/1.10.x

#26426 tests: fix conflict from parallelism in state store variables test
  nomad/state/state_store_variables_test.go
Labels: theme/testing, theme/variables

#26428 eval status: sort plan annotations by task group
  command/eval_status.go
  command/eval_status_test.go
Labels: type/bug, theme/cli

#26424 wait for service registration cleanup until allocs marked lost
  .changelog/26424.txt
  nomad/node_endpoint_test.go
  nomad/state/state_store.go
  nomad/state/state_store_service_registration.go
  nomad/state/state_store_service_registration_test.go
Labels: type/bug, theme/service-discovery, theme/service-discovery/nomad, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26472 docs: fix indent on vault create_from_role
  website/content/docs/configuration/vault.mdx
Labels: theme/docs, backport/website, backport/1.10.x

#26446 rpc: Move register args initial validation into separate function.
  nomad/node_endpoint.go
  nomad/structs/node.go
  nomad/structs/node_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#25632 Add AllocIPv6 option to allow IPv6 address being used for service registration
  .changelog/25632.txt
  client/serviceregistration/address.go
  client/serviceregistration/address_test.go
  client/serviceregistration/checks/result.go
  nomad/structs/services.go
  nomad/structs/structs.go
  website/content/docs/job-specification/service.mdx
Labels: type/bug, theme/docs, theme/ipv6, theme/service-discovery, backport/ent/1.9.x+ent, backport/1.10.x

#26453 Add new metric for queue size to the autoscaler
  website/content/tools/autoscaling/telemetry.mdx
Labels: theme/docs

#26489 fix(docs): remove incomplete phrase fragment
  website/content/docs/use-cases.mdx
Labels: theme/docs, backport/website, backport/1.10.x

#26504 Backport of chore(deps): bump github.com/miekg/dns from 1.1.67 to 1.1.68 into release/1.10.x
  go.mod
  go.sum
Labels: theme/dependencies

#26522 [Doc] Fix link for Nomad event stream page
  website/content/docs/architecture/storage/stateful-workloads.mdx
Labels: theme/docs, backport/website, backport/1.10.x

#26523 scheduler: don't suppress blocked evals on delay if previous expires
  scheduler/generic_sched.go
  scheduler/generic_sched_test.go
Labels: type/bug, theme/scheduling, theme/edge, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26565 namespace: Avoid potential panic when logging namespace name.
  nomad/namespace_endpoint.go
  nomad/namespace_endpoint_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26567 admin: Add Zed project settings dir to gitignore file.
  .gitignore
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26578 e2e: install exec2 driver v0.1.0
  e2e/terraform/packer/ubuntu-jammy-amd64/setup.sh
Labels: theme/e2e

#26583 scheduler: fix debug-level logging for node reconciler
  scheduler/reconciler/reconcile_node.go
  scheduler/util.go
Labels: theme/scheduling

#26535 docs: revert to labels={"foo.bar": "baz"} style
  drivers/docker/config_test.go
  drivers/docker/testdata/TestConfig_ParseAllHCL.hcl
  website/content/docs/job-declare/task-driver/docker.mdx
Labels: theme/docs, theme/driver/docker, theme/testing, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#26309 feat(ui): `yarn` -> `pnpm`
  .copywrite.hcl
  .git-blame-ignore-revs
  .github/actions/setup-js/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-ui.yml
  .gitignore
  .npmrc
  GNUmakefile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ui/README.md
  ui/app/components/agent-monitor.hbs
  ui/app/components/drain-popover.hbs
  ui/app/components/global-search/control.hbs
  ui/app/components/multi-select-dropdown.hbs
  ui/app/components/page-size-select.hbs
  ui/app/components/popover-menu.hbs
  ui/app/components/region-switcher.hbs
  ui/app/components/single-select-dropdown/index.hbs
  ui/app/controllers/evaluations/index.js
  ui/app/index.html
  ui/app/styles/app.scss
  ui/app/styles/components/job-status-panel.scss
  ui/app/styles/core.scss
  ui/app/templates/allocations.hbs
  ui/app/templates/application.hbs
  ui/config/ember-cli-update.json
  ui/ember-cli-build.js
  ui/lib/bulma/index.js
  ui/lib/bulma/package.json
  ui/package.json
  ui/tests/acceptance/evaluations-test.js
  ui/tests/acceptance/job-run-test.js
  ui/tests/acceptance/server-detail-test.js
  ui/tests/acceptance/token-test.js
  ui/tests/integration/components/single-select-dropdown-test.js
  ui/tests/pages/components/facet.js
  ui/yarn.lock
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26601 Add the correct value for costumer feedback on var error
  command/var_get.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26605 scheduler: monitor deployments correctly
  client/allocrunner/health_hook.go
  client/allocrunner/health_hook_test.go
  scheduler/scheduler_system.go
Labels: theme/scheduling, theme/system-scheduler

#26622 Manual Backport of Docs Chore: Add release notes for 1.10.1-1.10.3 into stable-website
  website/content/docs/release-notes/nomad/v1-10-x.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/release-notes/v1-10-1/breaking-agent-exit.mdx
  website/content/partials/release-notes/v1-10-1/breaking-raft-peer.mdx
Labels: theme/docs, automated

#26434 [agent] Fix error checking within retry join
  command/agent/retry_join.go
  command/agent/retry_join_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26633 ci: Enable SA5008 linting and fix discovered error.
  .golangci.yml
  testutil/server.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26608 [artifact] add artifact inspection after download
  .changelog/26608.txt
  client/allocrunner/taskrunner/getter/params.go
  client/allocrunner/taskrunner/getter/params_test.go
  client/allocrunner/taskrunner/getter/sandbox.go
  client/allocrunner/taskrunner/getter/sandbox_test.go
  client/allocrunner/taskrunner/getter/testing.go
  client/allocrunner/taskrunner/getter/util.go
  client/allocrunner/taskrunner/getter/util_default.go
  client/allocrunner/taskrunner/getter/util_linux.go
  client/allocrunner/taskrunner/getter/util_test.go
  client/allocrunner/taskrunner/getter/util_windows.go
  client/config/artifact.go
  nomad/structs/config/artifact.go
  website/content/docs/configuration/client.mdx
Labels: theme/docs, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26642 csi: fix volume registration error
  .changelog/26642.txt
  api/csi.go
  command/agent/csi_endpoint.go
  command/volume_register_csi.go
  nomad/csi_endpoint.go
  nomad/structs/csi.go
Labels: backport/1.10.x

#26651 scheduler: check if system job deployment is complete before other guards
  scheduler/reconciler/reconcile_node.go
Labels: theme/scheduling, theme/system-scheduler
