Repository hashicorp/nomad, pull requests merged in 2025-09, with the labels that each got.

#26440 Add Windows service commands and Event Log support
  .changelog/26441.txt
  .changelog/26442.txt
  .copywrite.hcl
  command/agent/command.go
  command/agent/command_test.go
  command/agent/config.go
  command/agent/config_test.go
  command/commands.go
  command/windows.go
  command/windows_service.go
  command/windows_service_install.go
  command/windows_service_install_test.go
  command/windows_service_uninstall.go
  command/windows_service_uninstall_test.go
  helper/winsvc/event.go
  helper/winsvc/event_logger.go
  helper/winsvc/event_logger_nonwindows.go
  helper/winsvc/event_logger_test.go
  helper/winsvc/event_logger_windows.go
  helper/winsvc/event_test.go
  helper/winsvc/events_nonwindows.go
  helper/winsvc/events_windows.go
  helper/winsvc/mock_eventlog.go
  helper/winsvc/mock_windows_service.go
  helper/winsvc/path_nonwindows.go
  helper/winsvc/path_windows.go
  helper/winsvc/path_windows_test.go
  helper/winsvc/privileged_nonwindows.go
  helper/winsvc/privileged_windows.go
  helper/winsvc/service.go
  helper/winsvc/service_windows.go
  helper/winsvc/strings_event_logger.go
  helper/winsvc/strings_eventid.go
  helper/winsvc/windows_service.go
  helper/winsvc/windows_service_nonwindows.go
  helper/winsvc/windows_service_windows.go
  helper/winsvc/windows_service_windows_test.go
  website/content/commands/agent.mdx
  website/content/commands/windows/index.mdx
  website/content/commands/windows/service-install.mdx
  website/content/commands/windows/service-uninstall.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/deploy/production/windows-service.mdx
  website/data/commands-nav-data.json
Labels: theme/docs, theme/platform-windows, backport/1.10.x

#26686 test: Migrate volumewatcher to must and fix racy test.
  nomad/volumewatcher/volume_watcher_test.go
  nomad/volumewatcher/volumes_watcher_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26700 bump cronexpr from v1.1.2 -> v1.1.3
  go.mod
  go.sum
Labels: theme/dependencies, backport/ent/1.8.x+ent, dependencies, backport/ent/1.9.x+ent, backport/1.10.x

#26697 system scheduler: keep track of previously used canary nodes
  scheduler/reconciler/reconcile_node.go
  scheduler/reconciler/reconcile_node_test.go
Labels: theme/scheduling, theme/system-scheduler

#26707 system scheduler: correction to Test_computeCanaryNodes
  scheduler/reconciler/reconcile_node.go
  scheduler/reconciler/reconcile_node_test.go
Labels: theme/scheduling, theme/system-scheduler

#26708 scheduler: system deployments
  .changelog/26708.txt
  client/allocrunner/health_hook.go
  client/allocrunner/health_hook_test.go
  nomad/state/state_store.go
  nomad/structs/structs.go
  scheduler/reconciler/deployments.go
  scheduler/reconciler/reconcile_cluster.go
  scheduler/reconciler/reconcile_node.go
  scheduler/reconciler/reconcile_node_prop_test.go
  scheduler/reconciler/reconcile_node_test.go
  scheduler/scheduler_sysbatch_test.go
  scheduler/scheduler_system.go
  scheduler/scheduler_system_test.go
Labels: theme/scheduling, theme/system-scheduler

#26713 bump: go and go-getter versions
  .changelog/26713.txt
  .go-version
  contributing/README.md
  go.mod
  go.sum
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: theme/dependencies, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26741 build:replicate nomad-ent 49732e8447086745c4ed1913ae9a5e76b1a4b345
  .github/actions/setup-js/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x, backport/ent/1.10.x+ent

#26649 scheduler: allow device count to use different vendors/models
  .changelog/26649.txt
  scheduler/feasible/feasible.go
  scheduler/feasible/feasible_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26755 docs: fix link in multiregion job spec page
  website/content/docs/job-specification/multiregion.mdx
Labels: theme/docs, backport/website, backport/1.10.x

#26789 scheduler: do not create deployments for system job reschedules
  scheduler/reconciler/reconcile_node.go
  scheduler/reconciler/reconcile_node_test.go
Labels: theme/scheduling, theme/system-scheduler, theme/restart/reschedule

#26794 build: Add tzdata to Docker container final image.
  .changelog/26794.txt
  Dockerfile
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26804 e2e: fix TestScaling/TestScaling_System
  e2e/scaling/scaling_test.go
Labels: theme/e2e

#26832 CSI: serialize node plugin RPCs per-volume
  .changelog/26832.txt
  client/pluginmanager/csimanager/volume.go
  client/pluginmanager/csimanager/volume_test.go
Labels: type/bug, theme/storage, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26830 docs: Add node identity concepts page and other missing items.
  website/content/commands/node-pool/apply.mdx
  website/content/commands/node-pool/info.mdx
  website/content/commands/node/identity/get.mdx
  website/content/docs/architecture/cluster/node-identity.mdx
  website/content/docs/other-specifications/node-pool.mdx
  website/data/commands-nav-data.json
  website/data/docs-nav-data.json
Labels: theme/docs

#26843 docs: fix broken link for plugin guide
  website/content/docs/architecture/storage/host-volumes.mdx
Labels: theme/docs, backport/website, backport/1.10.x
