Repository hashicorp/nomad, pull requests merged in 2025-07, with the labels that each got.

#26177 scheduler: doc.go files for new packages
  scheduler/doc.go
  scheduler/feasible/doc.go
  scheduler/reconciler/doc.go
  scheduler/structs/doc.go
Labels: theme/docs, theme/scheduling

#26075 client: suppress kill task event on completed tasks
  client/allocrunner/alloc_runner.go
  client/allocrunner/alloc_runner_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26171 command: prevent server panic on graceful shutdown
  .changelog/26171.txt
  command/agent/command.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26175 drainer: respect max parallel setting when draining
  nomad/drainer/watch_jobs.go
  nomad/drainer/watch_jobs_test.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26183 cli: Fix a bug where self token lookups via token CLI flag failed.
  .changelog/26183.txt
  command/acl_token_self.go
  command/acl_token_self_test.go
Labels: backport/1.10.x

#26174 docs: Fix link in service page documentation
  website/content/docs/job-specification/service.mdx
Labels: theme/docs, backport/1.10.x

#26187 docs: add upgrade guide note for publish_allocation_metrics
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: theme/docs, theme/metrics, backport/website, backport/1.10.x

#26186 docs: add missing metrics for Consul service client
  website/content/docs/operations/metrics-reference.mdx
Labels: theme/docs, theme/metrics, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#26180 scheduler: property testing of reconcile reconnecting
  scheduler/reconciler/reconcile_cluster.go
  scheduler/reconciler/reconcile_cluster_prop_test.go
Labels: theme/scheduling, theme/testing

#26213 host volumes: require allocs to be client terminal to delete vols
  .changelog/26213.txt
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_test.go
Labels: type/bug, theme/storage, backport/1.10.x

#26219 Avoid panic during startup with 1.10.2
  client/client.go
  client/lib/numalib/detect.go
  nomad/structs/cpucompat_default.go
  nomad/structs/cpucompat_linux.go
  nomad/structs/numa.go
  nomad/structs/structs.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26167 scheduler: basic cluster reconciler safety properties for service jobs
  scheduler/reconciler/reconcile_cluster_prop_test.go
Labels: theme/scheduling, theme/testing

#26236 scheduler: eliminate dead code in node reconciler
  scheduler/reconciler/reconcile_node.go
Labels: theme/scheduling, theme/tech-debt

#26239 scheduler: reconciler should constrain placements to count
  scheduler/reconciler/reconcile_cluster.go
  scheduler/reconciler/reconcile_cluster_test.go
Labels: theme/scheduling, theme/tech-debt

#26204 scheduler: property testing of cancelUnneededCanaries
  scheduler/reconciler/reconcile_cluster_prop_test.go
Labels: theme/scheduling, theme/testing

#26172 scheduler: basic cluster reconciler safety properties for batch jobs
  scheduler/reconciler/reconcile_cluster_prop_test.go
Labels: theme/scheduling, theme/testing

#26216 scheduler: basic node reconciler safety properties for system jobs
  scheduler/reconciler/reconcile_cluster_prop_test.go
  scheduler/reconciler/reconcile_node_prop_test.go
Labels: theme/scheduling, theme/testing

#26238 client: Use single time variable when handling heartbeat response.
  client/client.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26242 docs: more details for `eval status`
  website/content/commands/eval/status.mdx
Labels: theme/docs, theme/cli, theme/scheduling

#26243 docs: more details for `alloc status`
  website/content/commands/alloc/status.mdx
Labels: theme/docs, theme/cli, theme/scheduling, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#26250 fix(doc): fix links for task driver plugins
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/1.0.x

#26254 Docs: Add redirect to handle new 1.9, 1.8 /commands path
  website/redirects.js
Labels: theme/docs, backport/website, backport/1.10.x

#26260 docs: update reconciler diagram to reflect recent refactors
  scheduler/README.md
Labels: theme/docs, theme/scheduling

#26240 docs: clarify requirements for deleting volumes
  command/volume_delete.go
  website/content/api-docs/volumes.mdx
  website/content/commands/volume/delete.mdx
Labels: theme/docs, theme/cli, theme/storage, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#26279 sysbatch: correctly validate that reschedule policy is not allowed
  .changelog/26279.txt
  api/tasks.go
  nomad/structs/structs.go
  nomad/structs/structs_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: type/bug, theme/docs, theme/system-scheduler

#26284 deployment watcher: refactoring testing
  nomad/deploymentwatcher/deployment_watcher.go
  nomad/deploymentwatcher/deployments_watcher.go
  nomad/deploymentwatcher/deployments_watcher_test.go
  nomad/deploymentwatcher/testutil_test.go
Labels: theme/deployments, theme/testing

#26255 scheduler: add disconnect and reschedule info to reconciler output
  api/jobs.go
  command/eval_status.go
  command/eval_status_test.go
  nomad/structs/structs.go
  scheduler/reconciler/reconcile_cluster.go
  scheduler/reconciler/reconcile_cluster_prop_test.go
  scheduler/reconciler/reconcile_cluster_test.go
  scheduler/reconciler/reconcile_node_prop_test.go
  scheduler/util.go
  website/content/commands/eval/status.mdx
Labels: type/enhancement, theme/docs, theme/scheduling

#26292 scheduler: exit early on count=0 and filter out server-terminal
  .changelog/26292.txt
  scheduler/generic_sched_test.go
  scheduler/reconciler/filters.go
  scheduler/reconciler/reconcile_cluster.go
  scheduler/reconciler/reconcile_cluster_test.go
Labels: type/enhancement, theme/scheduling

#26337 docs: clarify namespace support in autoscaler
  website/content/tools/autoscaling/agent.mdx
Labels: theme/docs, theme/autoscaling, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x, backport/ent/1.10.x+ent

#26344 Docs: Clarify service.port allowed value types
  website/content/docs/job-specification/connect.mdx
  website/content/docs/job-specification/service.mdx
  website/content/docs/job-specification/sidecar_service.mdx
  website/content/docs/job-specification/sidecar_task.mdx
Labels: theme/docs, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x

#26331 cli: Ensure all no argument console messages are the same.
  command/acl_auth_method_create.go
  command/acl_auth_method_create_test.go
  command/acl_auth_method_list.go
  command/acl_binding_rule_create.go
  command/acl_binding_rule_create_test.go
  command/acl_binding_rule_list.go
  command/acl_policy_list.go
  command/acl_policy_self.go
  command/acl_role_create.go
  command/acl_role_create_test.go
  command/acl_role_list.go
  command/acl_token_create.go
  command/acl_token_list.go
  command/acl_token_self.go
  command/agent_info.go
  command/agent_monitor.go
  command/check.go
  command/deployment_list.go
  command/eval_list.go
  command/helpers.go
  command/login.go
  command/login_test.go
  command/metrics.go
  command/namespace_list.go
  command/node_pool_list.go
  command/node_pool_list_test.go
  command/operator_debug.go
  command/operator_debug_test.go
  command/operator_gossip_keyring_list.go
  command/operator_root_keyring_list.go
  command/operator_root_keyring_rotate.go
  command/operator_scheduler_set_config.go
  command/operator_utilization.go
  command/quota_list.go
  command/recommendation_list.go
  command/scaling_policy_list.go
  command/sentinel_list.go
  command/server_members.go
  command/service_list.go
  command/service_list_test.go
  command/setup_consul.go
  command/setup_vault.go
  command/system_gc.go
  command/system_reconcile_summaries.go
  command/volume_snapshot_list.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26362 ci: Update hclogvet and correctly run across codebase.
  GNUmakefile
  client/allocrunner/networking_cni.go
Labels: backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.10.x

#26365 ci: Revert hclogvet running across entire codebase.
  GNUmakefile
Labels: backport/1.10.x

#26352 docs: explain access modes for CSI and DHV volumes
  website/content/docs/other-specifications/volume/capability.mdx
Labels: theme/docs, theme/storage, backport/website, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x, backport/ent/1.10.x+ent

#26353 docs: fix self-referencing link for raw_exec driver config
  website/content/docs/job-declare/task-driver/raw_exec.mdx
Labels: theme/docs, backport/website, backport/1.10.x, backport/ent/1.10.x+ent

#26368 docs: update Vault/Consul compatibility matrix
  website/content/docs/networking/consul/index.mdx
  website/content/docs/secure/vault/index.mdx
Labels: theme/docs, theme/vault, theme/consul, backport/website, backport/1.10.x, backport/ent/1.10.x+ent

#26347 Manual Backport of Docs: Clarify service.port allowed value types into release/1.9.x
  website/content/docs/job-specification/connect.mdx
  website/content/docs/job-specification/service.mdx
Labels: theme/docs

#26346 Manual Backport of Docs: Clarify service.port allowed value types into release/1.8.x
  website/content/docs/job-specification/connect.mdx
  website/content/docs/job-specification/service.mdx
Labels: theme/docs

#26384 docs: fix typo in redirect URL domain
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/ent/1.9.x+ent, backport/1.9.x, backport/1.10.x, backport/ent/1.10.x+ent

#26323 Docs: Chore: Ent labels
  website/content/api-docs/acl/index.mdx
  website/content/api-docs/acl/policies.mdx
  website/content/api-docs/acl/tokens.mdx
  website/content/api-docs/events.mdx
  website/content/api-docs/index.mdx
  website/content/api-docs/operator/autopilot.mdx
  website/content/api-docs/search.mdx
  website/content/api-docs/sentinel-policies.mdx
  website/content/api-docs/ui.mdx
  website/content/commands/acl/index.mdx
  website/content/commands/operator/utilization.mdx
  website/content/docs/architecture/security/index.mdx
  website/content/docs/concepts/job.mdx
  website/content/docs/concepts/plugins/cni.mdx
  website/content/docs/concepts/stateful-deployments.mdx
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/deploy/clusters/federate-regions.mdx
  website/content/docs/govern/index.mdx
  website/content/docs/govern/namespaces.mdx
  website/content/docs/govern/sentinel.mdx
  website/content/docs/job-declare/multiregion.mdx
  website/content/docs/job-declare/nomad-variables.mdx
  website/content/docs/job-specification/lifecycle.mdx
  website/content/docs/job-specification/multiregion.mdx
  website/content/docs/job-specification/update.mdx
  website/content/docs/manage/autopilot.mdx
  website/content/docs/monitor/inspect-cluster.mdx
  website/content/docs/monitor/inspect-workloads.mdx
  website/content/docs/other-specifications/acl-policy.mdx
  website/content/docs/other-specifications/variables.mdx
  website/content/docs/quickstart.mdx
  website/content/docs/release-notes/nomad/v1-10-x.mdx
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/content/docs/stateful-workloads/csi-volumes.mdx
  website/content/partials/task-driver-intro.mdx
  website/content/tools/autoscaling/agent.mdx
  website/content/tools/autoscaling/agent/dynamic_application_sizing.mdx
  website/content/tools/autoscaling/cli.mdx
  website/content/tools/autoscaling/index.mdx
  website/content/tools/autoscaling/plugins/target/app-sizing-nomad.mdx
  website/content/tools/autoscaling/policy.mdx
  website/data/api-docs-nav-data.json
  website/data/commands-nav-data.json
  website/data/docs-nav-data.json
  website/data/tools-nav-data.json
Labels: theme/docs, backport/website, backport/1.10.x
