Repository hashicorp/nomad, pull requests merged in 2025-03, with the labels that each got.

#24942 remove addresses from node class hash
  .changelog/24942.txt
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_test.go
  client/fingerprint/consul.go
  client/fingerprint/consul_test.go
  client/fingerprint/nomad.go
  client/fingerprint/nomad_test.go
  nomad/structs/node_class.go
  nomad/structs/node_class_test.go
  scheduler/benchmarks/benchmarks_test.go
  scheduler/testing.go
Labels: type/bug, theme/scheduling, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25265 docs: update renamed attributes
  website/content/api-docs/events.mdx
  website/content/api-docs/nodes.mdx
Labels: theme/docs, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25252 generic paginator
  nomad/acl_endpoint.go
  nomad/alloc_endpoint.go
  nomad/csi_endpoint.go
  nomad/deployment_endpoint.go
  nomad/eval_endpoint.go
  nomad/host_volume_endpoint.go
  nomad/job_endpoint.go
  nomad/job_endpoint_statuses.go
  nomad/leader_test.go
  nomad/node_endpoint.go
  nomad/node_pool_endpoint.go
  nomad/service_registration_endpoint.go
  nomad/state/paginator/filter.go
  nomad/state/paginator/filter_test.go
  nomad/state/paginator/paginator.go
  nomad/state/paginator/paginator_test.go
  nomad/state/paginator/tokenizer.go
  nomad/state/paginator/tokenizer_test.go
  nomad/structs/host_volumes.go
  nomad/structs/node_pool.go
  nomad/structs/service_registration.go
  nomad/structs/structs.go
  nomad/task_group_host_volume_claim_endpoint.go
  nomad/variables_endpoint.go
Labels: theme/tech-debt

#25251 Docs: Add workload identity and Consul Enterprise info to partition parameter
  website/content/docs/job-specification/consul.mdx
Labels: theme/docs, backport/website, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24926 Fix the docker image parser to account for private repos
  drivers/docker/coordinator.go
  drivers/docker/driver.go
  drivers/docker/driver_test.go
  drivers/docker/network.go
  drivers/docker/utils.go
  drivers/docker/utils_test.go
Labels: backport/1.9.x

#25281 upgrade testing: make cluster name prefix a variable
  enos/enos-scenario-upgrade.hcl
  enos/enos-vars.hcl
  enos/enos.vars.example.hcl
Labels: theme/testing

#25285 upgrade testing: rework CSI test to use self-contained workload
  e2e/terraform/provision-infra/provision-nomad/etc/nomad.d/client-linux-1.hcl
  enos/enos-scenario-upgrade.hcl
  enos/modules/run_workloads/efs.tf
  enos/modules/run_workloads/jobs/nfs.nomad.hcl
  enos/modules/run_workloads/jobs/plugin-aws-efs-nodes.nomad.hcl
  enos/modules/run_workloads/jobs/plugin-nfs-controllers.nomad.hcl
  enos/modules/run_workloads/jobs/plugin-nfs-nodes.nomad.hcl
  enos/modules/run_workloads/jobs/wants-volume.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/scripts/volume.hcl.tpl
  enos/modules/run_workloads/scripts/wait_for_efs_volume.sh
  enos/modules/run_workloads/scripts/wait_for_nfs_volume.sh
  enos/modules/test_cluster_health/scripts/clients.sh
Labels: theme/testing

#24893 scheduler: prevent nil pointer ref when reschedule policy is missing
  nomad/structs/structs.go
Labels: type/bug, theme/scheduling, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25294 Check for nil values when parsing HCL strings
  .changelog/25294.txt
  jobspec2/hcl_conversions.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25297 stateful deployments: fix missing prefix search in claim list CLI
  command/volume_claim_list.go
  command/volume_claim_list_test.go
Labels: theme/cli

#25249 build: Update Go to v1.24.1
  .changelog/25249.txt
  .go-version
  .golangci.yml
  .semgrep/loopclosure.yml
  GNUmakefile
  command/agent/config_parse.go
  command/job_stop.go
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25275 deps: Update tool dependencies.
  tools/go.mod
  tools/go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25288 stateful deployments: concept and jobspec documentation
  website/content/docs/concepts/stateful-deployments.mdx
  website/content/docs/job-specification/volume.mdx
  website/data/docs-nav-data.json
Labels: theme/docs

#25287 github: Update Vault and Consul versions used in core workflow.
  .github/workflows/test-core.yaml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25306 upgrade testing: add missing dependency during client upgrades
  enos/modules/upgrade_client/main.tf
Labels: theme/testing

#25311 deps: Consolidated update of dependabot PRs
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25163 /csi routes to /storage routes and a routeRedirector util
  ui/app/components/global-search/control.js
  ui/app/controllers/storage/plugins.js
  ui/app/controllers/storage/plugins/index.js
  ui/app/controllers/storage/plugins/plugin.js
  ui/app/controllers/storage/plugins/plugin/allocations.js
  ui/app/controllers/storage/plugins/plugin/index.js
  ui/app/controllers/storage/volumes.js
  ui/app/controllers/storage/volumes/index.js
  ui/app/controllers/storage/volumes/volume.js
  ui/app/router.js
  ui/app/routes/administration/policies/new.js
  ui/app/routes/application.js
  ui/app/routes/storage/index.js
  ui/app/routes/storage/plugins.js
  ui/app/routes/storage/plugins/index.js
  ui/app/routes/storage/plugins/plugin.js
  ui/app/routes/storage/plugins/plugin/allocations.js
  ui/app/routes/storage/plugins/plugin/index.js
  ui/app/routes/storage/volumes.js
  ui/app/routes/storage/volumes/index.js
  ui/app/routes/storage/volumes/volume.js
  ui/app/services/keyboard.js
  ui/app/templates/allocations/allocation/task/index.hbs
  ui/app/templates/components/gutter-menu.hbs
  ui/app/templates/components/plugin-subnav.hbs
  ui/app/templates/components/storage-subnav.hbs
  ui/app/templates/components/task-row.hbs
  ui/app/templates/csi/plugins.hbs
  ui/app/templates/csi/volumes.hbs
  ui/app/templates/jobs/job/task-group.hbs
  ui/app/templates/storage.hbs
  ui/app/templates/storage/plugins.hbs
  ui/app/templates/storage/plugins/index.hbs
  ui/app/templates/storage/plugins/plugin.hbs
  ui/app/templates/storage/plugins/plugin/allocations.hbs
  ui/app/templates/storage/plugins/plugin/index.hbs
  ui/app/templates/storage/volumes.hbs
  ui/app/templates/storage/volumes/index.hbs
  ui/app/templates/storage/volumes/volume.hbs
  ui/app/utils/route-redirector.js
  ui/app/utils/route-redirects.js
  ui/tests/acceptance/plugin-allocations-test.js
  ui/tests/acceptance/plugin-detail-test.js
  ui/tests/acceptance/plugins-list-test.js
  ui/tests/acceptance/search-test.js
  ui/tests/acceptance/volume-detail-test.js
  ui/tests/acceptance/volumes-list-test.js
  ui/tests/pages/storage/plugins/detail.js
  ui/tests/pages/storage/plugins/list.js
  ui/tests/pages/storage/plugins/plugin/allocations.js
  ui/tests/pages/storage/volumes/detail.js
  ui/tests/pages/storage/volumes/list.js
  ui/tests/unit/utils/route-redirector-test.js
Labels: theme/ui, theme/storage

#25307 CSI: restart task on failing initial probe, instead of killing it
  .changelog/25307.txt
  client/allocrunner/taskrunner/plugin_supervisor_hook.go
Labels: type/bug, theme/storage, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24454 [cli] UI URL hints for common CLI commands
  .changelog/24454.txt
  command/alloc_status.go
  command/commands.go
  command/deployment_status.go
  command/eval_list.go
  command/eval_status.go
  command/job_dispatch.go
  command/job_run.go
  command/job_status.go
  command/meta.go
  command/meta_test.go
  command/node_status.go
  command/server_members.go
  command/status.go
  command/testing_test.go
  command/var_get.go
  command/var_list.go
  command/var_put.go
  nomad/structs/config/ui.go
  website/content/docs/commands/alloc/status.mdx
  website/content/docs/commands/deployment/status.mdx
  website/content/docs/commands/eval/list.mdx
  website/content/docs/commands/eval/status.mdx
  website/content/docs/commands/index.mdx
  website/content/docs/commands/job/dispatch.mdx
  website/content/docs/commands/job/run.mdx
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/node/status.mdx
  website/content/docs/commands/server/members.mdx
  website/content/docs/commands/var/get.mdx
  website/content/docs/commands/var/list.mdx
  website/content/docs/commands/var/put.mdx
  website/content/docs/configuration/ui.mdx
Labels: theme/docs

#25315 E2E: remove outdated legacy token workflow tests
  e2e/connect/acls_test.go
Labels: theme/consul, theme/testing

#25176 upgrade tests: add transparent proxy workload
  e2e/terraform/outputs.tf
  e2e/terraform/provision-infra/main.tf
  e2e/terraform/provision-infra/outputs.tf
  enos/enos-scenario-upgrade.hcl
  enos/modules/run_workloads/jobs/tproxy.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/scripts/create-consul-intention.sh
  enos/modules/run_workloads/scripts/intention.hcl
  enos/modules/run_workloads/variables.tf
Labels: theme/consul/connect, theme/testing

#25310 cli: Add node_prefix read policy to Consul setup task policy.
  .changelog/25310.txt
  command/asset/consul-wi-default-policy.hcl
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25324 deps: Consolidated update of dependabot PRs
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25329 update: changelog 24683.txt
  .changelog/24683.txt
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25330 docs: extend code layout in contributing guides
  contributing/README.md
Labels: theme/docs

#25332 update: changelog 1.9.6
  CHANGELOG.md
Labels: backport/1.9.x

#25328 auth: redact auth method client secret
  .changelog/25328.txt
  nomad/acl_endpoint.go
  nomad/state/events.go
  nomad/structs/acl.go
  nomad/structs/acl_test.go
Labels: theme/security, theme/auth, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25231 oidc: support PKCE and client assertion / private key JWT
  .changelog/25231.txt
  api/acl.go
  api/acl_test.go
  command/acl_auth_method_create_test.go
  command/acl_auth_method_update_test.go
  command/agent/acl_endpoint_test.go
  internal/testing/apitests/acl_test.go
  lib/auth/oidc/client_assertion.go
  lib/auth/oidc/request.go
  lib/auth/oidc/request_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/encrypter.go
  nomad/mock/acl.go
  nomad/server.go
  nomad/structs/acl.go
  nomad/structs/acl_test.go
Labels: type/enhancement, theme/auth

#25229 upgrade testing: Variables, Workload Identity, and Task API
  enos/enos-scenario-upgrade.hcl
  enos/modules/run_workloads/jobs/writes-vars.nomad.hcl
  enos/modules/run_workloads/scripts/configure-variables-acls.sh
Labels: theme/testing, theme/variables, theme/workload-identity

#25341 dynamic host volumes: allow plugins to return an error message
  api/host_volumes.go
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/test_fixtures/test_plugin_sad.sh
  command/agent/host_volume_endpoint.go
  command/agent/host_volume_endpoint_test.go
  command/volume_delete.go
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Labels: type/enhancement, theme/storage

#25346 test: fix go 1.24 test complaints
  client/allocrunner/checks_hook_test.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/client_test.go
  client/consul/consul_test.go
  command/agent/alloc_endpoint_test.go
  command/agent/retry_join_test.go
  command/helpers_test.go
  go.mod
  nomad/leader_test.go
Labels: theme/testing, theme/go, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25352 oidc: more tests for client assertions
  api/acl.go
  lib/auth/oidc/client_assertion.go
  lib/auth/oidc/client_assertion_test.go
  nomad/structs/acl.go
  nomad/structs/acl_test.go
Labels: theme/auth

#25356 docs: fix missing api version on acl path
  website/content/api-docs/acl/auth-methods.mdx
  website/content/api-docs/acl/binding-rules.mdx
  website/content/api-docs/acl/policies.mdx
  website/content/api-docs/acl/roles.mdx
  website/content/api-docs/acl/tokens.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25355 docs: fix missing api version on agent path
  website/content/api-docs/agent.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25371 auth: decrease size of oidc request cache
  lib/auth/oidc/request.go
Labels: theme/auth

#25370 cli: acl auth-method info: add client assertion / pkce
  command/acl_auth_method.go
Labels: theme/cli, theme/auth

#25350 upgrade testing: allow configurable artifactory repo
  enos/enos-scenario-upgrade.hcl
  enos/enos-vars.hcl
Labels: theme/testing

#25384 update legacy Consul ACL doc to add a warning about Admin Partitions
  website/content/docs/integrations/consul/acl.mdx
Labels: theme/docs, backport/website, backport/ent/1.8.x+ent, backport/1.8.x

#25386 dynamic host volumes: don't wait for fingerprint to reserve node
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_test.go
Labels: type/bug, theme/storage

#25378 [ui] Case-insensitive jobs list filtering
  .changelog/25378.txt
  ui/app/controllers/jobs/index.js
  ui/mirage/config.js
  ui/tests/acceptance/jobs-list-test.js
Labels: backport/1.9.x

#25395 Fix wording about delta priority needed to trigger preemption
  website/content/docs/concepts/scheduling/preemption.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25400 Update scheduling.mdx
  website/content/docs/concepts/scheduling/scheduling.mdx
Labels: backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25407 deps: dependabot consolidation 20250317
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25138 drivers: adapt shared executor code to use opencontainers/runc 1.2
  drivers/shared/executor/executor_linux.go
  drivers/shared/executor/libcontainer_nsenter_linux.go
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25303 [ui, prodsec] Upgrade the ember-auto-import pin to fix the postcss->nanoid chain
  ui/package.json
  ui/yarn.lock
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25421 build: smoke test on RHEL8 instead of RHEL7
  .github/workflows/build.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25422 agent: Improve retry joiner code with small refactor.
  command/agent/command.go
  command/agent/retry_join.go
  command/agent/retry_join_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25436 fix URL for periodic jobs
  website/content/docs/operations/metrics-reference.mdx
Labels: backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25443 docker: `TestDockerDriver_OOMKilled` should run on cgroups v2
  drivers/docker/driver_test.go
Labels: theme/driver/docker, backport/1.9.x

#25157 client: skip shutdown delay when tasks already deregistered
  .changelog/25157.txt
  client/allocrunner/group_service_hook.go
  client/allocrunner/group_service_hook_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25123 client: fix client blocking during garbage collection
  .changelog/25123.txt
  client/client.go
  client/gc.go
  client/gc_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25441 server: Validate config num schedulers is between 0 and num CPUs.
  .changelog/25441.txt
  command/agent/agent.go
  command/agent/agent_endpoint_test.go
  command/agent/agent_test.go
  nomad/leader_test.go
  nomad/server.go
  nomad/server_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25458 test: Use runtime CPUs for test not static number.
  command/agent/agent_endpoint_test.go
Labels: backport/1.9.x

#25453 drivers: set -1 exit code in case executor gets killed
  .changelog/25453.txt
  drivers/exec/driver.go
  drivers/java/driver.go
  drivers/qemu/driver.go
  drivers/rawexec/driver.go
  drivers/rawexec/driver_unix_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25454 Docs: Add JSON format note to docker driver sysctl parameter
  website/content/docs/drivers/docker.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25467 build: split minimum-os job into 2 and only run arm checks on CE
  .github/workflows/build.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25455 tests: Fixes a few data races in tests
  client/client_test.go
  client/heartbeatstop_test.go
  nomad/client_alloc_endpoint_test.go
  nomad/client_fs_endpoint_test.go
  nomad/csi_endpoint_test.go
  nomad/eval_broker_test.go
  nomad/heartbeat_test.go
  nomad/job_endpoint_test.go
  nomad/leader_test.go
  nomad/node_endpoint_test.go
  nomad/serf_test.go
  nomad/stats_fetcher_test.go
Labels: theme/testing, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x

#25469 Docs: fix broken links in 1.10 beta docs
  website/content/api-docs/volumes.mdx
  website/content/docs/commands/node/drain.mdx
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/register.mdx
  website/content/docs/commands/volume/snapshot-create.mdx
  website/content/docs/commands/volume/snapshot-delete.mdx
  website/content/docs/commands/volume/snapshot-list.mdx
  website/content/docs/concepts/filesystem.mdx
  website/content/docs/ecosystem.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/partnerships.mdx
Labels: theme/docs

#25472 client: statically assert hook interfaces in build
  .changelog/25472.txt
  client/allocrunner/allocdir_hook.go
  client/allocrunner/checks_hook.go
  client/allocrunner/checks_hook_test.go
  client/allocrunner/consul_grpc_sock_hook.go
  client/allocrunner/consul_hook.go
  client/allocrunner/consul_hook_test.go
  client/allocrunner/consul_http_sock_hook.go
  client/allocrunner/cpuparts_hook.go
  client/allocrunner/csi_hook.go
  client/allocrunner/csi_hook_test.go
  client/allocrunner/fail_hook.go
  client/allocrunner/group_service_hook.go
  client/allocrunner/group_service_hook_test.go
  client/allocrunner/health_hook.go
  client/allocrunner/health_hook_test.go
  client/allocrunner/identity_hook.go
  client/allocrunner/identity_hook_test.go
  client/allocrunner/migrate_hook.go
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/upstream_allocs_hook.go
Labels: type/bug, backport/ent/1.8.x+ent, backport/1.9.x

#25473 test: Calculate agent endpoint scheduler count, not static.
  command/agent/agent_endpoint_test.go
Labels: backport/1.9.x

#25428 CSI: prevent loop in volumewatcher when node is GC'd
  .changelog/25428.txt
  nomad/csi_endpoint.go
  nomad/csi_endpoint_test.go
  nomad/state/state_store.go
  nomad/volumewatcher/volume_watcher.go
Labels: type/bug, theme/storage, backport/ent/1.8.x+ent, backport/ent/1.9.x+ent, backport/1.9.x

#25482 Docs: Fix link rendering in server.default_scheduler_config
  website/content/docs/configuration/server.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25488 Docs: Manual back to release/1.8.x of Fix link rendering in server.default_scheduler_config (#25482)
  website/content/docs/configuration/server.mdx
Labels: theme/docs, backport/ent/1.8.x+ent

#25487 Docs: Manual backport to release/1.7.x of Fix link rendering in server.default_scheduler_config (#25482)
  website/content/docs/configuration/server.mdx
Labels: theme/docs, backport/ent/1.7.x+ent

#25497 Consolidated dependabot backports to 1.9.x
  go.mod
  go.sum
Labels: theme/dependencies

#25373 provide allocrunner hooks with taskenv builders instead of built env
  .changelog/25373.txt
  client/allochealth/tracker.go
  client/allochealth/tracker_test.go
  client/allocrunner/alloc_runner.go
  client/allocrunner/alloc_runner_hooks.go
  client/allocrunner/alloc_runner_unix_test.go
  client/allocrunner/allocdir_hook.go
  client/allocrunner/checks_hook.go
  client/allocrunner/checks_hook_test.go
  client/allocrunner/consul_grpc_sock_hook.go
  client/allocrunner/consul_grpc_sock_hook_test.go
  client/allocrunner/consul_hook.go
  client/allocrunner/consul_hook_test.go
  client/allocrunner/consul_http_sock_hook.go
  client/allocrunner/consul_http_sock_hook_test.go
  client/allocrunner/cpuparts_hook.go
  client/allocrunner/csi_hook.go
  client/allocrunner/csi_hook_test.go
  client/allocrunner/fail_hook.go
  client/allocrunner/group_service_hook.go
  client/allocrunner/group_service_hook_test.go
  client/allocrunner/health_hook.go
  client/allocrunner/health_hook_test.go
  client/allocrunner/identity_hook.go
  client/allocrunner/identity_hook_test.go
  client/allocrunner/interfaces/runner_lifecycle.go
  client/allocrunner/migrate_hook.go
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/taskrunner/identity_hook_test.go
  client/allocrunner/taskrunner/task_runner_test.go
  client/allocrunner/taskrunner/vault_hook_test.go
  client/allocrunner/upstream_allocs_hook.go
  client/taskenv/env.go
  client/taskenv/env_test.go
  client/widmgr/widmgr.go
  client/widmgr/widmgr_test.go
  nomad/job_endpoint_hook_connect.go
Labels: type/bug, theme/client, theme/resource-utilization, theme/gc, backport/ent/1.8.x+ent, backport/1.9.x

#25489 Add docker plugin config option image_pull_timeout value for default timeout
  .changelog/25489.txt
  drivers/docker/config.go
  drivers/docker/config_test.go
  drivers/docker/driver.go
  drivers/docker/utils.go
  drivers/docker/utils_test.go
  helper/pluginutils/hclutils/util_test.go
  website/content/docs/drivers/docker.mdx
Labels: type/enhancement, theme/docs, theme/driver/docker

#25253 Fix CSI ExpandVolume stagingPath
  .changelog/25253.txt
  client/pluginmanager/csimanager/volume.go
Labels: type/enhancement, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25524 docs: expand info on built-in mkdir dynamic host volume plugin
  website/content/docs/commands/volume/create.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/other-specifications/volume/host.mdx
Labels: theme/docs, theme/storage

#25519 auth: sanitize auth method in create/update reply
  nomad/acl_endpoint.go
Labels: theme/security, theme/auth, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25528 job: Add migrate block detail when performing task group diff
  .changelog/25528.txt
  nomad/structs/diff.go
  nomad/structs/diff_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25533 dhv: mkdir plugin parameters: uid,guid,mode
  client/fingerprint/dynamic_host_volumes.go
  client/host_volume_endpoint.go
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/host_volumes.go
  command/volume_create_host_test.go
  nomad/mock/host_volumes.go
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/other-specifications/volume/host.mdx
Labels: type/enhancement, theme/docs, theme/storage

#25543 deps: Update golang.org/x/net from 0.36.0 to 0.38.0
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x
