Repository hashicorp/nomad, pull requests merged in 2025-02, with the labels that each got.

#24996 dynamic host volumes: add `-id` arg for updates of existing volumes
  command/volume_create.go
  command/volume_create_host.go
  command/volume_create_host_test.go
  command/volume_register.go
  command/volume_register_host.go
  command/volume_register_host_test.go
  command/volume_status_host.go
Labels: type/enhancement, theme/cli, theme/storage

#24757 Docs SEO: Update Concepts for search
  website/content/docs/concepts/acl.mdx
  website/content/docs/concepts/architecture/federation.mdx
  website/content/docs/concepts/architecture/index.mdx
  website/content/docs/concepts/consensus.mdx
  website/content/docs/concepts/cpu.mdx
  website/content/docs/concepts/filesystem.mdx
  website/content/docs/concepts/gossip.mdx
  website/content/docs/concepts/index.mdx
  website/content/docs/concepts/job.mdx
  website/content/docs/concepts/node-pools.mdx
  website/content/docs/concepts/plugins/base.mdx
  website/content/docs/concepts/plugins/cni.mdx
  website/content/docs/concepts/plugins/csi.mdx
  website/content/docs/concepts/plugins/devices.mdx
  website/content/docs/concepts/plugins/index.mdx
  website/content/docs/concepts/plugins/task-drivers.mdx
  website/content/docs/concepts/scheduling/index.mdx
  website/content/docs/concepts/scheduling/placement.mdx
  website/content/docs/concepts/scheduling/preemption.mdx
  website/content/docs/concepts/scheduling/scheduling.mdx
  website/content/docs/concepts/security.mdx
  website/content/docs/concepts/variables.mdx
  website/content/docs/concepts/workload-identity.mdx
  website/content/docs/index.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#24764 Docs SEO: Update runtime, networking, Nomad vs K8s, Nomad Enterprise, upgrading, release notes, and sectionless pages
  website/content/docs/ecosystem.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/index.mdx
  website/content/docs/enterprise/license/utilization-reporting.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/faq.mdx
  website/content/docs/glossary.mdx
  website/content/docs/index.mdx
  website/content/docs/networking/cni.mdx
  website/content/docs/networking/index.mdx
  website/content/docs/networking/service-discovery.mdx
  website/content/docs/networking/service-mesh.mdx
  website/content/docs/nomad-vs-kubernetes/alternative.mdx
  website/content/docs/nomad-vs-kubernetes/index.mdx
  website/content/docs/nomad-vs-kubernetes/supplement.mdx
  website/content/docs/partnerships.mdx
  website/content/docs/release-notes/index.mdx
  website/content/docs/release-notes/nomad/upcoming.mdx
  website/content/docs/release-notes/nomad/v1_8_x.mdx
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/content/docs/runtime/environment.mdx
  website/content/docs/runtime/index.mdx
  website/content/docs/runtime/interpolation.mdx
  website/content/docs/schedulers.mdx
  website/content/docs/upgrade/index.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/docs/who-uses-nomad.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#24997 volume delete: allow prefix for ID
  .changelog/24997.txt
  command/volume_delete.go
  command/volume_delete_host_test.go
Labels: type/enhancement, theme/cli, theme/storage

#25013 Update acl.mdx
  website/content/docs/integrations/vault/acl.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#24985 [ui] Multi-condition start/revert/edit buttons when a job isn't running
  .changelog/24985.txt
  ui/app/components/job-page/parts/title.js
  ui/app/models/job.js
  ui/app/routes/jobs/job/index.js
  ui/app/templates/components/job-page/parts/title.hbs
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/pages/jobs/detail.js
Labels: backport/1.9.x

#24959 [cli] Adds Actions to job status command output
  .changelog/24959.txt
  command/job_status.go
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/status.mdx
Labels: backport/1.9.x

#25023 Fix: Inaccurate Memory Resource Example
  website/content/docs/job-specification/resources.mdx
Labels: theme/docs, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25021 jobspec2: isolate package from Nomad core and BUSL.
  GNUmakefile
  jobspec2/hcl_conversions.go
  jobspec2/helper_test.go
  jobspec2/parse_job.go
  jobspec2/parse_test.go
  jobspec2/util.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25022 DHV Front matter description updates for devdot search
  website/content/api-docs/volumes.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/job-specification/volume.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
Labels: theme/docs, theme/storage

#25041 build: update to go 1.23.6
  .changelog/25041.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25042 docs: Corrected meta keys example from sidecar_service documentation
  website/content/docs/job-specification/sidecar_service.mdx
Labels: backport/website, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25040 vault: fix bug in logging logic around renewals
  .changelog/25040.txt
  client/vaultclient/vaultclient.go
Labels: type/bug, theme/vault, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25039 reset max query time of blocking queries in client after retries
  .changelog/25039.txt
  client/rpc.go
  client/rpc_test.go
Labels: type/bug, theme/client, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25044 sec: Remove yamux suppression as vuln has been revoked.
  .release/security-scan.hcl
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24981 docker: properly handle "error reading image pull progress"
  .changelog/24981.txt
  drivers/docker/coordinator.go
  drivers/docker/coordinator_test.go
Labels: type/bug, theme/driver/docker, backport/1.9.x

#24993 stateful deployments: use `TaskGroupVolumeClaim` table to associate volume requests with volume IDs
  api/allocations.go
  helper/raftutil/msgtypes.go
  nomad/mock/host_volumes.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/state/state_store_task_group_volume_claims_test.go
  nomad/state/state_store_test.go
  nomad/structs/host_volumes.go
  nomad/structs/structs.go
  scheduler/feasible.go
  scheduler/feasible_test.go
  scheduler/generic_sched.go
  scheduler/generic_sched_test.go
  scheduler/scheduler.go
  scheduler/stack.go
Labels: theme/scheduling

#24991 docker: respect image_pull_timeout
  .changelog/24991.txt
  drivers/docker/coordinator.go
  drivers/docker/coordinator_test.go
Labels: type/bug, theme/driver/docker, backport/1.9.x

#24992 docker: refactor PullImage future handling
  drivers/docker/coordinator.go
Labels: theme/driver/docker, backport/1.9.x

#24974 state store: fix logic for evaluating job status
  .changelog/24974.txt
  nomad/core_sched_test.go
  nomad/job_endpoint.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
  nomad/system_endpoint_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25063 E2E: dynamic host volumes sticky volumes drain test fix
  e2e/dynamic_host_volumes/dynamic_host_volumes_test.go
  e2e/e2e_test.go
Labels: type/bug, theme/storage, theme/testing

#25073 deps: remove gofakeit
  go.mod
  go.sum
  nomad/mock/variables.go
  nomad/variables_endpoint_test.go
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, dependencies, backport/1.9.x

#25081 state store: remove reschedulable check when getting job status
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Labels: backport/1.9.x

#24783 Docs SEO: task drivers and plugins; refactor virt section
  website/content/docs/devices/index.mdx
  website/content/docs/drivers/docker.mdx
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/drivers/java.mdx
  website/content/docs/drivers/qemu.mdx
  website/content/docs/drivers/raw_exec.mdx
  website/content/docs/job-specification/device.mdx
  website/content/docs/partnerships.mdx
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/content/intro/index.mdx
  website/content/partials/task-driver-intro.mdx
  website/content/plugins/devices/community/index.mdx
  website/content/plugins/devices/index.mdx
  website/content/plugins/devices/nvidia.mdx
  website/content/plugins/devices/usb.mdx
  website/content/plugins/drivers/community/containerd.mdx
  website/content/plugins/drivers/community/firecracker-task-driver.mdx
  website/content/plugins/drivers/community/iis.mdx
  website/content/plugins/drivers/community/index.mdx
  website/content/plugins/drivers/community/jail-task-driver.mdx
  website/content/plugins/drivers/community/lightrun.mdx
  website/content/plugins/drivers/community/nomad-iis.mdx
  website/content/plugins/drivers/community/nspawn.mdx
  website/content/plugins/drivers/community/pledge.mdx
  website/content/plugins/drivers/community/pot.mdx
  website/content/plugins/drivers/community/rookout.mdx
  website/content/plugins/drivers/community/singularity.mdx
  website/content/plugins/drivers/exec2.mdx
  website/content/plugins/drivers/index.mdx
  website/content/plugins/drivers/podman.mdx
  website/content/plugins/drivers/virt/client.mdx
  website/content/plugins/drivers/virt/index.mdx
  website/content/plugins/drivers/virt/install.mdx
  website/content/plugins/drivers/virt/installation.mdx
  website/content/plugins/drivers/virt/task-config.mdx
  website/content/plugins/index.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
  website/redirects.js
Labels: theme/docs, backport/website, backport/1.9.x

#25085 e2e: task schedule: pauses vs restarts
  .changelog/25085.txt
  e2e/task_schedule/input/schedule.nomad.hcl
  e2e/task_schedule/task_schedule_test.go
Labels: backport/1.9.x

#25088 semgrep: Fix invalid RPC rule and add validation GHA workflow.
  .github/workflows/semgrep.yml
  .semgrep/rpc_endpoint.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25078 ci: Update semgrep container version to 1.107.0
  .github/workflows/semgrep.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25093 CNI: migrate from persistent state to ephemeral state during restart
  .changelog/25093.txt
  client/client.go
  helper/escapingfs/copydir.go
  helper/escapingfs/copydir_test.go
Labels: type/bug, theme/client-restart, theme/cni

#25108 Add config option to disable dmidecode
  .changelog/25108.txt
  client/config/config.go
  client/driver_manager_test.go
  client/fingerprint/cpu.go
  client/lib/numalib/detect_darwin.go
  client/lib/numalib/detect_default.go
  client/lib/numalib/detect_linux.go
  client/lib/numalib/detect_noimpl_test.go
  client/lib/numalib/detect_test.go
  client/pluginmanager/drivermanager/testing.go
  command/agent/agent.go
  command/agent/config.go
  drivers/docker/driver_test.go
  drivers/docker/fingerprint_test.go
  drivers/exec/driver_test.go
  drivers/java/driver_test.go
  drivers/qemu/driver_test.go
  drivers/rawexec/driver_test.go
  drivers/shared/executor/executor_test.go
  drivers/shared/executor/executor_windows_test.go
  website/content/docs/configuration/client.mdx
Labels: type/enhancement, theme/fingerprint, theme/docs, theme/platform-linux, backport/1.9.x

#24797 dynamic host volume reference documentation
  website/content/api-docs/volumes.mdx
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/job-specification/volume.mdx
  website/content/docs/operations/metrics-reference.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/other-specifications/acl-policy.mdx
  website/content/docs/other-specifications/namespace.mdx
  website/content/docs/other-specifications/quota.mdx
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/csi.mdx
  website/content/docs/other-specifications/volume/host.mdx
  website/content/docs/other-specifications/volume/index.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: theme/docs, theme/storage

#25102 fingerprint: initial fingerprint of Vault/Consul should be periodic
  .changelog/25102.txt
  .release/linux/package/usr/lib/systemd/system/nomad.service
  client/fingerprint/consul.go
  client/fingerprint/consul_test.go
  client/fingerprint/fingerprint.go
  client/fingerprint/vault.go
  client/fingerprint/vault_test.go
Labels: type/bug, theme/fingerprint, theme/vault, theme/consul, backport/1.9.x

#25113 template: fix client's default retry configuration
  .changelog/25113.txt
  client/allocrunner/taskrunner/template/template_test.go
  client/config/config.go
  command/agent/config_test.go
  command/agent/test-resources/client_with_template.hcl
Labels: type/bug, theme/template, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25105 Docs: Clarify Job status mapping on Job page
  website/content/docs/commands/job/status.mdx
  website/content/docs/concepts/job.mdx
  website/content/partials/job-status-map.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#25109 Allow for in-place update when affinity or spread was changed
  .changelog/25109.txt
  scheduler/annotate.go
  scheduler/annotate_test.go
  scheduler/util.go
  scheduler/util_test.go
  website/content/docs/job-specification/affinity.mdx
  website/content/docs/job-specification/constraint.mdx
  website/content/docs/job-specification/spread.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
Labels: type/enhancement, theme/docs, theme/scheduling

#25140 deps: Update consul-template to 0.40.0
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#24929 docs: clarify reschedule, migrate, and replacement terminology
  command/job_restart.go
  scheduler/generic_sched.go
  website/content/docs/commands/job/restart.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/job-specification/disconnect.mdx
  website/content/docs/job-specification/group.mdx
  website/content/docs/job-specification/migrate.mdx
  website/content/docs/job-specification/reschedule.mdx
  website/content/docs/job-specification/restart.mdx
Labels: theme/docs, theme/restart/reschedule, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25146 docs: remove non-existing option in task-config.mdx for virt driver
  website/content/plugins/drivers/virt/task-config.mdx
Labels: backport/website

#24917 docs: add auth-methods section in acl concepts
  nomad/acl_endpoint.go
  website/content/api-docs/task-api.mdx
  website/content/docs/concepts/acl/auth-methods/jwt.mdx
  website/content/docs/concepts/acl/auth-methods/oidc.mdx
  website/content/docs/concepts/acl/index.mdx
  website/content/docs/concepts/architecture/federation.mdx
  website/content/partials/jwt_claim_mapping_details.mdx
  website/data/docs-nav-data.json
Labels: theme/docs, backport/website, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25160 github: update numerous workflow dependencies
  .github/workflows/backport.yml
  .github/workflows/build.yml
  .github/workflows/checks.yaml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-core.yaml
  .github/workflows/test-e2e.yml
  .github/workflows/test-failure-notification.yml
  .github/workflows/test-ui.yml
  .github/workflows/test-windows.yml
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25152 upgrade testing: make script error handling more robust
  enos/enos-scenario-upgrade.hcl
  enos/modules/fetch_artifactory/scripts/install.sh
  enos/modules/run_workloads/scripts/wait_for_nomad_api.sh
  enos/modules/test_cluster_health/scripts/allocs.sh
  enos/modules/test_cluster_health/scripts/clients.sh
  enos/modules/test_cluster_health/scripts/jobs.sh
  enos/modules/test_cluster_health/scripts/servers.sh
  enos/modules/test_cluster_health/scripts/versions.sh
  enos/modules/test_cluster_health/scripts/wait_for_nomad_api.sh
  enos/modules/upgrade_clients/scripts/set_metadata.sh
  enos/modules/upgrade_clients/scripts/verify_metadata.sh
  enos/modules/upgrade_clients/scripts/wait_for_nomad_api.sh
  enos/modules/upgrade_servers/scripts/wait_for_stable_cluster.sh
Labels: theme/testing

#25159 fix code scanning alert ws affected by a dos when handling a request with many http headers
  ui/package.json
  ui/yarn.lock
  website/package-lock.json
  website/package.json
Labels: backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25031 [ui, tests] Various acceptance test fixups (v main)
  .github/workflows/test-ui.yml
  ui/mirage/factories/job.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/regions-test.js
  ui/tests/acceptance/server-detail-test.js
  ui/tests/acceptance/task-logs-test.js
  ui/tests/helpers/module-for-job.js
  ui/tests/integration/components/job-page/periodic-test.js
  ui/tests/integration/components/job-page/service-test.js
  ui/tests/integration/components/task-log-test.js
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25178 changelog: add entry for #25140
  .changelog/25140.txt
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25182 fingerprint: only log failed Consul fingerprint once
  client/fingerprint/consul.go
Labels: theme/fingerprint, theme/consul

#25188 dynamic host volumes: mark volumes on down nodes as unavailable
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_test.go
Labels: type/enhancement, theme/storage

#25189 [website, prodsec] Pins trim-newlines for the website package
  website/package.json
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25186 upgrade testing: make sure we capture last error if not exiting
  enos/modules/test_cluster_health/scripts/servers.sh
  enos/modules/upgrade_clients/scripts/verify_metadata.sh
  enos/modules/upgrade_servers/scripts/wait_for_stable_cluster.sh
Labels: theme/testing

#25201 deps: update go-msgpack and net-rpc-msgpackrpc
  .changelog/25201.txt
  go.mod
  go.sum
Labels: type/bug, theme/client

#25202 Dependabot backports for 1.9.x
  .changelog/25201.txt
  .github/workflows/build.yml
  .github/workflows/test-ui.yml
  .github/workflows/test-windows.yml
  go.mod
  go.sum
Labels: theme/dependencies

#25203 docs: improve cross-links for scheduler preemption
  website/content/docs/concepts/scheduling/preemption.mdx
Labels: theme/docs, theme/scheduling, backport/website, backport/1.7.x, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.8.x, backport/1.9.x

#25114 stateful deployments: task group host volume claims API
  api/host_volume_claims.go
  command/agent/http.go
  command/agent/task_group_host_volume_claim_endpoint.go
  command/agent/task_group_host_volume_claim_endpoint_test.go
  nomad/fsm.go
  nomad/server.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/state/state_store_task_group_volume_claims_test.go
  nomad/state/state_store_test.go
  nomad/structs/host_volumes.go
  nomad/structs/structs.go
  nomad/task_group_host_volume_claim_endpoint.go
  nomad/task_group_host_volume_claim_endpoint_test.go
  scheduler/feasible.go
  scheduler/feasible_test.go
  scheduler/scheduler.go
  website/content/api-docs/volumes.mdx
Labels: theme/docs

#25211 deps: remove actions updates from dependabot
  .github/dependabot.yml
Labels: theme/dependencies

#25104 [ui] System, Batch, and Sysbatch jobs' Start Job buttons let you revert to previous versions
  .changelog/25104.txt
  ui/app/models/job.js
  ui/app/templates/components/job-page/parts/title.hbs
  ui/app/templates/components/job-version.hbs
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/acceptance/job-versions-test.js
Labels: backport/1.9.x

#25184 Docs: update Virt beta callout to use Note component
  website/content/partials/virt-beta-callout.mdx
  website/content/plugins/drivers/virt/index.mdx
  website/content/plugins/drivers/virt/install.mdx
  website/content/plugins/drivers/virt/task-config.mdx
Labels: theme/docs, backport/website, backport/1.9.x

#25228 E2E: fix column parsing for dynamic host volumes test
  e2e/dynamic_host_volumes/dynamic_host_volumes_test.go
Labels: theme/storage, theme/testing

#25236 sec: Update x/crypto and x/oauth2 to resolve scan failures.
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25232 upgrade testing: debugging assistance
  enos/README.md
  enos/debug-environment
Labels: theme/testing

#25240 deps: Consolidated update of dependabot PRs
  go.mod
  go.sum
Labels: backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x

#25223 upgrade tests: add CSI workload
  enos/enos-scenario-upgrade.hcl
  enos/enos-vars.hcl
  enos/modules/run_workloads/efs.tf
  enos/modules/run_workloads/jobs/plugin-aws-efs-nodes.nomad.hcl
  enos/modules/run_workloads/jobs/raw-exec-system.nomad.hcl
  enos/modules/run_workloads/jobs/wants-volume.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/scripts/volume.hcl.tpl
  enos/modules/run_workloads/scripts/wait_for_efs_plugin.sh
  enos/modules/run_workloads/scripts/wait_for_efs_volume.sh
  enos/modules/run_workloads/variables.tf
Labels: theme/storage, theme/testing

#25247 client: remove unused `nodeID` parameter from host stats metric functions
  client/client.go
Labels: theme/metrics, backport/ent/1.7.x+ent, backport/ent/1.8.x+ent, backport/1.9.x
