Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng

plugins: validate logmon process during reattach
  client/logmon/plugin.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

quotas: refactor storage limit specification
  .changelog/24785.txt
  api/quota.go
  api/util_test.go
  command/quota_apply.go
  command/quota_delete_test.go
  command/quota_init.go
  command/quota_init_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

remove deprecated DiskMB field from new struct
  api/quota.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Some updates. committing rather than stashing
  website/content/partials/device-driver-intro.mdx
  website/content/plugins/devices/index.mdx
  website/content/plugins/devices/nvidia.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

test: set AuthToken in tests to match Client code (#24792)
  nomad/node_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ab39f198ff9da49ee83a1f67ec7cc3198c02755f
  .changelog/24723.txt
  ui/app/models/agent.js
  ui/app/routes/clients.js
  ui/app/routes/servers.js
  ui/app/services/system.js
  ui/app/styles/core/table.scss
  ui/app/templates/components/server-agent-row.hbs
  ui/mirage/config.js
  ui/mirage/factories/agent.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/servers-list-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

[ui] Show ALL regions' leaders when viewing servers route (#24723)
  .changelog/24723.txt
  ui/app/models/agent.js
  ui/app/routes/clients.js
  ui/app/routes/servers.js
  ui/app/services/system.js
  ui/app/styles/core/table.scss
  ui/app/templates/components/server-agent-row.hbs
  ui/mirage/config.js
  ui/mirage/factories/agent.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/servers-list-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Add changelog
  .changelog/24798.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: update the dnsconfig script to handle multiple interfaces
  e2e/terraform/packer/ubuntu-jammy-amd64/dnsconfig.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: update the dnsconfig script to handle multiple interfaces (#24800)
  e2e/terraform/packer/ubuntu-jammy-amd64/dnsconfig.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client: move 'waiting for previous alloc to terminate' log messages to info
  client/allocwatcher/alloc_watcher.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 679642c8bf6a783c2cfb7fa03f98d82bef7e8df0 (#24806)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Backport of chore(deps): bump actions/setup-go from 5.1.0 to 5.2.0 into release/1.9.x (#24805)
  .github/workflows/build.yml
  .github/workflows/checks.yaml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-core.yaml
  .github/workflows/test-e2e.yml
  .github/workflows/test-windows.yml
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

e2e: Account for non-default region in Prometheus scrape config.
  e2e/metrics/input/prometheus.hcl
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

plugins: validate logmon process during reattach (#24798)
  .changelog/24798.txt
  client/logmon/plugin.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 34a34e72334d7613b7a17e02a2f51a65a883dd02
  .changelog/24798.txt
  client/logmon/plugin.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

e2e: Account for non-default region in Prometheus scrape config. (#24807)
  e2e/metrics/input/prometheus.hcl
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: update paths
  e2e/terraform/.terraform.lock.hcl
  e2e/terraform/csi/input/volume-efs.hcl
  e2e/terraform/main.tf
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/provision-nomad/variables.tf
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
  e2e/terraform/remotetasks/input/ecs.vars
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: update more paths
  e2e/terraform/main.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

style: remove debug prints on bootstrap scripts
  e2e/terraform/provision-infra/scripts/bootstrap-consul.sh
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: update keys directory inside provision-nomad
  e2e/terraform/provision-infra/provision-nomad/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: add missing headers
  e2e/terraform/main.tf
  e2e/terraform/provision-infra/consul-servers.tf
  enos/.gitignore
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: update path inside bootstrap scrip
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: update keys path to use module path instead pf root
  e2e/terraform/provision-infra/consul-servers.tf
  e2e/terraform/provision-infra/main.tf
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/provision-nomad/main.tf
  e2e/terraform/provision-infra/tls_ca.tf
  e2e/terraform/provision-infra/tls_client.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Delete e2e/terraform/csi/input/volume-efs.hcl
  e2e/terraform/csi/input/volume-efs.hcl
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update e2e/terraform/main.tf
  e2e/terraform/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

style; format hcl files
  e2e/terraform/main.tf
  e2e/terraform/outputs.tf
  e2e/terraform/provision-infra/compute.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/outputs.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update compute.tf
  e2e/terraform/provision-infra/compute.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: final paths revision for running e2e locally
  e2e/terraform/main.tf
  e2e/terraform/provision-infra/compute.tf
  e2e/terraform/provision-infra/consul-servers.tf
  e2e/terraform/provision-infra/network.tf
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/outputs.tf
  e2e/terraform/provision-infra/provision-nomad/main.tf
  e2e/terraform/provision-infra/scripts/bootstrap-consul.sh
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
  e2e/terraform/provision-infra/tls_ca.tf
  e2e/terraform/provision-infra/tls_client.tf
  e2e/terraform/provision-infra/volumes.tf
  e2e/terraform/remotetasks/input/ecs.vars
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: unify the uploads folder
  e2e/terraform/provision-infra/.gitignore
  e2e/terraform/provision-infra/consul-clients.tf
  e2e/terraform/provision-infra/consul-servers.tf
  e2e/terraform/provision-infra/hcp_vault.tf
  e2e/terraform/provision-infra/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: remove the test name from token to avoid long names and use name for vol to avoid colisions
  e2e/terraform/provision-infra/ecs.tf
  e2e/terraform/provision-infra/volumes.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update e2e/terraform/provision-infra/compute.tf
  e2e/terraform/provision-infra/compute.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update network.tf
  e2e/terraform/provision-infra/network.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: final paths revision for running e2e locally
  .gitignore
  e2e/terraform/provision-infra/keys/nomad_root_token
  e2e/terraform/provision-infra/variables.tf
  e2e/terraform/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: update more paths
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: fmt hcl files
  e2e/terraform/provision-infra/compute.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: make path of certs relative to module for the bootstrap
  e2e/terraform/provision-infra/keys/nomad_root_token
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/outputs.tf
  e2e/terraform/provision-infra/scripts/bootstrap-consul.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: fix typo and add success message
  e2e/terraform/provision-infra/scripts/bootstrap-consul.sh
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: Add outputs with all data necessary to connect to the cluster
  e2e/terraform/outputs.tf
  e2e/terraform/provision-infra/outputs.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: make nomad token a sensitive output
  e2e/terraform/outputs.tf
  e2e/terraform/provision-infra/outputs.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng
