Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit b050c73a6d31b2c6eb2943719018254bdbdf432b (#24823)
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b050c73a6d31b2c6eb2943719018254bdbdf432b (#24822)
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volumes ACL policies (#24790)
  website/content/docs/other-specifications/acl-policy.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volumes API (#24789)
  website/content/api-docs/volumes.mdx
  website/content/docs/other-specifications/volume/index.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: client configuration docs
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volume specification
  website/content/api-docs/volumes.mdx
  website/content/docs/other-specifications/volume/csi.mdx
  website/content/docs/other-specifications/volume/host.mdx
  website/content/docs/other-specifications/volume/index.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: jobspec updates for dynamic host volumes
  website/content/docs/job-specification/volume.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update descriptions and add intro paragraph
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/plugin.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/tls.mdx
  website/content/docs/configuration/ui.mdx
  website/content/docs/configuration/vault.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Fix typo
  website/content/docs/configuration/telemetry.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

replace "below" and "see"
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/vault.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

setVolumes
  scheduler/feasible.go
  scheduler/feasible_test.go
  scheduler/stack.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: cleanup comments
  nomad/structs/volumes.go
  scheduler/feasible.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

event stream: adds ability to authenticate using Workload Identity
  nomad/event_endpoint.go
  nomad/stream/event_broker.go
  nomad/stream/event_broker_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

adds changelog
  .changelog/24720.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/job-specification/volume.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 606ce9dd90909297bf395977ca6652ec31d999fa
  .changelog/24720.txt
  client/fingerprint/env_aws.go
  client/fingerprint/env_aws_test.go
  e2e/remotetasks/remotetasks.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: upgrade aws-sdk-go from v1 to v2 (#24720)
  .changelog/24720.txt
  client/fingerprint/env_aws.go
  client/fingerprint/env_aws_test.go
  e2e/remotetasks/remotetasks.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: upgrade go-getter to 1.7.7
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

go sum correction
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: cleanup comments (#24830)
  nomad/structs/volumes.go
  scheduler/feasible.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ffb34319d50cfe558411d4c33251c5bf62243e4e
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/plugin.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/tls.mdx
  website/content/docs/configuration/ui.mdx
  website/content/docs/configuration/vault.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs SEO: Update Configuration section to improve search (#24759)
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/plugin.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/tls.mdx
  website/content/docs/configuration/ui.mdx
  website/content/docs/configuration/vault.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs SEO: Update Configuration section to improve search (#24759)
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/plugin.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/tls.mdx
  website/content/docs/configuration/ui.mdx
  website/content/docs/configuration/vault.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ffb34319d50cfe558411d4c33251c5bf62243e4e (#24834)
  website/content/docs/configuration/acl.mdx
  website/content/docs/configuration/audit.mdx
  website/content/docs/configuration/autopilot.mdx
  website/content/docs/configuration/client.mdx
  website/content/docs/configuration/consul.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/keyring/awskms.mdx
  website/content/docs/configuration/keyring/azurekeyvault.mdx
  website/content/docs/configuration/keyring/gcpckms.mdx
  website/content/docs/configuration/keyring/index.mdx
  website/content/docs/configuration/keyring/transit.mdx
  website/content/docs/configuration/plugin.mdx
  website/content/docs/configuration/reporting.mdx
  website/content/docs/configuration/search.mdx
  website/content/docs/configuration/sentinel.mdx
  website/content/docs/configuration/server.mdx
  website/content/docs/configuration/server_join.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/tls.mdx
  website/content/docs/configuration/ui.mdx
  website/content/docs/configuration/vault.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

testing: fix test flake in dynamic host volume client tests
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comment from code review
  .changelog/24785.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comments from code review
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/index.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 606ce9dd90909297bf395977ca6652ec31d999fa (#24831)
  .changelog/24720.txt
  client/fingerprint/env_aws.go
  client/fingerprint/env_aws_test.go
  e2e/remotetasks/remotetasks.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

API: host volume access modes should match list in structs package
  api/host_volumes.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

testing: fix test flake in dynamic host volume client tests (#24836)
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: jobspec updates for dynamic host volumes (#24828)
  website/content/docs/job-specification/volume.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Address suggestions from code review
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/csi.mdx
  website/content/docs/other-specifications/volume/host.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: client configuration docs (#24827)
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

quotas: refactor storage limit specification (#24785)
  .changelog/24785.txt
  api/quota.go
  api/util_test.go
  command/quota_apply.go
  command/quota_delete_test.go
  command/quota_init.go
  command/quota_init_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

func: add initial enos skeleton
  enos/.gitignore
  enos/enos-modules.hcl
  enos/enos-quality.hcl
  enos/enos-scenario-upgrade.hcl
  enos/enos-terraform.hcl
  enos/enos-vars.hcl
  enos/modules/fetch_artifactory/locals.tf
  enos/modules/fetch_artifactory/main.tf
  enos/modules/fetch_artifactory/outputs.tf
  enos/modules/fetch_artifactory/scripts/install.sh
  enos/modules/fetch_artifactory/variables.tf
  enos/modules/run_workloads/jobs/docker-service.nomad.hcl
  enos/modules/run_workloads/jobs/exec-system.nomad.hcl
  enos/modules/run_workloads/jobs/raw-exec-service.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/outputs.tf
  enos/modules/run_workloads/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: change the variables input to a map of objects to simplify the workloads creation
  enos/modules/run_workloads/jobs/docker-service.nomad.hcl
  enos/modules/run_workloads/jobs/raw-exec-service.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/outputs.tf
  enos/modules/run_workloads/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

style: add headers
  enos/modules/run_workloads/jobs/docker-service.nomad.hcl
  enos/modules/run_workloads/jobs/exec-system.nomad.hcl
  enos/modules/run_workloads/jobs/raw-exec-service.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/outputs.tf
  enos/modules/run_workloads/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
