Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/web-presence, @hashicorp/nomad-docs

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# engineering and web presence get notified of, and can approve changes to web tooling, but not content.

/website/               @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/data/
/website/public/
/website/content/

# education and engineering get notified of, and can approve changes to web content.

/website/data/          @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/public/        @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/content/       @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng

Update acl.mdx
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update acl.mdx (#25013)
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2 (#25014)
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2 (#25017)
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2 (#25016)
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ec073d0eab33b24fce0917b13441cf5377519ff2 (#25015)
  website/content/docs/integrations/vault/acl.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

better schema?
  nomad/state/schema.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

adds reschedule tests
  nomad/core_sched_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Remove version-watching from job index route
  .changelog/24985.txt
  ui/app/routes/jobs/job/index.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

wip
  nomad/fsm.go
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

filter batch jobs during reschedule check
  nomad/core_sched_test.go
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Changelog, acceptance tests, and someall conditional change in task-event model message getter
  .changelog/23714.txt
  ui/app/models/task-event.js
  ui/tests/acceptance/job-status-panel-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

[ui] Multi-condition start/revert/edit buttons when a job isn't running (#24985)
  .changelog/24985.txt
  ui/app/components/job-page/parts/title.js
  ui/app/models/job.js
  ui/app/routes/jobs/job/index.js
  ui/app/templates/components/job-page/parts/title.hbs
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/pages/jobs/detail.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 389f4612b6622c53e92f4ad2b31aff47b1af5e7b
  .changelog/24985.txt
  ui/app/components/job-page/parts/title.js
  ui/app/models/job.js
  ui/app/routes/jobs/job/index.js
  ui/app/templates/components/job-page/parts/title.hbs
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/pages/jobs/detail.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove host volume IDs field from allocation
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/structs/structs.go
  scheduler/feasible.go
  scheduler/feasible_test.go
  scheduler/generic_sched.go
  scheduler/scheduler.go
  scheduler/stack.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove from api
  api/allocations.go
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

working prototype
  nomad/state/state_store_task_group_volume_claims.go
  scheduler/feasible.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

[cli] Adds Actions to job status command output (#24959)
  .changelog/24959.txt
  command/job_status.go
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/status.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs

backport of commit 9367929d87c0a5d654fb4deacfd4f008de6b6a78
  .changelog/24959.txt
  command/job_status.go
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/status.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs

backport of commit 389f4612b6622c53e92f4ad2b31aff47b1af5e7b (#25018)
  .changelog/24985.txt
  ui/app/components/job-page/parts/title.js
  ui/app/models/job.js
  ui/app/routes/jobs/job/index.js
  ui/app/templates/components/job-page/parts/title.hbs
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/job-detail-test.js
  ui/tests/pages/jobs/detail.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove log
  nomad/state/state_store.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Fix: inaccurate docs
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

front matter description updates for devdot search; CE-812
  website/content/api-docs/volumes.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/job-specification/volume.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs SEO: Update runtime, networking, Nomad vs K8s, Nomad Enterprise, upgrading, release notes, and sectionless pages (#24764) (#25012)
  website/content/docs/ecosystem.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/license/faq.mdx
  website/content/docs/enterprise/license/index.mdx
  website/content/docs/enterprise/license/utilization-reporting.mdx
  website/content/docs/enterprise/sentinel.mdx
  website/content/docs/faq.mdx
  website/content/docs/glossary.mdx
  website/content/docs/index.mdx
  website/content/docs/networking/cni.mdx
  website/content/docs/networking/index.mdx
  website/content/docs/networking/service-discovery.mdx
  website/content/docs/networking/service-mesh.mdx
  website/content/docs/nomad-vs-kubernetes/alternative.mdx
  website/content/docs/nomad-vs-kubernetes/index.mdx
  website/content/docs/nomad-vs-kubernetes/supplement.mdx
  website/content/docs/partnerships.mdx
  website/content/docs/release-notes/index.mdx
  website/content/docs/release-notes/nomad/upcoming.mdx
  website/content/docs/release-notes/nomad/v1_8_x.mdx
  website/content/docs/release-notes/nomad/v1_9_x.mdx
  website/content/docs/runtime/environment.mdx
  website/content/docs/runtime/index.mdx
  website/content/docs/runtime/interpolation.mdx
  website/content/docs/schedulers.mdx
  website/content/docs/upgrade/index.mdx
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

clean-ups and Tim's comments
  nomad/fsm.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/structs/structs.go
  scheduler/generic_sched_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove unnecessary change
  nomad/fsm.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

adds changelog
  .changelog/24974.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Fix: inaccurate docs (#25023)
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24 (#25024)
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24 (#25025)
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24 (#25026)
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 824d3622267b1935f7950e82f6cf3d0538de7e24 (#25027)
  website/content/docs/job-specification/resources.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng
