Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

documentation
  command/operator_root_keyring_remove.go
  website/content/api-docs/operator/keyring.mdx
  website/content/docs/commands/operator/root/keyring-remove.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Docs SEO: task drivers and plugins; refactor virt section
  website/content/docs/devices/index.mdx
  website/content/docs/drivers/docker.mdx
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/drivers/java.mdx
  website/content/docs/drivers/qemu.mdx
  website/content/docs/drivers/raw_exec.mdx
  website/content/partials/device-driver-intro.mdx
  website/content/partials/task-driver-intro.mdx
  website/content/plugins/devices/community/index.mdx
  website/content/plugins/devices/community/usb.mdx
  website/content/plugins/devices/index.mdx
  website/content/plugins/devices/nvidia.mdx
  website/content/plugins/drivers/community/containerd.mdx
  website/content/plugins/drivers/community/firecracker-task-driver.mdx
  website/content/plugins/drivers/community/iis.mdx
  website/content/plugins/drivers/community/index.mdx
  website/content/plugins/drivers/community/jail-task-driver.mdx
  website/content/plugins/drivers/community/lightrun.mdx
  website/content/plugins/drivers/community/nomad-iis.mdx
  website/content/plugins/drivers/community/nspawn.mdx
  website/content/plugins/drivers/community/pledge.mdx
  website/content/plugins/drivers/community/pot.mdx
  website/content/plugins/drivers/community/rookout.mdx
  website/content/plugins/drivers/community/singularity.mdx
  website/content/plugins/drivers/exec2.mdx
  website/content/plugins/drivers/index.mdx
  website/content/plugins/drivers/podman.mdx
  website/content/plugins/drivers/virt/client.mdx
  website/content/plugins/drivers/virt/index.mdx
  website/content/plugins/drivers/virt/install.mdx
  website/content/plugins/drivers/virt/installation.mdx
  website/content/plugins/drivers/virt/task-config.mdx
  website/content/plugins/index.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit a085696c196b667816f8e72cfd2288defa2dad27 (#24775)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 90d1561ae51fce60ada4753c8e0ac9187ea8a20a (#24776)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

services: Support TLS Skip Verify within Nomad service checks.
  client/serviceregistration/checks/client.go
  client/serviceregistration/checks/client_test.go
  client/serviceregistration/checks/result.go
  client/serviceregistration/checks/result_test.go
  nomad/structs/check_test.go
  nomad/structs/checks.go
  nomad/structs/services.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: remove Consul only limitation on check.tls_skip_verify param.
  website/content/docs/job-specification/check.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24781
  .changelog/24781.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

upgrade packages for compatibility
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit f7b12dc54e54528a25200c6141a9275f9e11bb6c
  .changelog/24645.txt
  client/allocdir/fs_linux.go
  website/content/docs/concepts/filesystem.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

add noswap to secretdir tmpfs (#24645)
  .changelog/24645.txt
  client/allocdir/fs_linux.go
  website/content/docs/concepts/filesystem.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Backport of add noswap to secretdir tmpfs into release/1.9.x (#24782)
  .changelog/24645.txt
  client/allocdir/fs_linux.go
  website/content/docs/concepts/filesystem.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 48467ba5a877e6f4ab6749f86c2ea3c579af1301 (#24784)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

plugins *must* be idempotent, always name logger
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volumes.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: client-side tests, comments, tidying (#24747)
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/hostvolumemanager/volume_fingerprint.go
  client/hostvolumemanager/volume_fingerprint_test.go
  command/agent/config.go
  demo/hostvolume/_test-plugin.sh
  demo/hostvolume/example-plugin-mkfs
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volume: no duplicate vol name on node
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

allow repeat creates with the same vol ID
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

rename locker
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

excise excessive error enrichment
  client/hostvolumemanager/host_volumes.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

warn if a static vol is added after a dynamic one
  client/client.go
  client/hostvolumemanager/host_volumes_test.go
  client/hostvolumemanager/volume_fingerprint.go
  client/hostvolumemanager/volume_fingerprint_test.go
  client/node_updater.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

add redirects for virt driver files
  website/redirects.js
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Tests for multi-region leadership badges and css same-line fix
  ui/app/styles/core/table.scss
  ui/app/templates/components/server-agent-row.hbs
  ui/mirage/config.js
  ui/mirage/factories/agent.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/servers-list-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volumes API
  website/content/api-docs/volumes.mdx
  website/content/docs/other-specifications/volume/index.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Add override to force prettier 5.0
  website/package-lock.json
  website/package.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: unique volume name per node (#24748)
  client/client.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/hostvolumemanager/volume_fingerprint.go
  client/hostvolumemanager/volume_fingerprint_test.go
  client/node_updater.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

test: set AuthToken in tests to match Client code
  nomad/node_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

driver/docker: Fix container CPU stats collection (#24768)
  .changelog/24768.txt
  drivers/docker/stats.go
  drivers/docker/stats_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 0726e4cc3e3aed553d231b2121c31713fe90bd9a
  .changelog/24768.txt
  drivers/docker/stats.go
  drivers/docker/stats_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

driver/docker: Fix container CPU stats collection (#24793)
  .changelog/24768.txt
  drivers/docker/stats.go
  drivers/docker/stats_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

keyring: warn if removing a key that was used for encrypting variables (#24766)
  .changelog/24766.txt
  api/keyring.go
  api/keyring_test.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  command/operator_root_keyring_remove.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/structs/keyring.go
  website/content/api-docs/operator/keyring.mdx
  website/content/docs/commands/operator/root/keyring-remove.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 0906f788f04f7b07e3727f3506608931058c0926
  .changelog/24766.txt
  api/keyring.go
  api/keyring_test.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  command/operator_root_keyring_remove.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/structs/keyring.go
  website/content/api-docs/operator/keyring.mdx
  website/content/docs/commands/operator/root/keyring-remove.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 0906f788f04f7b07e3727f3506608931058c0926 (#24794)
  .changelog/24766.txt
  api/keyring.go
  api/keyring_test.go
  command/agent/keyring_endpoint.go
  command/agent/keyring_endpoint_test.go
  command/operator_root_keyring_remove.go
  nomad/keyring_endpoint.go
  nomad/keyring_endpoint_test.go
  nomad/structs/keyring.go
  website/content/api-docs/operator/keyring.mdx
  website/content/docs/commands/operator/root/keyring-remove.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

address comments from code review
  website/content/api-docs/volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: require node ID on register
  command/volume_register_host.go
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

cni: use check command when restoring from restart
  .changelog/24658.txt
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/networking.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_mock_test.go
  client/allocrunner/networking_cni_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/install/install-cni-plugins.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

address comments from code review
  website/content/api-docs/volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

cni: use check command when restoring from restart (#24658)
  .changelog/24658.txt
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/networking.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_mock_test.go
  client/allocrunner/networking_cni_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/install/install-cni-plugins.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 08a6f870ad2b96c2514e83e9f30eea6523ea0ea4
  .changelog/24658.txt
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/networking.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_mock_test.go
  client/allocrunner/networking_cni_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/install/install-cni-plugins.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Backport of CNI: use check command when restoring from restart into release/1.9.x (#24796)
  .changelog/24658.txt
  client/allocrunner/network_hook.go
  client/allocrunner/network_hook_test.go
  client/allocrunner/networking.go
  client/allocrunner/networking_bridge_linux.go
  client/allocrunner/networking_cni.go
  client/allocrunner/networking_cni_mock_test.go
  client/allocrunner/networking_cni_test.go
  website/content/docs/upgrade/upgrade-specific.mdx
  website/content/partials/install/install-cni-plugins.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

docs: dynamic host volumes ACL policies
  website/content/docs/other-specifications/acl-policy.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: require node ID on register (#24795)
  command/volume_register_host.go
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
