Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng

Backport of docs: clarify workload-associated policy parameters into release/1.7.x (#24889)
  website/content/api-docs/acl/policies.mdx
  website/content/docs/commands/acl/policy/apply.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Backport of docs: clarify workload-associated policy parameters into release/1.8.x (#24890)
  website/content/api-docs/acl/policies.mdx
  website/content/docs/commands/acl/policy/apply.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Backport of docs: clarify workload-associated policy parameters into release/1.9.x (#24891)
  website/content/api-docs/acl/policies.mdx
  website/content/docs/commands/acl/policy/apply.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: Add clean token to remove extra new line added in provision
  enos/enos-scenario-upgrade.hcl
  enos/enos-terraform.hcl
  enos/enos-vars.hcl
  enos/modules/fetch_artifactory/outputs.tf
  enos/modules/fetch_artifactory/scripts/install.sh
  enos/modules/run_workloads/jobs/.gitignore
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/variables.tf
  enos/modules/test_cluster_health/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

auth: adds option to enable verbose logging during sso
  api/acl.go
  lib/auth/binder.go
  lib/auth/binder_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/api-docs/acl/auth-methods.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Backport of docs: clarify workload-associated policy parameters into stable-website (#24888)
  website/content/api-docs/acl/policies.mdx
  website/content/docs/commands/acl/policy/apply.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

add changelog
  .changelog/24892.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

update changelog message
  .changelog/24892.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

scheduler: prevent nil pointer ref when reschedule policy is missing
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: serialize ops per volume (#24852)
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes quotas (#24871)
  api/quota.go
  command/quota_apply.go
  command/quota_apply_test.go
  command/quota_init.go
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_ce.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volume specification (#24810)
  website/content/api-docs/volumes.mdx
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/csi.mdx
  website/content/docs/other-specifications/volume/host.mdx
  website/content/docs/other-specifications/volume/index.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volumes API (#24789)
  website/content/api-docs/volumes.mdx
  website/content/docs/other-specifications/volume/index.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix broken link
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/register.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volumes ACL policies (#24790)
  website/content/docs/other-specifications/acl-policy.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: client configuration docs (#24827)
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: jobspec updates for dynamic host volumes (#24828)
  website/content/docs/job-specification/volume.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: dynamic host volume command line (#24814)
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/other-specifications/namespace.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: document option for node pool governance
  website/content/docs/other-specifications/namespace.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: sentinel documentation
  website/content/docs/enterprise/sentinel.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/enterprise/sentinel.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: update quota specification for new storage block
  website/content/docs/other-specifications/quota.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: Add clean token to remove extra new line added in provision
  enos/enos-providers.hcl
  enos/modules/run_workloads/.gitignore
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/scripts/wait_for_nomad_api.sh
  enos/modules/run_workloads/templates/docker-service.nomad.hcl
  enos/modules/run_workloads/templates/docker-service.nomad.hcl.tpl
  enos/modules/run_workloads/templates/exec-system.nomad.hcl
  enos/modules/run_workloads/templates/exec-system.nomad.hcl.tpl
  enos/modules/run_workloads/templates/raw-exec-service.nomad.hcl
  enos/modules/run_workloads/templates/raw-exec-service.nomad.hcl.tpl
  enos/modules/run_workloads/variables.tf
  enos/modules/test_cluster_health/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Remove docs/devices/ and redirect to plugins/devices
  website/content/docs/devices/index.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/job-specification/device.mdx
  website/content/docs/partnerships.mdx
  website/content/intro/index.mdx
  website/content/partials/device-driver-intro.mdx
  website/content/partials/task-driver-intro.mdx
  website/content/plugins/devices/index.mdx
  website/content/plugins/drivers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/enterprise/sentinel.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/other-specifications/quota.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: document option for node pool governance (#24826)
  website/content/docs/other-specifications/namespace.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: update quota specification for new storage block (#24894)
  website/content/docs/other-specifications/quota.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: sentinel documentation (#24825)
  website/content/docs/enterprise/sentinel.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 63dacd2d6e13ac66f51ec077f33a52b67d9e70a2
  command/agent/command.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

update vault token warning from 1.9->1.10 (#24884)
  command/agent/command.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: enforce exclusive access in plan apply (#24881)
  nomad/structs/funcs.go
  nomad/structs/funcs_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

refactor: volume request modes to be generic between DHV/CSI
  client/csi_endpoint_test.go
  client/pluginmanager/csimanager/interface.go
  client/structs/csi.go
  command/agent/job_endpoint.go
  nomad/structs/csi.go
  nomad/structs/funcs.go
  nomad/structs/funcs_test.go
  nomad/structs/host_volumes.go
  nomad/structs/volumes.go
  plugins/csi/plugin.go
  scheduler/feasible.go
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

1.7.8
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: upgrade go-getter to 1.7.8 (#24832)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit af4f31fc5f7727ebc9f57de29a2fd848dd2c50d7
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit af4f31fc5f7727ebc9f57de29a2fd848dd2c50d7 (#24902)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

[F-net-11478] Make keys directory cluster grouped (#24883)
  e2e/terraform/Makefile
  e2e/terraform/README.md
  e2e/terraform/main.tf
  e2e/terraform/outputs.tf
  e2e/terraform/provision-infra/compute.tf
  e2e/terraform/provision-infra/consul-servers.tf
  e2e/terraform/provision-infra/main.tf
  e2e/terraform/provision-infra/nomad-acls.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/outputs.tf
  e2e/terraform/provision-infra/provision-nomad/main.tf
  e2e/terraform/provision-infra/provision-nomad/tls.tf
  e2e/terraform/provision-infra/provision-nomad/variables.tf
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
  e2e/terraform/provision-infra/tls_ca.tf
  e2e/terraform/provision-infra/tls_client.tf
  e2e/terraform/provision-infra/variables.tf
  e2e/terraform/terraform.tfvars
  e2e/terraform/variables.tf
  enos/.gitignore
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

consul token and namespace
  command/job_plan.go
  command/job_validate.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng
