Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/web-presence, @hashicorp/nomad-docs

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# engineering and web presence get notified of, and can approve changes to web tooling, but not content.

/website/               @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/data/
/website/public/
/website/content/

# education and engineering get notified of, and can approve changes to web content.

/website/data/          @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/public/        @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng
/website/content/       @hashicorp/nomad-docs @hashicorp/github-nomad-core @hashicorp/nomad-eng

Re-fix my test now that fast-fail is off
  .github/workflows/test-ui.yml
  ui/tests/integration/components/job-page/service-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Fix to server-leader by adding a region first, and always()-append to uploading partition results
  .github/workflows/test-ui.yml
  ui/tests/acceptance/server-detail-test.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b394a76b893b2bd7ba574eaf39a271fc9cc86aa2
  GNUmakefile
  jobspec2/hcl_conversions.go
  jobspec2/helper_test.go
  jobspec2/parse_job.go
  jobspec2/parse_test.go
  jobspec2/util.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

jobspec2: isolate package from Nomad core and BUSL. (#25021)
  GNUmakefile
  jobspec2/hcl_conversions.go
  jobspec2/helper_test.go
  jobspec2/parse_job.go
  jobspec2/parse_test.go
  jobspec2/util.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

jobspec2: isolate package from Nomad core and BUSL (#25034)
  GNUmakefile
  jobspec2/hcl_conversions.go
  jobspec2/helper_test.go
  jobspec2/parse_job.go
  jobspec2/parse_test.go
  jobspec2/util.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

chore(deps): bump go.etcd.io/bbolt from 1.3.9 to 1.3.11 (#25035)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Apply suggestions from code review
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

better test
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

DHV Front matter description updates for devdot search (#25022)
  website/content/api-docs/volumes.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/job-specification/volume.mdx
  website/content/docs/operations/stateful-workloads.mdx
  website/content/docs/other-specifications/volume/capability.mdx
  website/content/docs/other-specifications/volume/mount_options.mdx
  website/content/docs/other-specifications/volume/topology_request.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

renamed to emphasize it's about host volumes
  helper/raftutil/msgtypes.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/state/state_store_test.go
  nomad/structs/structs.go
  scheduler/feasible.go
  scheduler/feasible_test.go
  scheduler/scheduler.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: remove triggers from resources that copy the binaries into the remote instances
  e2e/terraform/provision-infra/provision-nomad/install-linux.tf
  e2e/terraform/provision-infra/provision-nomad/install-windows.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: remove triggers from resources that copy the binaries into the remote instances (#25036)
  e2e/terraform/provision-infra/provision-nomad/install-linux.tf
  e2e/terraform/provision-infra/provision-nomad/install-windows.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Tim's comment
  nomad/state/state_store.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/state/state_store_test.go
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

keep track of "used" claims
  nomad/state/state_store.go
  scheduler/feasible.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Express failure step lists failing tests so you don't have to click back into ember-exam step
  .github/workflows/test-ui.yml
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove TaskGroupHostVolumeClaimRegisterRequestType msg
  helper/raftutil/msgtypes.go
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

temporary snapshot and logging for flakey test in service job detail
  ui/tests/helpers/module-for-job.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reset max query time of blocking queries in client after retries
  .changelog/25039.txt
  client/rpc.go
  client/rpc_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comments from code review
  client/rpc.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

vault: fix bug in logging logic around renewals
  .changelog/25040.txt
  client/vaultclient/vaultclient.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

clarifications
  nomad/acl_endpoint.go
  website/content/docs/concepts/acl/auth-methods/oidc.mdx
  website/content/partials/jwt_claim_mapping_details.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs

update tests and add clarification in comments/changelog
  .changelog/24974.txt
  nomad/state/state_store.go
  nomad/state/state_store_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

build: update to go 1.23.6
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Corrected meta keys example from sidecar_service documentation
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #25041
  .changelog/25041.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit aef33e264a7a4e9cd44334c9d063f6cea693a3be
  .changelog/25041.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

build: update to go 1.23.6 (#25041)
  .changelog/25041.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

build: update to go 1.23.6 (#25043)
  .changelog/25041.txt
  .go-version
  contributing/README.md
  scripts/linux-priv-go.sh
  scripts/release/mac-remote-build
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

sec: Remove yamux suppression as vuln has been revoked.
  .release/security-scan.hcl
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit a914888c2c661d843b12b9effe4a57e7954b33a2
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Corrected meta keys example from sidecar_service documentation (#25042)
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit a914888c2c661d843b12b9effe4a57e7954b33a2
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Corrected meta keys example from sidecar_service (#25045)
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Corrected meta keys example from sidecar_service (#25046)
  website/content/docs/job-specification/sidecar_service.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Module to upgrade servers (#24971)
  enos/enos-modules.hcl
  enos/enos-scenario-upgrade.hcl
  enos/modules/fetch_artifactory/main.tf
  enos/modules/fetch_artifactory/outputs.tf
  enos/modules/fetch_artifactory/variables.tf
  enos/modules/test_cluster_health/main.tf
  enos/modules/test_cluster_health/scripts/allocs.sh
  enos/modules/test_cluster_health/variables.tf
  enos/modules/upgrade_instance/.gitignore
  enos/modules/upgrade_instance/main.tf
  enos/modules/upgrade_instance/variables.tf
  enos/modules/upgrade_servers/main.tf
  enos/modules/upgrade_servers/scripts/wait_for_nomad_api.sh
  enos/modules/upgrade_servers/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: refactor to avoid flakiness
  enos/enos-scenario-upgrade.hcl
  enos/modules/run_workloads/jobs/docker-service.nomad.hcl
  enos/modules/run_workloads/main.tf
  enos/modules/test_cluster_health/main.tf
  enos/modules/test_cluster_health/scripts/allocs.sh
  enos/modules/test_cluster_health/scripts/clients.sh
  enos/modules/test_cluster_health/scripts/wait_for_nomad_api.sh
  enos/modules/upgrade_instance/main.tf
  enos/modules/upgrade_instance/variables.tf
  enos/modules/upgrade_servers/scripts/wait_for_nomad_api.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

test for the upsert method
  nomad/mock/host_volumes.go
  nomad/state/schema.go
  nomad/state/state_store_task_group_volume_claims.go
  nomad/state/state_store_task_group_volume_claims_test.go
  nomad/state/state_store_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

update feasibility checker to only fetch task group claims
  scheduler/feasible.go
  scheduler/scheduler.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix feasibility test
  scheduler/feasible.go
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b5faeff233933f550c84875b08d22bd55a083f74
  .changelog/25040.txt
  client/vaultclient/vaultclient.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng
