Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

clarity: rename DHV_HOST_PATH -> DHV_VOLUMES_DIR
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reorder env vars
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Backport of CSI: don't overwrite context with empty value from request into release/1.9.x (#24928)
  .changelog/24922.txt
  nomad/structs/csi.go
  nomad/structs/csi_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

bad ideas
  scheduler/generic_sched.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

wip
  scheduler/generic_sched.go
  scheduler/reconcile.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 739e5ed6ee302fd11158e9c224f7934a73edc2ca
  nomad/heartbeat.go
  nomad/heartbeat_test.go
  nomad/reporting/reporting_ce.go
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reporting: Update server to accommodate new enterprise reporting. (#24919)
  nomad/heartbeat.go
  nomad/heartbeat_test.go
  nomad/reporting/reporting_ce.go
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reporting: Update server to accommodate new enterprise reporting (#24932)
  nomad/heartbeat.go
  nomad/heartbeat_test.go
  nomad/reporting/reporting_ce.go
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ef32825ede3b776513cf4b279b177e92f719d496
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ef32825ede3b776513cf4b279b177e92f719d496
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ef32825ede3b776513cf4b279b177e92f719d496
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit ef32825ede3b776513cf4b279b177e92f719d496
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link. (#24921)
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link (#24934)
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link (#24935)
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link (#24936)
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link (#24937)
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24919
  .changelog/24919.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b4d71f66934984f1a072ce0a6d0800ca2460d4d5
  .changelog/24919.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24919 (#24939)
  .changelog/24919.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24919 (#24941)
  .changelog/24919.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

refactor: volume request modes to be generic between DHV/CSI (#24896)
  client/csi_endpoint_test.go
  client/pluginmanager/csimanager/interface.go
  client/structs/csi.go
  command/agent/job_endpoint.go
  nomad/structs/csi.go
  nomad/structs/funcs.go
  nomad/structs/funcs_test.go
  nomad/structs/host_volumes.go
  nomad/structs/volumes.go
  plugins/csi/plugin.go
  scheduler/feasible.go
  scheduler/feasible_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: considerations for stateful workloads updates for DHV
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

wip
  scheduler/reconcile.go
  scheduler/reconcile_util.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

host volume plugin: DHV_HOST_PATH->DHV_VOLUMES_DIR
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/test_fixtures/test_plugin.sh
  demo/hostvolume/_test-plugin.sh
  demo/hostvolume/example-plugin-mkfs
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client config: host_volumes_dir
  client/client.go
  client/config/config.go
  client/host_volume_endpoint_test.go
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/hostvolumemanager/volume_fingerprint_test.go
  command/agent/agent.go
  command/agent/command.go
  command/agent/config.go
  demo/hostvolume/example-plugin-mkfs
  website/content/docs/configuration/client.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

clarify, rearrange, link to stateful-workloads
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

only auto-delete after *initial* create state err
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

plugin env: add namespace+nodepool, and rearrange
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/host_volumes_test.go
  client/hostvolumemanager/test_fixtures/test_plugin.sh
  client/hostvolumemanager/volume_fingerprint_test.go
  client/structs/host_volumes.go
  nomad/host_volume_endpoint.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Name*space* and pass nodepool differently
  client/client.go
  client/fingerprint/dynamic_host_volumes.go
  client/hostvolumemanager/host_volume_plugin.go
  client/hostvolumemanager/host_volume_plugin_test.go
  client/hostvolumemanager/host_volumes.go
  client/structs/host_volumes.go
  nomad/host_volume_endpoint.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

check whether vol is new at lock time
  client/hostvolumemanager/host_volumes.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client: remove exec permission on state
  client/client.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
