Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

created changelog for 1.8.8 (#24718)
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: upgrade aws-sdk-go from v1 to v2
  client/fingerprint/env_aws.go
  e2e/remotetasks/remotetasks.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

add back endpoint for testing
  client/fingerprint/env_aws.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

created changelog for 1.7.16
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

event stream: add events for dynamic host volumes
  nomad/state/deployment_events_test.go
  nomad/state/events.go
  nomad/state/events_test.go
  nomad/state/state_store_host_volumes.go
  nomad/stream/event_broker.go
  nomad/structs/event.go
  website/content/api-docs/events.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

change stop_after to stop_on_client_after
  website/content/docs/job-specification/disconnect.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Add link to published tutorial (#24712)
  website/content/docs/concepts/job.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 8dc4a94b35cd067892041f9dcdec949141749416
  website/content/docs/concepts/job.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 8dc4a94b35cd067892041f9dcdec949141749416 (#24726)
  website/content/docs/concepts/job.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Looks up all regions' leaders when viewing servers route
  .changelog/24723.txt
  ui/app/models/agent.js
  ui/app/routes/clients.js
  ui/app/routes/servers.js
  ui/app/services/system.js
  ui/app/templates/components/server-agent-row.hbs
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Move disconnect entry to correct alphabetical place in nav
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs: change stop_after to stop_on_client_after (#24727)
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1c12fc59a6ef7690bc1df2980c9140b73b0bb554
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1c12fc59a6ef7690bc1df2980c9140b73b0bb554
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs: fix typo in lower_bound
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1c12fc59a6ef7690bc1df2980c9140b73b0bb554 (#24730)
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1c12fc59a6ef7690bc1df2980c9140b73b0bb554 (#24728)
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Docs: fix typo in lower_bound (#24731)
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Add link to published tutorial (#24712)
  website/content/docs/concepts/job.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Add link to published tutorial (#24712) (#24736)
  website/content/docs/concepts/job.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80 (#24735)
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80 (#24734)
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80 (#24732)
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1065769f1e54e75c197cfa02652bc4004e89da80 (#24733)
  website/content/tools/autoscaling/plugins/strategy/threshold.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

event stream: add events for dynamic host volumes (#24721)
  nomad/state/deployment_events_test.go
  nomad/state/events.go
  nomad/state/events_test.go
  nomad/state/state_store_host_volumes.go
  nomad/stream/event_broker.go
  nomad/structs/event.go
  website/content/api-docs/events.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Docs: change stop_after to stop_on_client_after (#24727)
  website/content/docs/job-specification/disconnect.mdx
  website/data/docs-nav-data.json
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

event stream: add events for CSI volumes and plugins
  .changelog/24724.txt
  nomad/state/events.go
  nomad/state/events_test.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_restore.go
  nomad/stream/event_broker.go
  nomad/structs/event.go
  nomad/volumewatcher/volumes_watcher.go
  website/content/api-docs/events.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

event stream: add events for CSI volumes and plugins (#24724)
  .changelog/24724.txt
  nomad/state/events.go
  nomad/state/events_test.go
  nomad/state/schema.go
  nomad/state/state_store.go
  nomad/state/state_store_restore.go
  nomad/stream/event_broker.go
  nomad/structs/event.go
  nomad/volumewatcher/volumes_watcher.go
  website/content/api-docs/events.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

event stream: refactor to use Eventer interface
  nomad/state/events.go
  nomad/state/schema.go
  nomad/structs/acl.go
  nomad/structs/csi.go
  nomad/structs/event.go
  nomad/structs/host_volumes.go
  nomad/structs/node_pool.go
  nomad/structs/service_registration.go
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

close all io.ReadClosers
  client/fingerprint/env_aws.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 300c2bffe951948dd5eb6786a8a73e01284f92cd
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: Update golang.org/x packages. (#24716)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

deps: Update golang.org/x packages (#24742)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit c1c8162f5d5a1f77e41072464f3263b78b74618d (#24743)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 0178a698c1e033549aeaaa2e64501816cbe9e986 (#24744)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit f4d2d1a306e6f86e5c0eca8059d9b9cb3826ce94 (#24745)
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
