Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng

func: make the uploads file one per cluster
  e2e/terraform/provision-infra/main.tf
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/provision-nomad/main.tf
  e2e/terraform/provision-infra/provision-nomad/uploads/README.md
  e2e/terraform/provision-infra/provision-nomad/variables.tf
  e2e/terraform/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client: move 'waiting for previous alloc to terminate' log messages to info (#24804)
  client/allocwatcher/alloc_watcher.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 7726ae68c6597fefe517572d08bc0fae3d85c519
  client/allocwatcher/alloc_watcher.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 7726ae68c6597fefe517572d08bc0fae3d85c519 (#24809)
  client/allocwatcher/alloc_watcher.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Merge release 1.9.4 files
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Post 1.9.4 release (#24811)
  CHANGELOG.md
  GNUmakefile
  version/version.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 34a34e72334d7613b7a17e02a2f51a65a883dd02 (#24808)
  .changelog/24798.txt
  client/logmon/plugin.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

detour-release-1-9-4-into-1-9-x (#24813)
  CHANGELOG.md
  GNUmakefile
  version/version.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Commands for alloc status and job status
  command/alloc_status.go
  command/job_status.go
  command/meta.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Basic implementation for server members and node status
  command/meta.go
  command/node_status.go
  command/server_members.go
  helper/pluginutils/catalog/register.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

-ui flag for most commands
  command/alloc_status.go
  command/job_run.go
  command/job_status.go
  command/meta.go
  command/node_status.go
  command/server_members.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

driver uncomment and general cleanup
  command/deployment_status.go
  command/job_run.go
  helper/pluginutils/catalog/register.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

-ui flag on the generic status endpoint
  command/status.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Job run command gets namespaces, and no longer gets ui hints for --output flag
  command/job_run.go
  command/job_status.go
  command/meta.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Fix an issue where path prefix was presumed for variables
  command/meta.go
  command/var_list.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

url hints for variables
  command/meta.go
  command/var_get.go
  command/var_list.go
  command/var_put.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Dispatch command hints get a namespace, and bunch o tests
  command/job_dispatch.go
  command/meta.go
  command/meta_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent config ui.cli_url_links to disable
  command/meta.go
  nomad/structs/config/ui.go
  website/content/docs/configuration/ui.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

url hints for job dispatch, evals, and deployments
  command/deployment_status.go
  command/eval_list.go
  command/eval_status.go
  command/job_dispatch.go
  command/job_run.go
  command/meta.go
  command/plugin_status.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Parallel outside of test instances
  command/meta_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

figured out what flagAddress is all about for testServer, oof
  command/meta_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Browser-opening test, sorta
  .changelog/24454.txt
  command/meta_test.go
  command/plugin_status.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Lots of tests depend on specific output, so let's not mess with them
  command/testing_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Env var for disabling/enabling CLI hints
  command/commands.go
  command/meta.go
  command/meta_test.go
  command/testing_test.go
  nomad/structs/config/ui.go
  website/content/docs/commands/index.mdx
  website/content/docs/configuration/ui.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

dynamic host volumes: send register to client for fingerprint
  client/host_volume_endpoint.go
  client/host_volume_endpoint_test.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/structs/host_volumes.go
  command/volume_delete_host_test.go
  command/volume_register_host_test.go
  command/volume_status_host_test.go
  demo/hostvolume/no-plugin.volume.hcl
  nomad/client_host_volume_endpoint.go
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
  nomad/structs/host_volumes.go
  nomad/structs/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

parse capacity field in volume spec for register workflow
  api/host_volumes.go
  command/volume_create_host.go
  command/volume_register_host_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comments from code review
  client/host_volume_endpoint_test.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/structs/host_volumes.go
  command/volume_delete_host_test.go
  demo/hostvolume/no-plugin.volume.hcl
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Addressing a few PR comments
  .changelog/24454.txt
  nomad/structs/config/ui.go
  website/content/docs/configuration/ui.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Update who-uses-nomad.mdx
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CLI docs available flags now all have -ui
  command/eval_list.go
  command/job_run.go
  command/var_get.go
  command/var_put.go
  website/content/docs/commands/alloc/status.mdx
  website/content/docs/commands/deployment/status.mdx
  website/content/docs/commands/eval/list.mdx
  website/content/docs/commands/eval/status.mdx
  website/content/docs/commands/job/dispatch.mdx
  website/content/docs/commands/job/run.mdx
  website/content/docs/commands/job/status.mdx
  website/content/docs/commands/node/status.mdx
  website/content/docs/commands/server/members.mdx
  website/content/docs/commands/var/get.mdx
  website/content/docs/commands/var/list.mdx
  website/content/docs/commands/var/put.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

E2E: dynamic host volumes workflows
  e2e/dynamic_host_volumes/doc.go
  e2e/dynamic_host_volumes/dynamic_host_volumes_test.go
  e2e/dynamic_host_volumes/input/mount-created.nomad.hcl
  e2e/dynamic_host_volumes/input/mount-registered.nomad.hcl
  e2e/dynamic_host_volumes/input/register-volumes.nomad.hcl
  e2e/dynamic_host_volumes/input/register-volumes.policy.hcl
  e2e/dynamic_host_volumes/input/volume-create.nomad.hcl
  e2e/e2e_test.go
  e2e/volume_mounts/doc.go
  e2e/volume_mounts/input/volumes.nomad
  e2e/volume_mounts/volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: send register to client for fingerprint (#24802)
  api/host_volumes.go
  client/host_volume_endpoint.go
  client/host_volume_endpoint_test.go
  client/hostvolumemanager/host_volumes.go
  client/hostvolumemanager/host_volumes_test.go
  client/structs/host_volumes.go
  command/volume_create_host.go
  command/volume_delete_host_test.go
  command/volume_register_host_test.go
  command/volume_status_host_test.go
  demo/hostvolume/no-plugin.volume.hcl
  nomad/client_host_volume_endpoint.go
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
  nomad/structs/host_volumes.go
  nomad/structs/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update who-uses-nomad.mdx
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fixed a bug where syslog error messages marked as notice.
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24820
  .changelog/24820.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

E2E: dynamic host volumes workflows (#24816)
  e2e/dynamic_host_volumes/doc.go
  e2e/dynamic_host_volumes/dynamic_host_volumes_test.go
  e2e/dynamic_host_volumes/input/mount-created.nomad.hcl
  e2e/dynamic_host_volumes/input/mount-registered.nomad.hcl
  e2e/dynamic_host_volumes/input/register-volumes.nomad.hcl
  e2e/dynamic_host_volumes/input/register-volumes.policy.hcl
  e2e/dynamic_host_volumes/input/volume-create.nomad.hcl
  e2e/e2e_test.go
  e2e/volume_mounts/doc.go
  e2e/volume_mounts/input/volumes.nomad
  e2e/volume_mounts/volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update bootstrap-nomad.sh
  e2e/terraform/provision-infra/scripts/bootstrap-nomad.sh
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b050c73a6d31b2c6eb2943719018254bdbdf432b
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update who-uses-nomad.mdx (#24815)
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit b050c73a6d31b2c6eb2943719018254bdbdf432b
  website/content/docs/who-uses-nomad.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng
