Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

Apply suggestions from code review
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/delete.mdx
  website/content/docs/commands/volume/init.mdx
  website/content/docs/commands/volume/register.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

actually update backport changelog
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

added 1.7.16+ent and 1.7.17+ent to changelog
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

add 1.8.9 to changelog
  CHANGELOG.md
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

services: Support TLS Skip Verify within Nomad service checks. (#24781)
  .changelog/24781.txt
  client/serviceregistration/checks/client.go
  client/serviceregistration/checks/client_test.go
  client/serviceregistration/checks/result.go
  client/serviceregistration/checks/result_test.go
  nomad/structs/check_test.go
  nomad/structs/checks.go
  nomad/structs/services.go
  website/content/docs/job-specification/check.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 689f935e0a440c427f0707a00576ab1fe649d6bf
  .changelog/24781.txt
  client/serviceregistration/checks/client.go
  client/serviceregistration/checks/client_test.go
  client/serviceregistration/checks/result.go
  client/serviceregistration/checks/result_test.go
  nomad/structs/check_test.go
  nomad/structs/checks.go
  nomad/structs/services.go
  website/content/docs/job-specification/check.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

services: Support TLS Skip Verify within Nomad service checks (#24863)
  .changelog/24781.txt
  client/serviceregistration/checks/client.go
  client/serviceregistration/checks/client_test.go
  client/serviceregistration/checks/result.go
  client/serviceregistration/checks/result_test.go
  nomad/structs/check_test.go
  nomad/structs/checks.go
  nomad/structs/services.go
  website/content/docs/job-specification/check.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

backport of commit 8d201a82fd937e21af81e90484ae0f0042455cb9
  .changelog/24820.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fixed a bug where syslog error messages marked as notice. (#24820)
  .changelog/24820.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fixed a bug where syslog error messages marked as notice (#24864)
  .changelog/24820.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

ui: Fill service check background object for pending checks.
  ui/app/styles/components/services.scss
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fix a bug where all syslog lines are notice when using JSON
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24865
  .changelog/24865.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

changelog: add entry for #24818
  .changelog/24818.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update based on review.
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: remove the terraform nomad provider
  enos/enos-modules.hcl
  enos/enos-vars.hcl
  enos/modules/run_workloads/jobs/.gitignore
  enos/modules/run_workloads/main.tf
  enos/modules/run_workloads/outputs.tf
  enos/modules/run_workloads/templates/docker-service.nomad.hcl
  enos/modules/run_workloads/templates/exec-system.nomad.hcl
  enos/modules/run_workloads/templates/raw-exec-service.nomad.hcl
  enos/modules/run_workloads/variables.tf
  enos/modules/test_cluster_health/main.tf
  enos/modules/test_cluster_health/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

func: make windows arch dependant
  e2e/terraform/Makefile
  e2e/terraform/README.md
  e2e/terraform/main.tf
  e2e/terraform/provision-infra/.gitignore
  e2e/terraform/provision-infra/compute.tf
  e2e/terraform/provision-infra/keys/nomad_root_token
  e2e/terraform/provision-infra/nomad.tf
  e2e/terraform/provision-infra/outputs.tf
  e2e/terraform/provision-infra/variables.tf
  e2e/terraform/terraform.tfvars
  e2e/terraform/variables.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 75d0ac657ec0f7d7782b41d4c1e0bf7925f712a6
  .changelog/24818.txt
  ui/app/styles/components/services.scss
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

ui: Fill service check background object for pending checks. (#24818)
  .changelog/24818.txt
  ui/app/styles/components/services.scss
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

block on channel instead of sleep
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

ui: Fill service check background object for pending checks (#24866)
  .changelog/24818.txt
  ui/app/styles/components/services.scss
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: move node pool governance to placement filter (CE)
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_ce.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: allow for node pool and plugin ID changes (#24851)
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_test.go
  nomad/structs/host_volumes.go
  nomad/structs/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volume: set default capability
  command/asset/volume.host.hcl
  nomad/host_volume_endpoint_test.go
  nomad/mock/host_volumes.go
  nomad/structs/host_volumes.go
  nomad/structs/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: move node pool governance to placement filter (CE) (#24867)
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_ce.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volume: set default capability (#24857)
  command/asset/volume.host.hcl
  nomad/host_volume_endpoint_test.go
  nomad/mock/host_volumes.go
  nomad/structs/host_volumes.go
  nomad/structs/host_volumes_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

A dedicated variable at nomad/ui/defaults
  nomad/structs/variables.go
  ui/app/components/variable-form.hbs
  ui/app/components/variable-form.js
  ui/app/controllers/settings/user-settings.js
  ui/app/routes/application.js
  ui/app/services/system.js
  ui/app/styles/components/authorization.scss
  ui/app/templates/settings/user-settings.hbs
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comments from code review
  website/content/docs/commands/volume/create.mdx
  website/content/docs/commands/volume/deregister.mdx
  website/content/docs/commands/volume/register.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update install command for Fedora to match install page
  website/content/docs/install/index.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes quotas
  api/quota.go
  command/quota_apply.go
  command/quota_apply_test.go
  command/quota_init.go
  nomad/state/state_store_host_volumes.go
  nomad/state/state_store_host_volumes_ce.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

refactor the test entirely, again
  nomad/host_volume_endpoint.go
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 1ae9785f9b8625683432d8e47ba66d5759ccde5b
  .changelog/24865.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fix a bug where all syslog lines are notice when using JSON (#24865)
  .changelog/24865.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: Fix a bug where all syslog lines are notice when using JSON (#24872)
  .changelog/24865.txt
  command/agent/command.go
  command/agent/syslog.go
  command/agent/syslog_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

agent: remove unused log filter and unrequired library.
  command/agent/command.go
  command/agent/command_test.go
  command/agent/log_file.go
  command/agent/log_file_test.go
  command/agent/log_levels.go
  command/agent/log_levels_test.go
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

server: Fix error message format when detailing cluster metadata.
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

server: Fix error message format when detailing cluster metadata. (#24874)
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit 03cbe7cd71134b5f96c149bff7ebdc39c7e6dee3
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

server: Fix error message format when detailing cluster metadata (#24875)
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

shutdownCtx to prevent deadlock
  nomad/host_volume_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng
