Repository hashicorp/nomad, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

CODEOWNERS:

# release configuration

/.release/                              @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/github-nomad-core @hashicorp/nomad-eng

# codeowner default
*                              @hashicorp/github-nomad-core @hashicorp/nomad-eng


# web presence and education

/website/       @hashicorp/nomad-docs @hashicorp/web-presence @hashicorp/github-nomad-core @hashicorp/nomad-eng

Multiple possible nomad ui default variables read on app load and sign-in
  nomad/structs/variables.go
  ui/app/components/profile-navbar-item.hbs
  ui/app/components/variable-form.js
  ui/app/controllers/settings/tokens.js
  ui/app/routes/application.js
  ui/app/services/system.js
  ui/app/templates/settings/user-settings.hbs
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Cleaned up a todo comment
  ui/app/services/system.js
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update .changelog/24892.txt
  .changelog/24892.txt
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

update logs to standardized format and log errors
  nomad/acl_endpoint.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

stateful deployments: remove CSIVolumeIDs
  api/allocations.go
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

stateful deployments: remove CSIVolumeIDs (#24908)
  api/allocations.go
  nomad/structs/structs.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: fix UpdateVolumeMap panic
  client/hostvolumemanager/volume_fingerprint.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Update docs/drivers descriptions
  website/content/docs/drivers/docker.mdx
  website/content/docs/drivers/exec.mdx
  website/content/docs/drivers/index.mdx
  website/content/docs/drivers/java.mdx
  website/content/docs/drivers/qemu.mdx
  website/content/docs/drivers/raw_exec.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove remote task execution code
  client/allocrunner/taskrunner/remotetask_hook.go
  client/allocrunner/taskrunner/task_runner.go
  client/allocrunner/taskrunner/task_runner_hooks.go
  drivers/docker/config_test.go
  e2e/e2e_test.go
  e2e/remotetasks/input/ecs.nomad
  e2e/remotetasks/remotetasks.go
  e2e/terraform/provision-infra/ecs-task.json
  e2e/terraform/provision-infra/ecs.tf
  e2e/terraform/provision-infra/ecs.tftpl
  plugins/drivers/client.go
  plugins/drivers/driver.go
  plugins/drivers/proto/driver.pb.go
  plugins/drivers/proto/driver.proto
  plugins/drivers/server.go
  website/content/docs/concepts/plugins/task-drivers.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

regenerate proto
  plugins/drivers/proto/driver.pb.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

update go mod
  go.mod
  go.sum
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reserve remote_tasks protobuf field
  plugins/drivers/proto/driver.pb.go
  plugins/drivers/proto/driver.proto
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client: always initialize node.HostVolumes map
  client/client.go
  client/hostvolumemanager/volume_fingerprint.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

refactored
  client/client.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

client: always initialize node.HostVolumes map (#24910)
  client/client.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

Move USB device plugin up a level. Finish descriptions.
  website/content/docs/drivers/exec.mdx
  website/content/plugins/devices/community/index.mdx
  website/content/plugins/devices/index.mdx
  website/content/plugins/devices/nvidia.mdx
  website/content/plugins/devices/usb.mdx
  website/content/plugins/drivers/community/containerd.mdx
  website/content/plugins/drivers/community/firecracker-task-driver.mdx
  website/content/plugins/drivers/community/iis.mdx
  website/content/plugins/drivers/community/index.mdx
  website/content/plugins/drivers/community/jail-task-driver.mdx
  website/content/plugins/drivers/community/lightrun.mdx
  website/content/plugins/drivers/community/nomad-iis.mdx
  website/content/plugins/drivers/community/nspawn.mdx
  website/content/plugins/drivers/community/pledge.mdx
  website/content/plugins/drivers/community/pot.mdx
  website/content/plugins/drivers/community/rookout.mdx
  website/content/plugins/drivers/community/singularity.mdx
  website/content/plugins/drivers/exec2.mdx
  website/content/plugins/drivers/index.mdx
  website/content/plugins/drivers/podman.mdx
  website/content/plugins/drivers/virt/index.mdx
  website/content/plugins/drivers/virt/install.mdx
  website/content/plugins/drivers/virt/task-config.mdx
  website/content/plugins/index.mdx
  website/data/plugins-nav-data.json
  website/redirects.js
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

volume spec: fix `access_mode` field in examples
  command/asset/volume.csi.hcl
  command/asset/volume.csi.json
  command/asset/volume.host.hcl
  command/asset/volume.host.json
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: add a dependency to avoid terraform errors when generating ssh keys
  e2e/terraform/provision-infra/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

fix: add a dependency to avoid terraform errors when generating ssh keys (#24912)
  e2e/terraform/provision-infra/main.tf
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

E2E: dynamic host volume tests for sticky volumes
  e2e/dynamic_host_volumes/dynamic_host_volumes_test.go
  e2e/dynamic_host_volumes/input/mount-created.nomad.hcl
  e2e/dynamic_host_volumes/input/sticky.nomad.hcl
  e2e/dynamic_host_volumes/input/volume-sticky.nomad.hcl
  e2e/v3/volumes3/host3.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

volume spec: fix `access_mode` field in examples (#24911)
  command/asset/volume.csi.hcl
  command/asset/volume.csi.json
  command/asset/volume.host.hcl
  command/asset/volume.host.json
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

experiments
  scheduler/generic_sched.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

removes taskHandle and related functions
  api/tasks.go
  nomad/structs/structs.go
  plugins/drivers/task_handle.go
  scheduler/generic_sched.go
  scheduler/generic_sched_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

reporting: Update server to accommodate new enterprise reporting.
  nomad/heartbeat.go
  nomad/heartbeat_test.go
  nomad/reporting/reporting_ce.go
  nomad/server.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

docs: Remove Portworx state workloads link.
  website/content/docs/operations/stateful-workloads.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CSI: don't overwrite context with empty value from request
  .changelog/24922.txt
  nomad/structs/csi.go
  nomad/structs/csi_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

dynamic host volumes: plugin specification
  website/content/docs/concepts/plugins/storage/csi.mdx
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
  website/content/docs/concepts/plugins/storage/index.mdx
  website/content/docs/other-specifications/volume/host.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

adds changelog and upgrade guide
  .changelog/24909.txt
  website/content/docs/upgrade/upgrade-specific.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

fix spelling error
  website/content/docs/upgrade/upgrade-specific.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit d621211108c4d84f2622c108aa02bfd313b286e9
  .changelog/24892.txt
  api/acl.go
  lib/auth/binder.go
  lib/auth/binder_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/api-docs/acl/auth-methods.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

auth: adds option to enable verbose logging during sso (#24892)
  .changelog/24892.txt
  api/acl.go
  lib/auth/binder.go
  lib/auth/binder_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/api-docs/acl/auth-methods.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

event stream: adds ability to authenticate using Workload Identity (#24849)
  .changelog/24849.txt
  nomad/event_endpoint.go
  nomad/event_endpoint_test.go
  nomad/state/state_store.go
  nomad/stream/event_broker.go
  nomad/stream/event_broker_test.go
  nomad/stream/subscription.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit d621211108c4d84f2622c108aa02bfd313b286e9 (#24923)
  .changelog/24892.txt
  api/acl.go
  lib/auth/binder.go
  lib/auth/binder_test.go
  nomad/acl_endpoint.go
  nomad/acl_endpoint_test.go
  nomad/mock/acl.go
  nomad/structs/acl.go
  website/content/api-docs/acl/auth-methods.mdx
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng, @hashicorp/nomad-docs, @hashicorp/web-presence

address PR comments
  website/content/docs/concepts/plugins/storage/host-volumes.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

link to plugin spec from volume spec
  website/content/docs/other-specifications/volume/host.mdx
Owners: @hashicorp/nomad-docs, @hashicorp/web-presence, @hashicorp/github-nomad-core, @hashicorp/nomad-eng

event stream: adds ability to authenticate using Workload Identity (#24849)
  .changelog/24849.txt
  nomad/event_endpoint.go
  nomad/event_endpoint_test.go
  nomad/state/state_store.go
  nomad/stream/event_broker.go
  nomad/stream/event_broker_test.go
  nomad/stream/subscription.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

remove code with structs not in 1.9.x
  nomad/event_endpoint.go
  nomad/event_endpoint_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

address comments from code review
  nomad/structs/csi.go
  nomad/structs/volumes.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

backport of commit c1dc9ed75da559a0700a00e08b8b0df9fc9aecce
  .changelog/24922.txt
  nomad/structs/csi.go
  nomad/structs/csi_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng

CSI: don't overwrite context with empty value from request (#24922)
  .changelog/24922.txt
  nomad/structs/csi.go
  nomad/structs/csi_test.go
Owners: @hashicorp/github-nomad-core, @hashicorp/nomad-eng
